.toggle-wrapper
{
    display: inline-block;
    top: 4px;
    position: relative;
    width: 30px;
    height: 16px;
    
    .slider
    {
        border-radius: 20px;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-structure-0);
        transition: all var(--transition-md);
        &:before
        {
            border-radius: 50%;
            position: absolute;
            content: "";
            height: 12px;
            width: 12px;
            left: 3px;
            bottom: 2px;
            background-color: var(--color-alert);
            transition: all var(--transition-md);
        }
    }
    
    &.active
    {
        .slider
        {
            &:before
            {
                background-color: var(--color-add);
                -webkit-transform: translateX(12px);
                -ms-transform: translateX(12px);
                transform: translateX(12px);
            }
        }
    }
    
    &.disabled
    {
        .slider
        {
            &:before
            {
                background-color: var(--color-structure-3);
            }
        }
    }
    
    &.sm
    {
        top: 3px;
        width: 26px;
        height: 14px;
        &.active
        {
            .slider
            {
                &:before
                {
                    -webkit-transform: translateX(10px);
                    -ms-transform: translateX(10px);
                    transform: translateX(10px);
                }
            }
        }
        .slider
        {
            &:before
            {
                height: 10px;
                width: 10px;
                left: 3px;
            }
        }
    }
    
    &.lg
    {
        top: 7px;
        width: 44px;
        height: 26px;
        &.active
        {
            .slider
            {
                &:before
                {
                    -webkit-transform: translateX(16px);
                    -ms-transform: translateX(16px);
                    transform: translateX(16px);
                }
            }
        }
        .slider
        {
            &:before
            {
                height: 22px;
                width: 22px;
                left: 3px;
            }
        }
    }
    
    &:not(:only-child)
    {
        margin: 0 0 0 2px;
    }
}