<form [formGroup]="_formFieldControlService.dynamicFormGroup"
      (ngSubmit)="validate()"
      role="form">
    <terra-base-toolbar>
        <div class="btn-group" role="group">
            <terra-button [inputIcon]="'icon-save'"
                          [inputTooltipText]="'save' | translate:lang"
                          [inputType]="'submit'">
            </terra-button>
            <terra-button [inputIcon]="'icon-reset'"
                          [inputTooltipText]="'reset' | translate:lang"
                          (outputClicked)="onResetClick()">
            </terra-button>
        </div>
    </terra-base-toolbar>
    
    <div [class]="inputPortletStyle">
        <terra-portlet>
    
        <terra-dynamic-switch [inputFormFields]="inputFormFields"
                              [inputFormGroup]="_formFieldControlService.dynamicFormGroup"></terra-dynamic-switch>

    </terra-portlet>
    </div>
</form>
