<terra-base-toolbar>
    <ng-content></ng-content>
</terra-base-toolbar>
<div class="side-scroller">
    <template ngFor let-component [ngForOf]="inputComponents" let-last="last">
        <terra-dcl-wrapper *ngIf="!component.hidden" [inputIdentifier]="test" [inputType]="component.component"
                           [style.width]="component.defaultWidth"></terra-dcl-wrapper>
        <!--<terra-dynamic-module-loader [resolvedData]="module"></terra-dynamic-module-loader>-->
        <terra-button *ngIf="last" [inputIsSmall]="true" inputCaption="Close" (outputClicked)="onClick(component)"></terra-button>
        <div class="divider" *ngIf="!last"></div>
    </template>
</div>

<!--component.defaultWidth > '30%' &&-->