.terra-breadcrumb-bar .btn-toolbar
{
    line-height: $terra-btn-md-height;
    padding: 0px 6px;
}

.side-scroller
{
    position: relative;
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
}

.side-scroller.offset
{
    height: calc(100% - 40px) !important;
}

.side-scroller > *
{
    display: inline-block;
}

.divider
{
    width: 4px;
    background-color: $gray-light-3;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.divider + *
{
    margin-left: 8px;
}

.view
{
    vertical-align: top;
    height: 100%;
    overflow: auto;
}