.terra-breadcrumbs
{
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 33px;
    display: flex;
    li
    {
        float: left;
        cursor: pointer;
        div
        {
            text-decoration: none;
            padding: 8px 0 6px 28px;
            background: $gray-light-3;
            position: relative;
            display: block;
            float: left;
            color: $gray-dark;
            white-space: nowrap;
            &:hover
            {
                background: $blue;
            }
            &.active
            {
                color: #FFFFFF;
                background: $blue;
                cursor: default;
                &:after
                {
                    border-left-color: $blue;
                    cursor: default;
                }
            }
            &::after
            {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-left: 18px solid $gray-light-3;
                position: absolute;
                top: 60%;
                margin-top: -28px;
                left: 100%;
                z-index: 2;
            }
            &:not(.active):hover
            {
                color: $white;
                background-color: $blue !important;
                &:after
                {
                    border-left-color: $blue !important;
                }
            }
            &::before
            {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-left: 19px solid $gray-light-4;
                position: absolute;
                top: 60%;
                margin-top: -28px;
                margin-left: 1px;
                left: 100%;
                z-index: 1;
            }
        }
        &:last-child div
        {
            &.active:after
            {
                border-color: $brand-primary-darker;
                cursor: default;
            }
            &::after
            {
                border: 7px solid #E0E0E0;
                height: 47px;
            }
            &:not(.active):hover:after
            {
                border-color: $brand-primary !important;
            }
        }
        &:first-child div
        {
            padding-left: 16px;
        }
    }
}
.side-scroller
{
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    white-space: nowrap;
}

.side-scroller.offset
{
    height: calc(100% - 50px) !important;
}

.side-scroller > *
{
    display: inline-block;
}

.divider
{
    width: 1px;
    background-color: $gray-light-2-half;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.view:not(.first)
{
    vertical-align: top;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    position: relative;
    padding: 0;
    &:not(.first)
    {
        background-color: $white;
    }
}

.view.hasDivider
{
    padding: 0 5px 0 4px;
    margin-right: -4px;
}

.view.first
{
    padding-left: 0 !important;
}

.view.last
{
    padding: 0 0 0 4px;
}

///// Fixed Columns for Terra-Navigator ///////
@media (min-width: 768px) {
    .col-md-300px
    {
        float: left;
        width: 300px;
    }
    .col-md-300px-anti
    {
        float: left;
        width: calc(100% - 300px);
    }
}

// TODO: @vwiebe, refactoring

/deep/ terra-split-view .modal-content terra-split-view .hasDivider
{
    padding: 0 3px 0 4px !important;
}

/deep/ terra-split-view .modal-content terra-split-view .view.last:not(.first)
{
    padding: 0 0 0 4px !important;
}

/deep/ terra-split-view .modal-content terra-split-view .divider
{
    display: block !important;
}

/deep/ .hasSplitView .modal-body
{
    height: 525px;
}