.terra-breadcrumb-bar .btn-toolbar
{
    line-height: $terra-btn-md-height;
    padding: 0px 6px;
}

.side-scroller
{
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    height: 100%;
    white-space: nowrap;
}

.side-scroller.offset
{
    height: calc(100% - 40px) !important;
}

.side-scroller > *
{
    display: inline-block;
}

.divider
{
    width: 4px;
    background-color: $gray-light-3;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.view
{
    vertical-align: top;
    height: 100%;
    overflow: auto;
    white-space: normal;
    position: relative;
    padding: 0px;
}

.view.hasDivider
{
    padding: 0px 8px 0px 4px;
    margin-right: -4px;
}

.view.first
{
    padding-left: 0px;
}

.view.last
{
    padding: 0px 0px 0px 4px;
}