.side-scroller
{
    height: 100%;
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
}

.side-scroller > *
{
    display: inline-block;
}

.divider
{
    width: 5px;
    height: 100%;
    background-color: grey;
    //TODO use color from variables
    //background: #E7E7E7 url(./images/thumb_vertical.png) center center no-repeat; //TODO move image file to assets
    position: absolute;
    top: 0px;
    bottom: 0px;
    cursor: col-resize;
}

.divider + *
{
    margin-left: 10px;
}

.view
{
    vertical-align: top;
}