<div class="editor-container">
    <quill-editor [placeholder]="_placeholder"
                  [(ngModel)]="_value"
                  (onContentChanged)="ngModelChange.emit(_value)"
                  [style]="{minHeight:inputMinHeight ,height:inputFixedHeight}"
                  [modules]="_modules">
    </quill-editor>
    <textarea class="raw-input"
              [class.visible]="showCodeView"
              [(ngModel)]="rawContent">
    </textarea>
    <terra-button [class.visible]="showCodeView"
                  class="close-button"
                  inputIcon="icon-close"
                  (outputClicked)="closeCodeView()">
    </terra-button>
</div>
