<form>
    <terra-base-toolbar>
        <div class="btn-group" role="group">
            <terra-button [inputType]="'submit'"
                          [inputIcon]="'icon-search'"
                          (outputClicked)="searchBtnClicked()">
            </terra-button>
            <terra-button [inputIcon]="'icon-reset'"
                          (outputClicked)="resetBtnClicked()">
            </terra-button>
        </div>
    </terra-base-toolbar>
    <terra-portlet>
        <ng-content></ng-content>
    </terra-portlet>
</form>
