<div class="terra-tree">
    <ul>
        <ng-template ngFor let-leaf [ngForOf]="inputLeafList">
            <li class="node leaf" [ngClass]="{'collapsed': !leaf.isOpen, 'active': leaf.isActive}">
                <div class="leaf-titel flex-container" (click)="onLeafClick(leaf)">
                    <terra-checkbox
                        (ngModelChange)="onCheckboxValueChange($event, leaf)"
                        [(ngModel)]="leaf.checkboxChecked"
                        [isIndeterminate]="leaf.isIndeterminate">
                    </terra-checkbox>
                    <span class="leafTitle"> {{leaf.caption}}</span>
                </div>
                <span class="node-toggle" *ngIf="leaf.subLeafList" (click)="toggleOpen(leaf)"></span>
                <terra-checkbox-tree
                    *ngIf="leaf.subLeafList"
                    [inputLeafList]="leaf.subLeafList"
                    [inputParentLeafList]="leafList"
                    (valueChange)="valueChange.emit($event)"
                    [inputCompleteLeafList]="inputCompleteLeafList">
                </terra-checkbox-tree>
            </li>
        </ng-template>
    </ul>
</div>
