<terra-pager *ngIf="inputHasPager"
             [inputPagingSize]="pagingSize"
             [inputDefaultPagingSize]="defaultPagingSize"
             [inputPagingData]="pagingData"
             (outputDoPaging)="doPaging($event)">
</terra-pager>
<!--<terra-button (clicked)="openOverlayDataTableSettings()" icon="icon-settings" caption="Table Settings" [isSmall]="true" tooltipText="Einstellungen"></terra-button>-->

<div class="table-responsive">
    <context-menu-holder></context-menu-holder>
    <table class="table data-table table-striped table-bordered">
        <thead>
        <tr>
            <th *ngIf="inputHasCheckboxes" width="25px">
                <terra-checkbox #viewChildHeaderCheckbox type="checkbox"
                                (change)="onHeaderCheckboxChange(viewChildHeaderCheckbox.value)"
                                [value]="_isHeaderCheckboxChecked"></terra-checkbox>
            </th>
            <ng-template ngFor let-header [ngForOf]="_headerList">
                <th *ngIf="!header.isHidden"
                    width="{{header.width}}px"
                    [container]="'body'"
                    [placement]="checkTooltipPlacement(header.tooltipPlacement)"
                    [tooltip]="header.tooltipText"
                    [isDisabled]="!header.tooltipText || header.tooltipText.length == 0"
                    [ngStyle]="getTextAlign(header)">
                    <span>{{header.caption}}</span>
                </th>
            </ng-template>
        </tr>
        </thead>
        <tbody *ngIf="_rowList">
        <ng-template ngFor let-row [ngForOf]="_rowList">
            <tr [ngClass]="{'selected': row.selected, 'isActive': row.isActive}"
                [context-menu]="row.contextMenuLinkList">
                <td *ngIf="inputHasCheckboxes">
                    <terra-checkbox #rowCheckbox type="checkbox" [value]="row.selected"
                                    (change)="onRowCheckboxChange(rowCheckbox.value, row)"></terra-checkbox>
                </td>
                <ng-template ngFor let-cell [ngForOf]="row.cellList" let-i="index">
                    <template #tdTooltip>
                        <div [innerHTML]="cell.tooltipText"></div>
                    </template>
                    <td *ngIf="!cell.isHidden"
                        (click)="rowClicked(cell, row)"
                        [container]="'body'"
                        [placement]="checkTooltipPlacement(cell.tooltipPlacement)"
                        [tooltip]="tdTooltip"
                        [isDisabled]="!cell.tooltipText || cell.tooltipText.length == 0"
                        [ngStyle]="getTextAlign(_headerList[i])">
                        <span [ngClass]="cell.icon"
                              [ngStyle]="{color: cell.color}">{{cell.caption}}
                        </span>
                        <div class="btn-group" *ngIf="cell.buttonList">
                            <ng-template ngFor let-button [ngForOf]="cell.buttonList">
                                <terra-button *ngIf="!button.isHidden"
                                              (outputClicked)="button.clickFunction()"
                                              [inputIcon]="button.icon"
                                              [inputIsPrimary]="button.isPrimary"
                                              [inputIsSecondary]="button.isSecondary"
                                              [inputIsTertiary]="button.isTertiary"
                                              [inputIsDisabled]="button.isDisabled"
                                              [inputTooltipPlacement]="checkTooltipPlacement(button.tooltipPlacement)"
                                              [inputCaption]="button.caption"
                                              [inputIsSmall]="true"
                                              [inputTooltipText]="button.tooltipText"></terra-button>
                            </ng-template>
                        </div>
                    </td>
                </ng-template>
            </tr>
        </ng-template>
        </tbody>
    </table>
    <div *ngIf="!_rowList && !inputHasInitialLoading"
         class="initial-loading-warn">{{_langPrefix+'.initialLoading' | translate:lang:{ dataType: inputDataType} }}
    </div>
</div>

<!--<terra-viewChildOverlay #viewChildOverlayDataTableSettings [inputSaveButtonTooltip]="saveButtonTooltip"-->
<!--[inputCancelButtonTooltip]="cancelButtonTooltip" overlayTitle="Data Table Settings" [inputIsCloseable]="false"-->
<!--[inputIsLarge]="true" [inputHasSaveButton]="true" [inputHasSecondaryButton]="true"-->
<!--(outputPrimaryButtonClicked)="primaryClicked($event)" (outputSecondaryButtonClicked)="secondaryClicked($event)">-->
<!--<h5>Spalten ein- / ausblenden</h5>-->
<!--<div>-->
<!--<ng-template ngFor let-row [ngForOf]="overlayRowList">-->
<!--<div>-->
<!--<terra-checkbox #overlayRowCheckbox type="checkbox" [value]="row.selected"-->
<!--(change)="onOverlayCheckboxChange(overlayRowCheckbox.value, row)"></terra-checkbox>-->
<!--<ng-template ngFor let-cell [ngForOf]="row.cellList">-->
<!--<span *ngIf="!cell.isHidden">{{cell.caption}}</span>-->
<!--</ng-template>-->
<!--</div>-->
<!--</ng-template>-->
<!--</div>-->
<!--</terra-viewChildOverlay>-->
