#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
/component-documentation/
npm-debug.log
coverage
typings
typings.json
**/*.ts
**/*.html
!*.d.ts
!src/*.d.ts
!tests/*.d.ts
.travis.yml
tsconfig.json
/public
/e2e
/config
/tmp
/typings
.editorconfig
.npmignore
angular-cli-build.js
tslint.json
gulp.config.js
gulpfile.js
/src/favicon.ico
/src/index.html
/src/system-config.d.ts
/src/system-config.js
/src/typings.d.ts
/src/system-config.*

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
