dist: trusty
sudo: false

language: node_js

node_js:
    - '12'

addons:
    chrome: stable

cache:
    directories:
        - ./node_modules

install:
    - npm run reinstall

jobs:
    include:
        - name: 'Test Build'
          script: npm run build-test
        - name: 'Headless Unit Tests'
          script: npm run test-headless
        - name: 'TSlint'
          script: npm run lint
