<form [formGroup]="inputFormGroup">
    <ng-container *ngFor="let formField of inputFormFields">
        <ng-container [ngSwitch]="formField?.controlType">
            <terra-text-input *ngSwitchCase="controlTypeEnum.INPUT_TEXT"
                              [ngClass]="{'horizontalGroupEntry': inputSubSwitch}"
                              [formControlName]="formField.key"
                              [inputName]="formField.label  | translate:lang"
                              [inputIsRequired]="formField.required"
                              [inputIsPassword]="formField.isPassword"
                              [inputIsIban]="formField.isIBAN"
                              [inputIsReadonly]="formField.isReadOnly"
                              [(ngModel)]="formField.defaultValue"
                              [inputTooltipText]="formField.tooltip"
                              [inputTooltipPlacement]="formField.tooltipPlacement">
            </terra-text-input>
            
            <terra-text-area-input *ngSwitchCase="controlTypeEnum.INPUT_TEXT_AREA"
                                   [ngClass]="{'horizontalGroupEntry': inputSubSwitch}"
                                   [formControlName]="formField.key"
                                   [inputName]="formField.label  | translate:lang"
                                   [inputIsRequired]="formField.required"
                                   [(ngModel)]="formField.defaultValue"
                                   [inputTooltipText]="formField.tooltip"
                                   [inputTooltipPlacement]="formField.tooltipPlacement">
            </terra-text-area-input>
            
            <terra-number-input *ngSwitchCase="controlTypeEnum.INPUT_NUMBER"
                                [ngClass]="{horizontalGroupEntry: inputSubSwitch}"
                                [formControlName]="formField.key"
                                [inputName]="formField.label  | translate:lang"
                                [inputIsRequired]="formField.required"
                                [(ngModel)]="formField.defaultValue"
                                [inputTooltipText]="formField.tooltip"
                                [inputTooltipPlacement]="formField.tooltipPlacement">
            </terra-number-input>
    
            <terra-checkbox *ngSwitchCase="controlTypeEnum.CHECK_BOX"
                            [formControlName]="formField.key"
                            [inputCaption]="formField.label | translate:lang"
                            [(ngModel)]="formField.defaultValue">
            </terra-checkbox>
            
            <terra-double-input *ngSwitchCase="controlTypeEnum.INPUT_DOUBLE"
                                [ngClass]="{horizontalGroupEntry: inputSubSwitch}"
                                [formControlName]="formField.key"
                                [inputName]="formField.label  | translate:lang"
                                [inputIsRequired]="formField.required"
                                [inputIsPriceInput]="formField.isPrice"
                                [inputDecimalCount]="formField.decimalCount"
                                [(ngModel)]="formField.defaultValue"
                                [inputTooltipText]="formField.tooltip"
                                [inputTooltipPlacement]="formField.tooltipPlacement">
            </terra-double-input>
            
            <terra-category-picker *ngSwitchCase="controlTypeEnum.CATEGORY_PICKER"
                                   [ngClass]="{horizontalGroupEntry: inputSubSwitch}"
                                   [formControlName]="formField.key"
                                   [inputName]="formField.label"
                                   [inputIsDisabled]="inputIsDisabled"
                                   [inputCategoryService]="formField.categoryService">
            </terra-category-picker>
            
            <terra-select-box *ngSwitchCase="controlTypeEnum.SELECT_BOX"
                              [ngClass]="{horizontalGroupEntry: inputSubSwitch}"
                              [formControlName]="formField.key"
                              [inputName]="formField.label | translate:lang"
                              [inputIsRequired]="formField.required"
                              [inputListBoxValues]="formField.selectBoxValues"
                              [(ngModel)]="formField.defaultValue"
                              [inputTooltipText]="formField.tooltip"
                              [inputTooltipPlacement]="formField.tooltipPlacement">
            </terra-select-box>
            
            <terra-date-picker *ngSwitchCase="controlTypeEnum.DATE_PICKER"
                               [ngClass]="{horizontalGroupEntry: inputSubSwitch}"
                               [formControlName]="formField.key"
                               [inputName]="formField.label | translate:lang"
                               [inputIsRequired]="formField.required"
                               [inputOpenCalendarTop]="formField.openCalenderTop"
                               [(ngModel)]="formField.defaultValue">
            </terra-date-picker>
            
            <terra-multi-check-box *ngSwitchCase="controlTypeEnum.MULTI_CHECK_BOX"
                                   [ngClass]="{horizontalGroupEntry: inputSubSwitch}"
                                   [formControlName]="formField.key"
                                   [inputName]="formField.label | translate:lang">
            </terra-multi-check-box>
    
            <ng-container *ngSwitchCase="controlTypeEnum.HORIZONTAL_CONTAINER">
                <div class="horizontalGroup">
                    <span class="horizontalGroupLabel">{{ formField.label }}: </span>
                    <div>
                        <terra-dynamic-switch class="subSwitch"
                                              [formGroupName]="formField.key"
                                              [inputFormGroup]="inputFormGroup.controls[formField.key]"
                                              [inputFormFields]="formField.containerEntries"
                                              [inputSubSwitch]="true">
                        </terra-dynamic-switch>
                    </div>
                </div>
            </ng-container>
    
            <ng-container *ngSwitchCase="controlTypeEnum.VERTICAL_CONTAINER">
                <div class="verticalGroup">
                    <span class="verticalGroupLabel">{{ formField.label }}: </span>
                    <terra-dynamic-switch class="subSwitch"
                                          [formGroupName]="formField.key"
                                          [inputFormGroup]="inputFormGroup.controls[formField.key]"
                                          [inputFormFields]="formField.containerEntries"
                                          [inputSubSwitch]="true">
                    </terra-dynamic-switch>
                </div>
            </ng-container>
            
            <!-- TODO extract into own component or condition refactoring -->
            <!--<ng-container *ngSwitchCase="'conditionalContainer'">-->
                <!--<div class="conditionalContainer" >-->
                    <!--<ng-container [ngSwitch]="formField?.conditionalType">-->
                        <!--<terra-select-box *ngSwitchCase="'selectBox'"-->
                                          <!--[ngClass]="{horizontalGroupEntry: inputSubSwitch}"-->
                                          <!--[formControlName]="formField.key"-->
                                          <!--[inputName]="formField.label | translate:lang"-->
                                          <!--[inputListBoxValues]="formField.conditionalValues"-->
                                          <!--(ngModelChange)="onConditionChanged(formField)">-->
                        <!--</terra-select-box>-->
                        <!---->
                        <!--<div *ngSwitchCase="'radioGroup'">-->
                            <!--<terra-radio-button [formControlName]="formField.key"-->
                                                <!--*ngFor="let conditionalValue of formField.conditionalValues"-->
                                                <!--[inputValue]="conditionalValue.defaultValue"-->
                                                <!--[inputCaption]="conditionalValue.caption"-->
                                                <!--[(ngModel)]="inputFormGroup.controls[formField.key].defaultValue[formField.key]"-->
                                                <!--(ngModelChange)="onConditionChanged(formField)">-->
                            <!--</terra-radio-button>-->
                        <!--</div>-->
                        <!---->
                        <!--<terra-checkbox *ngSwitchCase="'checkBox'"-->
                                        <!--[formControlName]="formField.key"-->
                                        <!--[inputCaption]="formField.label"-->
                                        <!--[(ngModel)]="inputFormGroup.controls[formField.key].defaultValue[formField.key]"-->
                                        <!--(ngModelChange)="onConditionChanged(formField)">-->
                        <!--</terra-checkbox>-->
                        <!---->
                        <!--<div class="conditionalSwitch">-->
                            <!--<terra-dynamic-switch [inputFormGroup]="inputFormGroup.controls[formField.key].controls[inputFormGroup.controls[formField.key].defaultValue[formField.key]]"-->
                                                  <!--[inputFormFields]="formField.conditionalEntries[inputFormGroup.controls[formField.key].defaultValue[formField.key]]"-->
                                                  <!--[inputSubSwitch]="true">-->
                            <!--</terra-dynamic-switch>-->
                        <!--</div>-->
                    <!--</ng-container>-->
                <!--</div>-->
            <!--</ng-container>-->
            
        </ng-container>
    </ng-container>
</form>
