:host-context(div.horizontalGroup terra-portlet)
{
    form.horizontalGroupForm
    {
        display: flex;
        
        > * {
            flex-grow: 1;
            flex-basis: 0;
            align-self: center;
        }
    
        > :not(:last-child)
        {
            margin-right: 5px;
        }
    }
}

.horizontalGroup
{
    padding: var(--space-sm) 0;
    
    .horizontalGroupLabel
    {
        display: block;
        font-weight: bold;
    }
    
    .horizontalGroupEntry
    {
        width: 100%;
    }
}

.verticalGroup
{
    padding: var(--space-sm) 0;
    width: 100%;
    
    .subSwitch
    {
        width: 100%;
    }
    
    .verticalGroupLabel
    {
        font-weight: bold;
    }
    
    .verticalGroupEntry
    {
        width: 100%;
    }
    
    &:not(:last-child)
    {
        margin-right: 0;
    }
}

.conditionalSwitch
{
    margin-top: 5px;
}
