<terra-portlet *ngIf="inputUsePortlet;else formWithoutPortlet" [inputPortletHeader]="inputPortletHeader">
    <terra-dynamic-switch [inputFormFields]="inputFormFields"
                          [inputFormGroup]="inputFormGroup"
                          [inputUsePortlet]="false"></terra-dynamic-switch>
</terra-portlet>

<ng-template #formWithoutPortlet>
    <form [formGroup]="inputFormGroup">
        <ng-container *ngFor="let formField of inputFormFields">
            <ng-container [ngSwitch]="formField?.controlType">
                <terra-text-input *ngSwitchCase="'inputText'"
                                  [ngClass]="{'horizontalGroupEntry': inputSubSwitch}"
                                  [formControlName]="formField.key"
                                  [inputName]="formField.label  | translate:lang"
                                  [inputIsRequired]="formField.required"
                                  [inputIsPassword]="formField.isPassword"
                                  [inputIsIban]="formField.isPassword"
                                  [inputIsReadonly]="formField.isReadOnly"
                                  [(ngModel)]="formField.defaultValue"
                                  [inputTooltipText]="formField.tooltip"
                                  [inputTooltipPlacement]="formField.tooltipPlacement">
                </terra-text-input>
                
                <terra-text-area-input *ngSwitchCase="'inputTextArea'"
                                       [ngClass]="{'horizontalGroupEntry': inputSubSwitch}"
                                       [formControlName]="formField.key"
                                       [inputName]="formField.label  | translate:lang"
                                       [inputIsRequired]="formField.required"
                                       [(ngModel)]="formField.defaultValue"
                                       [inputTooltipText]="formField.tooltip"
                                       [inputTooltipPlacement]="formField.tooltipPlacement">
                </terra-text-area-input>
                
                <terra-number-input *ngSwitchCase="'inputNumber'"
                                    [ngClass]="{horizontalGroupEntry: inputSubSwitch}"
                                    [formControlName]="formField.key"
                                    [inputName]="formField.label  | translate:lang"
                                    [inputIsRequired]="formField.required"
                                    [(ngModel)]="formField.defaultValue"
                                    [inputTooltipText]="formField.tooltip"
                                    [inputTooltipPlacement]="formField.tooltipPlacement">
                </terra-number-input>
                
                <terra-checkbox *ngSwitchCase="'checkBox'"
                                [formControlName]="formField.key"
                                [inputCaption]="formField.label | translate:lang"
                                [(ngModel)]="formField.defaultValue">
                </terra-checkbox>
                
                <terra-double-input *ngSwitchCase="'inputDouble'"
                                    [ngClass]="{horizontalGroupEntry: inputSubSwitch}"
                                    [formControlName]="formField.key"
                                    [inputName]="formField.label  | translate:lang"
                                    [inputIsRequired]="formField.required"
                                    [inputIsPriceInput]="formField.isPrice"
                                    [inputDecimalCount]="formField.decimalCount"
                                    [(ngModel)]="formField.defaultValue"
                                    [inputTooltipText]="formField.tooltip"
                                    [inputTooltipPlacement]="formField.tooltipPlacement">
                </terra-double-input>
                
                <terra-select-box *ngSwitchCase="'selectBox'"
                                  [ngClass]="{horizontalGroupEntry: inputSubSwitch}"
                                  [formControlName]="formField.key"
                                  [inputName]="formField.label | translate:lang"
                                  [inputIsRequired]="formField.required"
                                  [inputListBoxValues]="formField.selectBoxValues"
                                  [(ngModel)]="formField.defaultValue"
                                  [inputTooltipText]="formField.tooltip"
                                  [inputTooltipPlacement]="formField.tooltipPlacement">
                </terra-select-box>
                
                <terra-date-picker *ngSwitchCase="'datePicker'"
                                   [ngClass]="{horizontalGroupEntry: inputSubSwitch}"
                                   [formControlName]="formField.key"
                                   [inputName]="formField.label | translate:lang"
                                   [inputIsRequired]="formField.required"
                                   [inputOpenCalendarTop]="formField.openCalenderTop"
                                   [(ngModel)]="formField.defaultValue">
                </terra-date-picker>
                
                <ng-container *ngSwitchCase="'horizontalContainer'">
                    <div class="horizontalGroup">
                        <span class="horizontalGroupLabel">{{ formField.label }}: </span>
                        <div>
                            <terra-dynamic-switch class="subSwitch"
                                                  [formGroupName]="formField.key"
                                                  [inputFormGroup]="inputFormGroup.controls[formField.key]"
                                                  [inputFormFields]="formField.containerEntries"
                                                  [inputSubSwitch]="true">
                            </terra-dynamic-switch>
                        </div>
                    </div>
                </ng-container>
                
                <ng-container *ngSwitchCase="'verticalContainer'">
                    <div class="verticalGroup">
                        <terra-dynamic-switch class="subSwitch"
                                              [formGroupName]="formField.key"
                                              [inputFormGroup]="inputFormGroup.controls[formField.key]"
                                              [inputFormFields]="formField.containerEntries"
                                              [inputSubSwitch]="true"
                                              [inputPortletHeader]="formField.label"
                                              [inputUsePortlet]="true">
                        </terra-dynamic-switch>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </form>
</ng-template>
