@import '../../../assets/styles/variables';

quill-editor
{
    .ql-container
    {
        background-color: $color-structure-0;
    }
    .ql-snow.ql-toolbar
    {
        button:hover, button:focus, button.ql-active
        {
            color: $color-active;

            .ql-stroke
            {
                stroke: $color-active;
            }
            .ql-fill
            {
                fill: $color-active;
            }
        }

        .ql-picker-item
        {
            &.ql-selected, &:hover
            {
                color: $color-active;
            }
        }
        .ql-picker-label
        {
            &.ql-active, &:hover
            {
                color: $color-active;
                .ql-stroke
                {
                    stroke: $color-active;
                }
            }
        }
    }
}
