<terra-base-toolbar [inputIsBreadcrumbs]="true" class="main-breadcrumbs">
    <ul class="terra-breadcrumbs">
        <ng-container *ngFor="let container of breadcrumbContainer">
            <li *ngIf="!container.isHidden">
                <div>
                    <a class="ellipsis"
                       [routerLink]="container.currentSelectedBreadcrumb.routerLink"
                       [ngClass]="{'active' : checkActiveRoute(container.currentSelectedBreadcrumb)}">
                        {{container.currentSelectedBreadcrumb.name}}
                    </a>
                    <a class="icon-caret" *ngIf="container.breadcrumbList.length > 1">
                        <ul class="context-menu">
                            <ng-template ngFor let-breadcrumb [ngForOf]="container.breadcrumbList" let-i="index">
                                <li>
                                    <a [routerLink]="breadcrumb.routerLink" (click)="updateBreadcrumb(breadcrumb)">
                                        {{ breadcrumb.name }}
                                        <span class="right-icon icon-cancel" (click)="removeBreadcrumb(breadcrumb)"></span>
                                    </a>
                                </li>
                            </ng-template>
                        </ul>
                    </a>
                </div>
                <a class="icon-next"></a>
            </li>
        </ng-container>
    </ul>
</terra-base-toolbar>
