.terra-breadcrumbs
{
    list-style: none;
    padding: 0;
    margin: 0;
    height: var(--terra-breadcrumbs-height, var(--breadcrumbs-height));
    transition: height var(--transition-lg);
    display: flex;
    
    .terra-breadcrumb-container
    {
        cursor: pointer;
        
        .terra-breadcrumb-wrapper
        {
            .terra-breadcrumb
            {
                font-weight: var(--font-weight-1);
                font-size: var(--font-size-1);
                color: var(--color-structure-0);
                max-width: 120px; // TODO
                text-overflow: ellipsis;
                overflow: hidden;
    
                &.active
                {
                    color: var(--color-active);
                    cursor: default;
                }
    
                &:not(.active):hover
                {
                    color: var(--color-active);
                }
            }
            
            text-decoration: none;
            padding: var(--terra-breadcrumbs-li-padding, (0 var(--space-md)));
            line-height: var(--terra-breadcrumbs-line-height, var(--breadcrumbs-height));
            transition: padding var(--transition-lg);
            position: relative;
            display: flex;
            float: left;
            color: var(--color-structure-0);
            white-space: nowrap;
            height: var(--breadcrumbs-height);
            
            &:hover
            {
                color: var(--color-active);
            }
            .icon-caret
            {
                overflow: hidden;
                font-size: var(--font-size-6);
                line-height: var(--terra-breadcrumbs-icon-caret-line-height, var(--breadcrumbs-height));
                padding-left: 8px; // TODO
                
                &:hover
                {
                    .context-menu
                    {
                        display: block;
                        visibility: visible;
                        opacity: 1;
                        transition: all var(--transition-0);
                        transition-delay: var(--transition-delay-0);
                    }
                }
                .context-menu
                {
                    position: fixed;
                    width: 150px; // TODO
                    top: calc(var(--breadcrumbs-height) + var(--navbar-height) + var(--tabbar-height) - var(--space-sm));
                    transition: all var(--transition-0);
                    transition-delay: var(--transition-delay-0);
                    li
                    {
                        float: none;
                        display: flex;
                        align-items: center;
                        height: 28px; // TODO
                        
                        &:hover
                        {
                            background-color: var(--color-structure-9);
                        }
                        
                        a
                        {
                            padding: 0 18px 0 10px; // TODO
                        }
                        
                        span
                        {
                            margin-right: 5px; // TODO
                        }
                    }
                }
            }
        }
        .icon-next
        {
            &::before
            {
                display: inline-block;
                line-height: var(--terra-breadcrumbs-icon-next-line-height, var(--breadcrumbs-height));
                font-size: var(--font-size-6);
                color: var(--color-structure-4);
            }
        }
    }
}

.main-breadcrumbs
{
    --terra-breadcrumbs-wrapper-z-index: var(--zIndex-2);
    --terra-breadcrumbs-wrapper-background-color: var(--color-structure-11);
    --terra-breadcrumbs-wrapper-border-radius: none;
}
