<terra-button inputCaption="info alert"
              (click)='showInformationAlert()'>
</terra-button>
<terra-button inputCaption="success alert"
              (click)='showSuccessAlert()'>
</terra-button>
<terra-button inputCaption="error alert"
              (click)='showErrorAlert()'>
</terra-button>
<terra-button inputCaption="warning alert"
              (click)='showWarningAlert()'>
</terra-button>
<terra-alert-panel style="display:none;"></terra-alert-panel>
<!-- Display:none hier bitte ignorieren -->