.info-box
{
    background-color: var(--color-structure-0);
    -moz-border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
    padding: var(--space-md);
    min-width: 200px;
    margin: var(--space-xs);
    height: var(--input-info-box-height, 150px);
    box-shadow: var(--box-shadow);
    
    &.selected
    {
        background-color: var(--color-active);
        
        .info-box-inner
        {
            .info-box-text
            {
                color: var(--color-structure-0);
            }
        }
        .info-box-footer
        {
            .info-box-id
            {
                color: var(--color-structure-0);
            }
        }
    }
    &.empty
    {
        background: var(--color-structure-4);
        justify-content: center;
        line-height: 8rem;
    }
    .info-box-inner
    {
        display: flex;
        justify-content: space-between;
        
        &.has-footer
        {
            height: calc(100% - 26px);
        }
        
        .info-box-text
        {
            padding-right: 0.8rem;
            padding-bottom: 0.4rem;
            max-width: 77%;
            white-space: nowrap;
            color: var(--color-structure-11);
            overflow: var(--info-box-text-overflow, hidden);
        }
    }
    .info-box-footer
    {
        display: flex;
        justify-content: space-between;
        .info-box-id
        {
            margin: 7px 4px 0 0;
            color: var(--color-structure-8);
        }
    }
}