<div class="input-wrapper"
     placement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     [isDisabled]="!inputTooltipText"
     [ngClass]="{'error': !isValid, 'disabled': inputIsDisabled, 'isSmall': inputIsSmall}"
     container="body">

    <input id="{{id}}"
           type="number"
           [(ngModel)]="value"
           name="{{inputName}}"
           (blur)="onBlur()"
           autocomplete="off"
           [disabled]="inputIsDisabled"
           pattern="{{regex}}"
           step="{{step}}"
           [lang]="locale"
           placeholder="{{inputIsRequired ? inputName + '*' : inputName}}"
           [ngClass]="{'isSmall' : inputIsSmall, 'isEmpty' : !innerValue && innerValue !== 0, 'price-input': inputIsPriceInput}">
    <label terraLabelTooltip
           [nameOfInput]="inputName"
           [tooltipTextOfInput]="inputTooltipText"
           [(tooltipOfInputDisabled)]="isTooltipDisabled"
           [(tooltipText)]="helperTooltip"
           [(tooltipDisabled)]="isHelperTooltipDisabled"
           [placement]="inputTooltipPlacement"
           [tooltip]="helperTooltip"
           [isDisabled]="isHelperTooltipDisabled"
           [container]="'body'"
           *ngIf="innerValue || innerValue === 0" htmlFor="{{id}}">{{inputName}}
        <span *ngIf="inputIsRequired">*</span>
    </label>
</div>
