<div class="input-unit-v1"
     placement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     [isDisabled]="!inputTooltipText"
     [ngClass]="{'error': !isValid, 'disabled': isDisabled, 'isSmall': inputIsSmall}"
     container="body">
    <label *ngIf="_innerValue || _innerValue === 0" htmlFor="{{_id}}">{{inputName}}
        <span *ngIf="inputIsRequired">*</span>
    </label>
    <input id="{{_id}}"
           [ngClass]="{'price-input': inputIsPriceInput}"
           type="number"
           [(ngModel)]="value"
           name="{{inputName}}"
           (blur)="onBlur()"
           autocomplete="off"
           [disabled]="isDisabled"
           pattern="{{regex}}"
           step="{{_step}}"
           placeholder="{{inputIsRequired ? inputName + '*' : inputName}}"
           [ngClass]="{'isSmall' : inputIsSmall, 'isEmpty' : !_innerValue && _innerValue !== 0}">
</div>
