<div class="input-wrapper"
     placement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     [isDisabled]="!inputTooltipText"
     [ngClass]="{'error': !isValid, 'disabled': isDisabled, 'isSmall': inputIsSmall}"
     container="body">

    <input id="{{id}}"
           [ngClass]="{'price-input': inputIsPriceInput}"
           type="number"
           [(ngModel)]="value"
           name="{{inputName}}"
           (blur)="onBlur()"
           autocomplete="off"
           [disabled]="isDisabled"
           pattern="{{regex}}"
           step="{{step}}"
           [lang]="locale"
           placeholder="{{inputIsRequired ? inputName + '*' : inputName}}"
           [ngClass]="{'isSmall' : inputIsSmall, 'isEmpty' : !innerValue && innerValue !== 0}">
    <label *ngIf="innerValue || innerValue === 0" htmlFor="{{id}}">{{inputName}}
        <span *ngIf="inputIsRequired">*</span>
    </label>
</div>
