<terra-infobox>
    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy<br>
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br>
        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd <br>
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum <br>
        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        <br> ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et <br>
        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea <br>
        takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,<br>
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore <br>
        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et <br>
        justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus <br>
        est Lorem ipsum dolor sit amet.<br><br>

        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie <br>
        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et <br>
        iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis <br>
        dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
    </p>
</terra-infobox>
