@import "../terra-input.component";

.input-unit-v1
{
    overflow: inherit;
}

.date-picker /deep/
{
    .mydp
    {
        border: none;
        overflow: visible;
        position: inherit;
        height: 100%;
        [class*=" icon-"]
        {
            font-family: mydatepicker !important;
        }
        .icon-cross,
        .icon-calendar
        {
            font-size: 20px;
        }
    }
    
    .selectiongroup
    {
        display: block;
        overflow: visible;
        position: inherit;
        height: 100%;
        
        input
        {
            color: #333333;
            background-color: white;
            border: none;
            box-shadow: none;
            line-height: 1.2em !important;
            padding: 16px 0px 2px 12px !important;
            width: calc(100% - 68px);
            height: inherit !important;
            font-size: 1em !important;
            font-family: $font !important;
            text-align: left;
            outline: none !important;
            transition: all .2s;
            overflow: visible;
            position: inherit;
            display: inline-block;
        }
    }
    
    .selbtngroup
    {
        width: 68px;
        display: inline-block;
        text-align: right;
        vertical-align: bottom;
        padding-right: 4px;
        
        .btnpicker
        {
            background-color: transparent;
            color: $brand-primary;
            width: 24px;
            border: 0px;
            //css for myDateModel select button
            .icon-calendar
            {
                line-height: 1.5em !important;
                
                &:before
                {
                    content: '\e925';
                }
            }
        }
        
        .btnclear
        {
            background-color: transparent;
            color: $brand-secondary;
            width: 22px;
            border: 0px;
            //css for clear selected myDateModel button
            .icon-cross
            {
                line-height: 1.5em !important;
                
                &:before
                {
                    content: '\e910';
                }
            }
        }
    }
    
    .selector
    {
        border: 1px solid $gray-light-2;
        
        &:before
        {
            border-bottom-color: $gray-light-2;
        }
        &:focus
        {
            border-color: $gray-light-2;
            
            &:before
            {
                border-bottom-color: $gray-light-2;
            }
        }
        .header
        {
            .icon-left
            {
                &:focus
                {
                    color: $black;
                }
                &:hover
                {
                    color: $brand-primary;
                }
                &:before
                {
                    content: '\e912';
                }
            }
            .icon-right
            {
                &:focus
                {
                    color: $black;
                }
                &:hover
                {
                    color: $brand-primary;
                }
                &:before
                {
                    content: '\e913';
                }
            }
            .monthlabel
            {
                &:focus
                {
                    color: $black;
                }
                &:hover
                {
                    color: $brand-primary;
                }
            }
        }
    }
}
