<div class="select-box-wrapper"
     placement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     [isDisabled]="!inputTooltipText"
     [ngClass]="{
                  'error': !isValid,
                  'disabled': inputIsDisabled,
                  'open': _toggleOpen
                }"
     (click)="onClick($event)"
     (keydown)="onKeyDown($event)"
     container="body">
    
    <terra-text-input [inputIsDisabled]="inputIsDisabled"
                      [inputName]="inputName"
                      (outputOnInput)="onChange()"
                      (click)="onInputClick($event)"
                      [(ngModel)]="textInputValue">
    </terra-text-input>
    
    <!-- suggestions -->
    <div class="select-box-dropdown">
        <span *ngIf="displayListBoxValues.length === 0" (click)="$event.stopPropagation()">
            <i>{{ noEntriesTextKey | translate:lang }} </i>
        </span>
        
        <span *ngIf="displayListBoxValues.length > 0 && inputWithRecentlyUsed" class="select-box-dropdown-heading"
              (click)="$event.stopPropagation()">
            <i><b> {{ listBoxHeadingKey | translate:lang }} </b></i>
        </span>
        
        <span #renderedListBoxValues
              *ngFor="let item of displayListBoxValues"
              (click)="select(item)"
              [ngClass]="{active: item.value === selectedValue?.value, selected: item.value === tmpSelectedValue?.value}">
            <span class="{{item.icon}}" *ngIf="item.icon"></span>
            <img *ngIf="item.imgsrc" src="{{item.imgsrc}}"/>
            <span [innerHtml]="item.caption"></span>
        </span>
    </div>

</div>
