@import "../input/terra-input.component.scss";
@import "../select-box/terra-select-box.component.scss";

.select-box-wrapper
{
    --input-wrapper-border: none;
    --input-wrapper-border-hover: none;
    --input-wrapper-height: 100%;
    --input-wrapper-line-height: 100%;
    &.disabled
    {
        --input-wrapper-border-disabled: none;
    }
    
    .select-box-dropdown
    {
        img
        {
            max-height: var(--select-box-dropdown-img-max-height, var(--input-unit-v1-line-height))
        }
    }
}