<div class="input-unit-v1"
     tooltipPlacement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     tooltipEnable="{{inputTooltipText}}"
     [ngClass]="{'error': !isValid, 'disabled': isDisabled}">
    <label htmlFor="{{inputName}}">{{inputName}}
        <span *ngIf="inputIsRequired">*</span>
    </label>
    <i *ngIf="inputName">?</i>
    <input id="{{inputName}}" [type]="type" [(ngModel)]="value" name="{{inputName}}" (blur)="onBlur()" autocomplete="off"
           [disabled]="isDisabled" pattern="{{_regex}}" step="1" min="{{inputMinValue}}" max="{{inputMaxValue}}">
</div>
