<div class="input-unit-v1"
     placement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     [isDisabled]="!inputTooltipText"
     [ngClass]="{'error': !isValid, 'disabled': isDisabled, 'isSmall': inputIsSmall}"
     container="body">
    <label htmlFor="{{inputName}}">{{inputName}}
        <span *ngIf="inputIsRequired">*</span>
    </label>
    <input id="{{inputName}}"
           type="number"
           [(ngModel)]="value"
           name="{{inputName}}"
           (blur)="onBlur()"
           autocomplete="off"
           [disabled]="inputIsDisabled"
           pattern="{{regex}}"
           step="1"
           min="{{inputMinValue}}"
           max="{{inputMaxValue}}"
           placeholder="{{inputPlaceholder}}"
           [ngClass]="{'isSmall' : inputIsSmall}">
</div>
