<div class="select-box-wrapper"
     placement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     [isDisabled]="!inputTooltipText"
     [ngClass]="{
                  'error': !_isValid,
                  'disabled': inputIsDisabled,
                  'open': _toggleOpen
                }"
     (click)="onClick($event)"
     (keydown)="onKeyDown($event)"
     container="body">
    
    <terra-text-input [inputName]="inputName"
                      (outputOnInput)="onChange()"
                      (click)="$event.target.select()"
                      [(ngModel)]="_selectedValue.caption">
    </terra-text-input>
    
    <!-- lastly selected values -->
    <div *ngIf="inputWithRecentlyUsed" [hidden]="_selectedValue.caption.length >= 3" class="select-box-dropdown">
        <span *ngIf="_lastSelectedValues.length === 0">
            <i> {{'terraSuggestionBox.noRecentlyUsed' | translate:lang }} </i>
        </span>
        <span *ngIf="_lastSelectedValues.length > 0">
            <i><b> {{'terraSuggestionBox.recentlyUsed' | translate:lang }} </b></i>
        </span>
        <span *ngFor="let item of _lastSelectedValues"
              (click)="select(item)">
            <span class="{{item.icon}}" *ngIf="item.icon"></span>
            <span [innerHtml]="item.caption"></span>
        </span>
    </div>
    
    <!-- suggestions -->
    <div [hidden]="_selectedValue.caption.length < 3 && inputWithRecentlyUsed" class="select-box-dropdown">
        <span *ngIf="inputListBoxValues.length === 0">
            <i>{{'terraSuggestionBox.noSuggestions' | translate:lang }}</i>
        </span>
        <span *ngIf="inputListBoxValues.length > 0">
            <i><b> {{'terraSuggestionBox.suggestions' | translate:lang }} </b></i>
        </span>
         <span *ngFor="let item of inputListBoxValues"
               (click)="select(item)"
               [ngClass]="{active: item.value === _selectedValue?.value}">
            <span class="{{item.icon}}" *ngIf="item.icon"></span>
            <span [innerHtml]="item.caption"></span>
        </span>
    </div>
    
</div>
