<div class="select-box-wrapper"
     placement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     [isDisabled]="!inputTooltipText"
     [ngClass]="{
                  'error': !_isValid,
                  'disabled': inputIsDisabled,
                  'open': _toggleOpen
                }"
     (click)="onClick($event)"
     container="body">
    
    <terra-text-input [inputName]="inputName"
                      (outputOnInput)="onChange()"
                      [(ngModel)]="_selectedValue.caption">
    </terra-text-input>
    
    <div class="select-box-dropdown">
        <span *ngFor="let item of inputListBoxValues; let index=index;"
              (click)="select(item)"
              [ngClass]="{active: item.value === _selectedValue?.value}">
          <span class="{{item.icon}}" *ngIf="item.icon"></span>
            <span [innerHtml]="item.caption"></span>
        </span>
    </div>
</div>
