.taglist
{
    .tag
    {
        background-color: $gray-light-3;
        border-color: transparent;
        -moz-border-radius: $border-radius;
        -webkit-border-radius: $border-radius;
        border-radius: $border-radius;
        display: inline-block;
        margin: 2px 0;
        padding: 2px 10px;
    }
}
