.loading-bar {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 49px;
}
.loading-bar-progress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  box-shadow: 0 0 10px 0;
  height: 2px;
  opacity: 0;
}
