<div class="loading-bar">
  <div class="loading-bar-progress"
       [style.width]="progress"
       [style.backgroundColor]="color"
       [style.color]="color"
       [style.height]="height"
       [style.opacity]="show ? '1' : '0'"
       [style.-webkit-transition]="'all ' + animationTime + 's ease-in-out'"
       [style.-moz-transition]="'all ' + animationTime + 's ease-in-out'"
       [style.-o-transition]="'all ' + animationTime + 's ease-in-out'"
       [style.transition]="'all ' + animationTime + 's ease-in-out'"></div>
</div>
