.modal-dialog
{
    margin: 0;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    min-width: 300px;
    .modal-content
    {
        border-radius: var(--border-radius);
        
        .modal-header
        {
            padding: var(--space-md) var(--space-lg);
            border-bottom: 1px solid var(--border-color);
            --btn-padding: 0;
            .modal-title
            {
                line-height: var(--height-md);
                font-weight: var(--font-weight-3);
            }
        }
        .modal-body
        {
            max-height: var(--modal-body-max-height, 525px);
            height: var(--modal-body-height, initial);
            overflow-y: auto;
            padding: var(--space-lg) var(--space-lg);
            background-color: var(--modal-body-background-color, var(--color-structure-2))
        }
        .modal-footer
        {
            padding: var(--space-md) var(--space-lg);
            border-top: 1px solid var(--border-color);
        }
    }
}

.modal.fade .modal-dialog
{
    transform: translate(-50%, -100%);
    transition: transform var(--transition-md), -webkit-transform var(--transition-md);
}

.modal.in .modal-dialog
{
    transform: translate(-50%, -50%);
}

@media(min-width: 544px)
{
    .modal-dialog
    {
        max-width: 600px;
        
        &.modal-sm
        {
            max-width: 300px;
        }
        &.modal-lg
        {
            max-width: 900px;
        }
        &.modal-xl
        {
            max-width: 1200px;
        }
    }
}

