<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h5>
                Card with image
            </h5>
            <terra-card inputImagePath="/src/app/assets/images/logo_plenty.svg">
                <div terra-card-header>
                    <p>card header</p>
                </div>
                <div terra-card-content>
                    <p>card content</p>
                </div>
                <div terra-card-footer>
                    <p>card footer</p>
                </div>
            </terra-card>
        </div>
        <div class="col-md-4">
            <h5>
                Card with icon
            </h5>
            <terra-card inputPlaceholderIcon="icon-plugin">
                <div terra-card-header>
                    <p>card header</p>
                </div>
                <div terra-card-content>
                    <p>card content</p>
                </div>
                <div terra-card-footer>
                    <p>card footer</p>
                </div>
            </terra-card>
        </div>
        <div class="col-md-4">
            <h5>
                Card is draggable
            </h5>
            <terra-card [draggable]="true">
                <div terra-card-header>
                    <p>card header</p>
                </div>
                <div terra-card-content>
                    <p>card content</p>
                </div>
                <div terra-card-footer>
                    <p>card footer</p>
                </div>
            </terra-card>
        </div>
    </div>
</div>


