@import "~bootstrap/scss/mixins";

.toggle-wrapper
{
    cursor: pointer;
    display: inline-block;
    width: 90px;
    height: 36px;
    background-color: $brand-secondary;
    position: relative;
    border-radius: 0.15rem;
    transition: background-color 0.2s ease-in-out;
    
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
    &.disabled,
    &:disabled
    {
        @include box-shadow(none);
        cursor:not-allowed;
        background-color: $gray-light-4;
    }
    
    &.sm
    {
        height: 25px;
        border-radius: 0.2rem;
        width: 75px;
        
        terra-button
        {
            /deep/ button
            {
                margin: 1px;
                width: 44px;
                height: 23px;
            }
        }
    }
    
    &.lg
    {
        height: 45px;
        border-radius: 0.25rem;
        
        terra-button
        {
            /deep/ button
            {
                margin: 1px;
                width: 44px;
                height: 43px;
            }
        }
    }
    
    &.active
    {
        background-color: $brand-green;
        
        terra-button
        {
            right: 0;
            left: 44px;
        }
        
        &.sm
        {
            terra-button
            {
                left: 29px;
            }
        }
    }
    
    terra-button
    {
        top: 0;
        position: absolute;
        
        right: inherit;
        left: 0;
        
        transition: left 0.2s ease-in-out, left 0.2s ease-in-out;
        
        /deep/ button
        {
            height: 34px;
            margin: 1px;
            width: 44px;
        }
    }
}
