<div
    tooltip="{{inputTooltipText}}"
    placement="{{inputTooltipPlacement}}"
    class="toggle-wrapper"
    [hidden]="inputIsHidden"
    [ngClass]="{'active':_isActive,
                'sm': inputIsSmall,
                'lg': inputIsLarge,
                'pull-xs-right': inputIsAlignRight,
                'disabled': inputIsDisabled
                }"
    (click)="toggle()"
    container="body">
    
    <terra-button
        [inputIsDisabled]="inputIsDisabled"
        [inputIcon]="inputIcon"
        [inputIsSmall]="inputIsSmall"
        [inputIsLarge]="inputIsLarge">
    </terra-button>
</div>
