<div class="pager">
    <terra-base-toolbar>
        <div class="btn-group" role="group">
            <terra-button inputIcon="icon-control_start icon_dist_top" class="terra-button"
                          [inputIsDisabled]="inputPagingData.page <= 1"
                          (outputClicked)="onFirstPage()"></terra-button>
            <terra-button inputIcon="icon-back icon_dist_top" class="terra-button" [inputIsDisabled]="inputPagingData.page <= 1"
                          (outputClicked)="onPrevPage()"></terra-button>
        </div>
        <div class="btn-group" role="group">
            <div class="form-group">
                <form (submit)="onToPage($event, pager.value)" role="form">
                    <terra-number-input #pager
                                        class="pager-page terra-number-input"
                                        [inputMinValue]="1"
                                        [inputMaxValue]="inputPagingData.lastPageNumber">
                    </terra-number-input>
                </form>
            </div>
            <div class="pager-text">/ {{inputPagingData.lastPageNumber}}</div>
        </div>
        
        <div class="btn-group" role="group">
            <terra-button inputIcon="icon-next icon_dist_top" class="terra-button"
                          [inputIsDisabled]="inputPagingData.page == inputPagingData.lastPageNumber || inputPagingData.lastPageNumber == 0"
                          (outputClicked)="onNextPage()"></terra-button>
            <terra-button inputIcon="icon-last icon_dist_top" class="terra-button"
                          [inputIsDisabled]="inputPagingData.page == inputPagingData.lastPageNumber || inputPagingData.lastPageNumber == 0"
                          (outputClicked)="onLastPage()"></terra-button>
            <terra-button inputIcon="icon-reload icon_dist_top" class="terra-button" [inputIsPrimary]="true"
                          (outputClicked)="onReload()"></terra-button>
        </div>
        <div class="btn-group" role="group">
            <terra-select-box class="terra-select-box" [inputListBoxValues]="inputPagingSize"
                              [(ngModel)]="inputDefaultPagingSize"
                              (outputValueChanged)="onChangeOffsetTo($event)"></terra-select-box>
            <div class="pager-text">
                {{inputPagingData.pagingUnit}} {{inputPagingData.firstOnPage}}-{{inputPagingData.lastOnPage}} / {{inputPagingData.totalsCount}}
            </div>
        </div>
    </terra-base-toolbar>
</div>

