@import "~bootstrap/scss/mixins";
@import "../button/terra-button.component";
@import "../forms/select-box/terra-select-box.component";
@import "../forms/input/terra-input.component";

.pager
{
    .form-group
    {
        margin: 0;
        label
        {
            display: inline-block;
        }
        span
        {
            display: inline-block;
            padding: 5px 0;
            vertical-align: top;
        }
        .pager-page input
        {
            width: 2.5rem;
            padding: .5rem .35rem;
        }
        .input-unit-v1
        {
            margin-bottom: 0;
        }
    }
    terra-select-box,
    .form-group
    {
        float: left;
    }
    .pager-text
    {
        float: left;
        font-size: $font-size-lg;
        margin-left: .5rem;
        margin-top: .7rem;
    }
}

@include media-breakpoint-down(sm)
{
    .pager
    {
        .btn-group
        {
            float: none;
            margin-top: .2rem;
            margin-bottom: .2rem;
        }
    }
}