@import "~bootstrap/scss/mixins";
@import "../button/terra-button.component";
@import "../forms/select-box/terra-select-box.component";
@import "../forms/input/terra-input.component";

/deep/
{
    .pager
    {
        .form-group
        {
            margin: 0;
            label
            {
                display: inline-block;
            }
            span
            {
                display: inline-block;
                padding: 5px 0;
                vertical-align: top;
            }
            .pager-page input
            {
                width: 2.5rem !important;
                padding: .5rem .35rem !important;
            }
        }
        .terra-select-box,
        .form-group
        {
            float: left;
        }
        .pager-text
        {
            line-height: $terra-btn-md-height;
            float: left;
            font-size: $font-size-lg;
            margin-left: .5rem;
        }
        
        @include media-breakpoint-down(sm)
        {
            .pager
            {
                .btn-group
                {
                    float: none;
                    margin-top: .2rem;
                    margin-bottom: .2rem;
                }
            }
        }
    }
    
}

:host /deep/ .input-unit-v1
{
    margin-bottom: 0px !important;
    line-height: 0px !important;
    input
    {
        height: $terra-btn-md-height - 2 !important;
    }
}

:host /deep/ .select-box-wrapper
{
    margin-bottom: 0px !important;
}

:host /deep/ .select-box
{
    padding: 0px 28px 0px 12px !important;
}

/deep/ .btn-toolbar > terra-pager > .pager > terra-base-toolbar > .btn-toolbar
{
    padding: 0px;
}
