input[type="radio"] // bind styles of the radio to the input
{
    position:absolute;
    opacity: 0;
    
    &:checked + span.check
    {
        transition: all var(--transition-sm);
        
        &:before
        {
            background-color: var(--color-structure-11);
        }
    }
    
    &:focus + span.check
    {
        border-color: var(--color-active);
        
        &:before
        {
            background-color: var(--color-active);
        }
    }
    
    &:disabled + span.check
    {
        border-color: var(--color-structure-4);
        cursor: not-allowed;
    }
    
    &:disabled:checked + span.check:before
    {
        background-color: var(--color-structure-4);
    }
}

label
{
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    &:hover
    {
        cursor: pointer;
        color: var(--color-active);
        
        .check
        {
            border-color: var(--color-active);
        }
    }
    
    &.disabled
    {
        color: var(--color-structure-4);
        cursor: not-allowed;
    }
    
    .caption // TODO: needed?
    {
        margin: 0 .125rem;
        vertical-align: middle;
    }
}

.check
{
    width: 1rem;
    height: 1rem;
    background-color: var(--color-structure-0);
    border: 1px var(--color-structure-7) solid;
    border-radius: 100%;
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    
    &:before
    {
        width: 8px;
        height: 8px;
        margin-left: -4px;
        margin-top: -4px;
        border-width: 4px;
        position: absolute;
        vertical-align: middle;
        color: transparent;
        font-size: 0;
        content: "";
        background-color: transparent;
        border-radius: 100%;
        left: 50%;
        top: 50%;
        display: block;
    }
}
