@import '../../../../app/assets/styles/_variables.scss';

.input-group
{
    margin-bottom: 12px;
    
    & > .input-group-text
    {
        width: 100%;
        
        .input-wrapper,
        .select-box-wrapper,
        .btn
        {
            margin-bottom: 0;
            border-radius: 0;
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }
        
    }
    
    & > .input-group-btn
    {
        width: auto;
        
        .input-wrapper,
        .select-box-wrapper,
        .btn
        {
            margin-bottom: 0;
            border-radius: 0;
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }
    }
}