//List of variables
$zIndex-2: 200;
$zIndex-3: 300;
$color: $gray-dark;
$background: white;
$active-background: white;
$border-color: $gray-light-2;
$border-active: $gray-light;
$border-width: 1px;
$border-radius: 5px;

input:focus
{
    outline: none;
}

input[type=text], input[type=search], input[type=url], input[type=number]
{
    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
    
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
    {
        -webkit-appearance: none;
    }
}

::-webkit-input-placeholder
{
    font-size: $font-size-3;
    color: $grey-7;
}

:-moz-placeholder
{ /* Firefox 18- */
    font-size: $font-size-3;
    color: $grey-7;
}

::-moz-placeholder
{ /* Firefox 19+ */
    font-size: $font-size-3;
    color: $grey-7;
}

:-ms-input-placeholder
{
    font-size: $font-size-3;
    color: $grey-7;
}

input[type="search"]
{
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
{
    -webkit-appearance: none;
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/

.input-unit-v1
{
    position: relative;
    width: 100%;
    margin-bottom: var(--input-unit-v1-margin-bottom, 3px);
    height: var(--input-unit-v1-height, $terra-btn-md-height);
    line-height: var(--input-unit-v1-line-height, $terra-btn-md-height);
    background-color: $background;
    border-radius: $border-radius;
    border: var(--input-unit-v1-border, 1px solid $white);
    
    &.isSmall
    {
        height: $terra-btn-sm-height;
        line-height: $terra-btn-sm-height - 2;
    }
    
    &:hover
    {
        border: var(--input-unit-v1-border-hover, 1px solid $blue);
    }
    
    &.error
    {
        z-index: $zIndex-3;
        border: 1px solid $alert-red;
        input
        {
            color: $alert-red;
        }
        label
        {
            color: $alert-red;
        }
        i
        {
            background-color: $alert-red;
            color: white;
        }
    }
    
    &.valid
    {
        z-index: $zIndex-2;
        border: 1px solid $blue;
        input
        {
            color: $blue;
        }
        label
        {
            color: $blue;
        }
        i
        {
            background-color: $blue;
            color: white;
        }
    }
    
    &.success
    {
        z-index: $zIndex-2;
        border: 1px solid $alert-green;
        input
        {
            color: $alert-green;
        }
        label
        {
            color: $alert-green;
        }
        i
        {
            background-color: $alert-green;
            color: white;
        }
    }
    
    &.disabled
    {
        background-color: $grey-2;
        border: var(--input-unit-v1-border-disabled, 1px solid $grey-5);
        input
        {
            color: $grey-5;
        }
        
        label
        {
            cursor: not-allowed;
        }
    }
}

input[type],
input:not([type="checkbox"]),
input:not([type="radio"]),
textarea
{
    color: $grey-10;
    border: none;
    border-radius: $border-radius;
    box-shadow: none;
    padding: var(--input-padding, 13px 7px 0px 7px);
    width: var(--input-width, 100%);
    font-size: $font-size-3;
    font-weight: $font-weight-2;
    text-align: var(--input-text-align, left);
    outline: none !important;
    transition: all .2s;
    height: var(--input-height, $terra-btn-md-height - 2);
    line-height: $terra-btn-md-height - 2;
    
    &.isSmall
    {
        height: $terra-btn-sm-height - 4;
        line-height: $terra-btn-sm-height - 4;
        padding: var(--input-padding, 0px 7px 0px 120px);
    }
    
    &:focus,
    &.filled
    {
        color: $color;
        background-color: $active-background;
        border-color: $border-active;
    }
    
    &.disabled,
    &:disabled
    {
        background-color: $grey-2;
        cursor: not-allowed;
        
        & ~ label
        {
            cursor: not-allowed;
        }
    }
    
    & + .symbol
    {
        color: $gray;
        position: absolute;
        top: $border-width;
        right: $border-width;
        transition: all .2s;
    }
    
    &.disabled,
    &:disabled
    {
        & + .symbol
        {
            color: $gray;
        }
        
        & + label
        {
            color: $gray-light !important;
        }
    }
    
    &.isEmpty
    {
        font-size: $font-size-base;
        font-weight: normal;
        padding: 0px 7px;
    }
    
    .price-input
    {
        text-align: right;
    }
}

label
{
    font-size: $font-size-1;
    line-height: 1em !important;
    font-variant: all-small-caps;
    font-weight: $font-weight-1;
    
    width: 100%;
    padding: 5px 7px 0;
    margin-bottom: 0;
    color: $grey-7;
    
    position: absolute;
    top: 0;
    left: 0;
    transition: color .15s;
    cursor: pointer;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    & span
    {
        font-size: $font-size-1;
    }
}

.textarea-wrapper
{
    height: initial;
    label
    {
        position: static;
    }
    textarea
    {
        -webkit-appearance: textarea;
        resize: none;
        padding-top: 3px;
        height: initial;
        line-height: 1.2em;
    }
}
