@import "../data-table/terra-data-table.component.scss";

:host[fixed-header]
{
    height: 100%;
    display: block;
    margin-top: 32px;
    padding-bottom: 32px;
    
    .table-responsive
    {
        height: 100%;
    }
    
    thead
    {
        position: absolute;
        z-index: 1;
        width: 100%;
        margin-top: -32px;
        
        tr
        {
            width: 100%;
            display: table;
        }
    }
}

.table-responsive
{
    tbody.highlighting tr.disabled
    {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
