.alert-wrapper,
terra-alert-panel
{
    position: fixed;
    right: 14px;
    top: var(--terra-alert-panel-top, (calc(var(--navbar-height) + var(--space-lg))));
    transition: top var(--transition-lg);
    max-height: 500px;
    max-width: 350px;
    min-width: 250px;
    overflow-y: auto;
    z-index: 1030;
    .alert
    {
        position: relative;
        padding: 4px 36px;
        margin-bottom: .2rem;
        word-wrap: break-word;
        box-shadow: var(--box-shadow);
        background-color: var(--color-structure-0);
        font-weight: var(--font-weight-1);
        
        &:before
        {
            font-family: var(--font-family-icons) !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 1.1em;
            position: absolute;
            top: .4em;
            left: .7em;
        }
        &.alert-danger
        {
            border: 2px solid var(--color-alert);
            color: var(--color-alert-dark);
            
            &:before
            {
                content: "\ea1e";
                color: var(--color-alert-dark);
            }
        }
        &.alert-success
        {
            border: 2px solid var(--color-add);
            color: var(--color-add-dark);
            
            &:before
            {
                content: "\e915";
                color: var(--color-add-dark);
            }
        }
        &.alert-warning
        {
            border: 2px solid var(--color-accent);
            color: var(--color-accent-dark);
            
            &:before
            {
                content: "\e9b9";
                color: var(--color-accent-dark);
            }
        }
        &.alert-info
        {
            border: 2px solid var(--color-active);
            color: var(--color-active-dark);
            
            &:before
            {
                content: "\e9bc";
                color: var(--color-active-dark);
            }
        }
        button.close
        {
            padding: 0;
            top: -5px;
            right: -20px;
            opacity: 1;
            outline: none;
            
            span
            {
                font-size: var(--font-size-5);
            }
        }
    }
}
