<div class="slider"
     [class.has-ticks]="inputShowTicks"
     [class.disabled]="inputIsDisabled">
    <div class="slider-label" *ngIf="inputName">{{ inputName }}</div>
    
    <div class="slider-container">
        <span *ngIf="inputShowMinMax">{{ inputMin.toFixed(inputPrecision) }}</span>
        <div class="slider-inner">
            <div>
                <div #sliderBar
                     class="slider-bar"
                     (click)="onBarClicked($event)"></div>
                
                <div class="slider-handle"
                     [style.left.px]="handlePosition"
                     [terra-draggable]
                     [terra-draggable-restrict]="'self'"
                     [terra-draggable-grid]="grid"
                     (terra-draggable-onMove)="onDrag( $event )">
                    {{ inputValue.toFixed(inputPrecision) }}
                </div>
                
                <div *ngIf="inputShowTicks" class="slider-ticks">
                    <span *ngFor="let tick of getTicks()" [style.left.%]="tick.position">{{ tick.caption.toFixed(inputPrecision) }}</span>
                </div>
            </div>
        </div>
        <span *ngIf="inputShowMinMax">{{ inputMax.toFixed(inputPrecision) }}</span>
    </div>
</div>