<script src="terra-multi-split-view.component.ts"></script>
<terra-base-toolbar *ngIf="inputShowBreadcrumbs">
    <ul class="terra-breadcrumbs">
        <ng-template ngFor let-module [ngForOf]="modules">
            <li class="{{ module.identifier }}"
                (click)="setSelectedView(module.currentSelectedView)">
                <div class="{{ module.identifier }}"
                     [ngClass]="{'active': inputConfig.currentSelectedView === module.currentSelectedView}">
                    <span>{{module.currentSelectedView.name}}</span>
                    <a class="caret" *ngIf="module.views.length > 1">
                        <ul class="context-menu">
                            <ng-template ngFor let-view [ngForOf]="module.views" let-i="index">
                                <li>
                                    <a class="{{ view.mainComponentName + '_' + i }}"
                                       (click)="setSelectedView(view)">
                                        <span>{{ view.name }}</span>
                                    </a>
                                </li>
                            </ng-template>
                        </ul>
                    </a>
                </div>
            </li>
        </ng-template>
    </ul>
</terra-base-toolbar>
<div *ngIf="modules" class="side-scroller" [ngClass]="{'offset': inputShowBreadcrumbs}">
    <ng-template ngFor let-module [ngForOf]="modules" let-last="last" let-first="first">
        <div class="view {{ module.defaultWidth }}" id="{{ module.identifier }}" [ngClass]="{'hasDivider': !last, 'first': first, 'last': last}">
            <ng-template ngFor let-view [ngForOf]="module.views" let-i="index">
                <div *ngIf="module.currentSelectedView === view || module.lastSelectedView === view" class="{{ view.mainComponentName + '_' + i }}">
                    <terra-dynamic-module-loader
                        [inputModule]="view.module"
                        [inputParameter]="view"
                        [inputMainComponentName]="view.mainComponentName">
                    </terra-dynamic-module-loader>
                </div>
            </ng-template>
            <div class="divider" *ngIf="!last"></div>
        </div>
    </ng-template>
</div>
