<div class="btn-group" role="group">
    <terra-button *ngIf="inputEnableControls"
                  [inputIcon]="startAndStopControlIcon"
                  [inputIsSmall]="true"
                  [inputTooltipText]="startAndStopControlTooltip"
                  inputTooltipPlacement="top"
                  (outputClicked)="startAndStopControl()">
    </terra-button>
    <terra-button inputType="submit"
                  [inputCaption]=stopWatchTime
                  [inputIsSmall]="true">
    </terra-button>
    <terra-button *ngIf="inputEnableControls"
                  inputIcon="icon-reset"
                  [inputIsSmall]="true"
                  [inputTooltipText]="resetControlTooltip"
                  inputTooltipPlacement="top"
                  (outputClicked)="resetStopwatch()">
    </terra-button>
</div>
