@import "../../split-view/multi/terra-multi-split-view.component";

:host
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.loading-placeholder
{
    p
    {
        padding: 8px 0 9px 16px;
        margin: 0;
        display: inline-block;
        color: $color-structure-9;
    }
    
    .icon-loading
    {
        float: right;
        font-size: 36px;
    }
}

.terra-breadcrumbs
{
    .caret
    {
        &:after
        {
            top: 13.5px !important;
            right: 8px !important;
        }
    }
    
    .context-menu
    {
        left: 0;
        right: auto;
        
        li
        {
            a
            {
                position: relative;
                padding-left: 14px;
                
                &.active
                {
                    &:before
                    {
                        content: "";
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background-color: $color-structure-0;
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: 5px;
                        margin-top: -3px;
                    }
                }
            }
        }
    }
}

.file-list-container
{
    flex: 1;
    overflow-y: hidden;
    position: relative;
    
    .file-drop
    {
        position: absolute;
        top: 32px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparentize($color-active, 0.3);
        z-index: 2;
        border-radius: $border-radius;
        display: none;
        flex-direction: row;
        align-items: center;
        
        &.in
        {
            display: flex;
        }
        
        div
        {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            color: $color-structure-0;
            font-size: 2rem;
            
            .icon-upload
            {
                font-size: 7.5rem;
            }
            
        }
    }
}

.prompt
{
    position: absolute;
    top: 32px;
    left: 50%;
    width: 90%;
    margin-left: -45%;
    background: $color-structure-2;
    border: 1px solid $color-structure-4;
    border-top: none;
    padding: 4px 8px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    transform: translateY(-100%);
    transition: transform 150ms ease;
    z-index: 1;
    
    &.in
    {
        transform: translateY(0);
    }
    
    .prompt-title
    {
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 8px;
        display: block;
    }
}

.empty-directory
{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    > div
    {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    p
    {
        text-align: center;
        font-size: 2em;
        color: $color-structure-9;
    }
}

.file-list-container.empty .prompt
{
    top: 0;
}

@media(min-width: 544px)
{
    .prompt
    {
        width: 400px;
        margin-left: -200px;
    }
}