<div class="multiselect-container {{boxClassType}}">
  <div class="multiselect">
    <div class="btn-group btn-group--all" role="group">
      <button class="btn btn-primary checkbox-all" isPrimary="true" type="plenty-button">
        <plenty-checkbox #headerCheckbox type="checkbox" [isDisabled]="isDisabled" (change)="onHeaderCheckboxChange(headerCheckbox.value)" [value]="isHeaderCheckboxChecked"></plenty-checkbox>
      </button>
      <div *ngIf="isDisabled == false && isError == false">
        <plenty-button (clicked)="primaryClicked()" caption="Alle" isPrimary="true" type="plenty-button"></plenty-button>
      </div>
      <div *ngIf="isError">
        <plenty-button (clicked)="primaryClicked()" caption="Alle" isSecondary="true" type="plenty-button"></plenty-button>
      </div>
      <div *ngIf="isDisabled && isError == false">
        <plenty-button (clicked)="primaryClicked()" caption="Alle" isDisabled="true" type="plenty-button"></plenty-button>
      </div>
    </div>
    <div class="option-list">
      <div *ngFor="let value of valueList">
        <div class="input-group">
          <span class="input-group-addon">
            <plenty-checkbox #valueCheckbox type="checkbox" [isDisabled]="isDisabled" [value]="value.selected" (change)="onValueCheckboxChange(valueCheckbox.value, value)"></plenty-checkbox>
          </span>
          <label class="form-control">{{value.caption}}</label>
        </div>
      </div>
    </div>
  </div>
</div>