<div class="multiselect-container">
    
    <label class="header-label" *ngIf="_hasLabel" htmlFor="{{inputName}}">{{inputName}}
        <span *ngIf="inputIsRequired">*</span>
    </label>
    
    <div class="multiselect-element {{boxClassType}}">
        <div class="multiselect">
            <div class="btn-group btn-group--all" role="group">
                <button class="btn btn-primary checkbox-all" isPrimary="true" type="terra-button">
                    <terra-checkbox #viewChildHeaderCheckbox type="checkbox" [inputIsDisabled]="inputIsDisabled"
                                    (change)="onHeaderCheckboxChange(viewChildHeaderCheckbox.value)"></terra-checkbox>
                </button>
                <div *ngIf="!inputIsDisabled && !inputIsError" class="btn-all">
                    <terra-button (outputClicked)="primaryClicked()" inputCaption="{{ 'selectAll' | translate:lang }}" inputIsPrimary="true"
                                  inputType="terra-button"></terra-button>
                </div>
                <div *ngIf="inputIsError" class="btn-all">
                    <terra-button (outputClicked)="primaryClicked()" inputCaption="{{ 'selectAll' | translate:lang }}"
                                  inputIsSecondary="true"
                                  inputType="terra-button"></terra-button>
                </div>
                <div *ngIf="inputIsDisabled && !inputIsError" class="btn-all">
                    <terra-button (outputClicked)="primaryClicked()" inputCaption="{{ 'selectAll' | translate:lang }}"
                                  inputIsDisabled="true"
                                  inputType="terra-button"></terra-button>
                </div>
            </div>
            <div class="option-list">
                <div *ngFor="let value of inputValueList">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <terra-checkbox #valueCheckbox type="checkbox" [inputIsDisabled]="inputIsDisabled" [value]="value.selected"
                                            (change)="onValueCheckboxChange(valueCheckbox.value, value)"></terra-checkbox>
                        </div>
                        <label class="form-control">{{value.caption}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>