.multiselect-container
{
    .header-label
    {
        font-size: 1.3em;
        line-height: 1em !important;
        letter-spacing: .1px;
    }
    
    .multiselect-element
    {
        margin-bottom: 1rem;
        
        .multiselect
        {
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
            
            .multiselect-header
            {
                display: flex;
                flex: 0 0 auto;
                margin-bottom: 0.1em;
                position: relative;
                vertical-align: middle;
                background-color: $brand-primary;
                
                .checkbox-container
                {
                    padding: 0.375em 0.9em;
                    position: relative;
                    float: left;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                
                .header-label
                {
                    color: $white;
                    width: 100%;
                    text-align: left;
                    margin-bottom: 0;
                    margin-left: -1px;
                    font-size: 1rem;
                    padding-top: 0.58em;
                    padding-left: 0.5em;
                }
            }
            
            .option-list
            {
                
                overflow: auto;
                max-height: 146px;
                .input-group
                {
                    &:hover
                    {
                        .input-group-addon,
                        .form-control
                        {
                            background: lighten($brand-primary, 60);
                            cursor: pointer;
                        }
                    }
                    .form-control,
                    .input-group-addon
                    {
                        float: none;
                        padding: 0.3rem 0.8rem;
                        border-radius: 0;
                        border-top: 0;
                        background: transparent;
                        
                        &:first-child
                        {
                            border-left: 0;
                        }
                        &:last-child
                        {
                            border-right: 0;
                        }
                    }
                }
                & > div
                {
                    &:first-of-type
                    {
                        .form-control
                        {
                            border-top: $border-width solid $gray-light-2;
                        }
                        .input-group-addon
                        {
                            border-top: $border-width solid $gray-light-2;
                        }
                    }
                }
            }
        }
        &.error
        {
            .multiselect
            {
                .multiselect-header
                {
                    background-color: $error;
                    border-color: $error;
                }
            }
        }
        &.disabled
        {
            .multiselect
            {
                .multiselect-header
                {
                    background-color: $gray-light-2;
                    border-color: $gray-light-2;
                    cursor: not-allowed;
                    color: $white;
                    opacity: .65;
                    
                    .header-label:hover
                    {
                        cursor: not-allowed;
                    }
                }
                .option-list
                {
                    .input-group
                    {
                        .form-control
                        {
                            color: $gray-light-3;
                        }
                        &:hover
                        {
                            
                            .form-control
                            {
                                background: white;
                                cursor: not-allowed;
                            }
                            .input-group-addon
                            {
                                background: white;
                                cursor: not-allowed;
                            }
                        }
                    }
                }
            }
        }
    }
}