<div class="multiselect-container">
    <div class="multiselect-element" [ngClass]="{'disabled': inputIsDisabled, 'error': inputIsError}">
        <div class="multiselect">
            <div class="multiselect-header">
                <div class="checkbox-container">
                    <terra-checkbox #viewChildHeaderCheckbox type="checkbox" [inputIsDisabled]="inputIsDisabled"
                                    (change)="onHeaderCheckboxChange(viewChildHeaderCheckbox.value)"></terra-checkbox>
                </div>
                <label class="header-label">{{ inputName }}</label>
            </div>
            <div class="option-list">
                <div *ngFor="let value of inputValueList; let i = index">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <terra-checkbox #valueCheckbox type="checkbox" [inputIsDisabled]="inputIsDisabled" [value]="value.selected"
                                            (change)="onValueCheckboxChange(valueCheckbox.value, value)" [inputId]="i"></terra-checkbox>
                        </div>
                        <label class="form-control" htmlFor="{{i}}">{{value.caption}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>