<li *ngIf="inputView.isSelected" (click)="updateViewport(inputView.mainComponentName + '_' + inputView.instanceKey + '_' + inputIndex)">
    <div class="{{ inputView.mainComponentName + '_' + inputView.instanceKey}}">
        <span>{{ inputView.name | translate: lang}}</span>
        <a class="caret" *ngIf="inputView.parentView != null && inputView.parentView.nextViews != null && inputView.parentView.nextViews.length > 1">
            <ul class="context-menu">
                <ng-template ngFor let-next [ngForOf]="inputView.parentView.nextViews" let-i="index">
                    <li *ngIf="next.module.ngModule == inputView.module.ngModule"
                        class="{{ next.mainComponentName + '_' + next.instanceKey }}">
                        <a class="{{ next.mainComponentName + '_' + next.instanceKey + '_' + i }}">{{next.name}}</a>
                    </li>
                </ng-template>
            </ul>
        </a>
    </div>
</li>
<ng-template ngFor let-next [ngForOf]="inputView.nextViews" let-last="last" let-first="first" let-i="index">
    <terra-split-view-breadcrumb [inputSplitViewConfig]="inputSplitViewConfig" [inputIndex]="i" [inputView]="next" *ngIf="next.module.ngModule != inputView.module.ngModule"></terra-split-view-breadcrumb>
</ng-template>