
.terra-tree,
terra-tree,
terra-checkbox-tree
{
    margin: 0;
    padding: 0 0 0 10px;
    display: block;
    overflow-x: hidden;
    
    ul
    {
        margin: 0;
        padding: 0;
        list-style: none;
        //width: 100%;
        font-size: inherit;
        li
        {
            font-size: inherit;
            cursor: pointer;
            padding-left: 10px;
            position: relative;
            color: var(--color-structure-11);
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &.disabled
            {
                cursor: default;
                color: var(--color-structure-7);
            }
            .input-control
            {
                margin: 0 .3125rem 0 0;
                height: 1rem;
                line-height: .625rem;
                min-height: 0;
                &.checkbox
                {
                    line-height: 1rem;
                }
            }
            &.active
            {
                > .leaf-titel
                {
                    background: var(--color-active-dark);
                    color: var(--color-structure-0);
                }
            }
            .leaf-titel
            {
                border-bottom: 1px solid var(--color-structure-2);
                color: inherit;
                margin: 0;
                padding: 4px 8px 4px 8px;
                .icon
                {
                    width: 1rem;
                    height: 1rem;
                    text-align: center;
                }
                &:hover
                {
                    color: var(--color-structure-12);
                    background: var(--color-active);
                }
            }
            &:hover
            {
                > .node-toggle:before
                {
                    border-bottom-color: var(--color-active-dark);
                }
            }
        }
    }
    
    .node-toggle
    {
        position: absolute;
        left: 0;
        top: 8px;
        width: 8px;
        height: 8px;
        &:before
        {
            position: absolute;
            display: block;
            top: -3px;
            height: 0;
            content: '';
            width: 0;
            border-left: 7px solid transparent;
            border-top: 7px solid transparent;
            border-bottom: 7px var(--color-active-dark) solid;
            left: -4px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    .node.collapsed
    {
        > .node-toggle:before
        {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            border-bottom-color: var(--color-structure-7);
            left: -10px;
        }
        &:hover
        {
            > .node-toggle:before
            {
                border-bottom-color: var(--color-active-dark);
            }
        }
        
        > terra-tree,
        terra-checkbox-tree
        {
            display: none;
        }
        > ul
        {
            display: none;
        }
    }
}