body
{
    &.standard
    {
        /////////////////////////////-------- Global-General Variables --------/////////////////////////////////
    
        //////////// Colors //////////
        // based on function groups (add, active, alert, accent, background)
        // Recommendation: To get 3 different hues for a color in a new theme, use https://material.io/color/#!/
    
        //add, success
        --color-add-light: #9eff9a;
        --color-add: #6AD26A;
        --color-add-dark: #33a03c;
    
        //active, focus
        --color-active-light: #6de5ff;
        --color-active: #24B3E0;
        --color-active-dark: #0083ae;
    
        //alert, warning, danger, caution
        --color-alert-light: #ff5d63;
        --color-alert: #F11539;
        --color-alert-dark: #b60013;
    
        //accent, highlight, feature, other
        --color-accent-light: #ffff91;
        --color-accent: #FDEA5F;
        --color-accent-dark: #c7b82b;
    
        //backgrounds and structural elements
        --color-structure-0: #FFFFFF; //0 white
        --color-structure-1: #F5F5F5; //10
        --color-structure-2: #E9EAEC; //19 (#F3F3F3 = 12)
        --color-structure-3: #E5E5E5; //26
        --color-structure-4: #D7D8DB; //36
        --color-structure-5: #C6C7CA; //53
        --color-structure-6: #ACADB2; //77
        --color-structure-7: #95989D; //98
        --color-structure-8: #7B7E85; //122
        --color-structure-9: #636671; //142
        --color-structure-10: #5B5D66; //153
        --color-structure-11: #494C56; //169                 //tabbar
        --color-structure-12: #2F323A; //197                 //navbar
        --color-structure-13: #000000; //255 black
    
        //////////// Fonts //////////////
    
        --font-family: 'Roboto', sans-serif;
        --font-family-icons: 'plentyicons';
    
        --font-size-1: 11px;
        --font-size-2: 12px;
        --font-size-3: 13px;
        --font-size-4: 14px;
        --font-size-5: 16px;
        --font-size-6: 20px;
        --font-size-7: 28px;
        --font-size-8: 48px;
    
        --font-weight-1: 400;
        --font-weight-2: 500;
        --font-weight-3: 700;
    
        //////////// Spaces (Margins, Paddings, Heights) //////////
        
        --height-sm: 24px;
        --height-md: 36px;
        --height-lg: 48px;
    
        --space-xs: 2px;
        --space-sm: 4px;
        --space-md: 8px;
        --space-lg: 12px;
        --space-xl: 24px;
        --space-container: 0 var(--space-xs) var(--space-md) var(--space-xs) ; //for margins of container-elements like portlets or infoboxes
    
        --navbar-height: 60px;
        --tabbar-height: 36px;
        --header-height: calc(var(--navbar-height) + var(--tabbar-height));
        --breadcrumbs-height: 36px;
    
        //////////// Others //////////
        
        --border-radius: 2px;
        --border-color: var(--color-structure-5);
        --box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
        
        --zIndex-1: 100;
        --zIndex-2: 200;
        --zIndex-3: 300;
        --zIndex-4: 400;
        --zIndex-5: 500;
        --zIndex-6: 600;
        --zIndex-7: 700;
        --zIndex-8: 800;
        --zIndex-9: 900;
    
        //////////// Animations //////////
        --transition-0: ease 0s;
        --transition-xs: ease 0.2s;
        --transition-sm: ease 0.3s; //for colors and background-colors
        --transition-md: ease 0.4s;
        --transition-lg: ease 0.6s; //for transformations of heights, widths, spaces, margins, paddings
        --transition-xl: ease 1.2s;
        --transition-delay-0: 0s;
        --transition-delay-xs: 0.2s;
        --transition-delay-sm: 0.3s;
        --transition-delay-md: 0.4s;
        --transition-delay-lg: 0.6s;
        --transition-delay-xl: 1.2s;
        
        
        
        /////////////////////////////-------- Local-Specific Variables --------/////////////////////////////////
        
        //////////// Colors //////////
        
        //Tooltips//
        --tooltip-color-default: var(--color-structure-12);
        
        //////////// Paddings, Margins & Other spaces ////////////
        
        //Navbar//
        --navbar-nav-link-height-default: var(--navbar-height);
        --navbar-nav-link-line-height-default: var(--navbar-height);
        
        --navbar-user-image-width-default: calc(var(--navbar-height) - var(--space-lg));
        --navbar-user-image-height-default: calc(var(--navbar-height) - var(--space-lg));
        --navbar-user-image-padding-default: var(--space-xs);
        
        --navbar-toggler-height-default: var(--navbar-height);
    
        --navbar-brand-font-size-default: calc(var(--navbar-height) - var(--space-xl));
        --navbar-brand-height-default: var(--navbar-height);
        --navbar-brand-line-height-default: var(--navbar-height);
        --navbar-brand-padding-default: var(--space-lg);
        
        --navbar-mobile-nav-item-last-child-line-height-default: var(--navbar-height);
    
        --dropdown-menu-margin-top-default: calc(var(--space-md) * -1);

        //Tabs//
        --tabs-border-bottom-width-default: 2px;
        --tabs-top-default: var(--navbar-height);
        --tabs-nav-item-height-default: calc(var(--tabbar-height) - var(--space-sm) - var(--tabs-border-bottom-width-default));
        --tabs-nav-item-margin-default: var(--space-sm) var(--space-xs) 0 var(--space-xs);
        --tabs-nav-link-line-height-default: calc(var(--tabbar-height) - var(--space-sm) - var(--tabs-border-bottom-width-default));
        --tab-content-top-default: var(--header-height);
        --tab-content-height-default: calc(100% - var(--header-height));
        --tab-context-menu-top-default: calc(var(--tabbar-height) / 2 + var(--space-md));
        
        //Breadcrumbs//
        --terra-breadcrumbs-height-default: var(--breadcrumbs-height);
        --terra-breadcrumbs-line-height-default: var(--breadcrumbs-height);
        --terra-breadcrumbs-context-menu-top-default: calc(var(--breadcrumbs-height) / 2 + var(--space-lg));
        --terra-breadcrumbs-li-padding-default: 0 var(--space-md);
        --terra-breadcrumbs-icon-next-line-height-default: var(--breadcrumbs-height);
        --terra-breadcrumbs-icon-caret-line-height-default: var(--breadcrumbs-height);

        //Split-View//
        --split-view-side-scroller-offset-height-default: calc(100% - var(--breadcrumbs-height));
        
        //iFrames//
        --iframeView-top-default: var(--header-height);
        --iframeView-height-default: calc(100% - var(--header-height));
        
        --iframeSettingsView-top-default: var(--header-height);
        --iframeSettingsView-height-default: calc(100% - var(--header-height));
        
        --pluginIframeSettingsView-top-default: var(--header-height);
        --pluginIframeSettingsView-height-default: calc(100% - var(--header-height));
    
        --iframeCustomerAccountView-top-default: calc(var(--header-height) + var(--breadcrumbs-height));
        --iframeCustomerAccountView-height-default: calc(100% - var(--header-height) - var(--breadcrumbs-height));
    
        --iframeBreadcrumbsView-top-default: calc(var(--header-height) + var(--breadcrumbs-height));
        --iframeBreadcrumbsView-height-default: calc(100% - var(--header-height) - var(--breadcrumbs-height));
        
        --iframePluginDetailsView-top-default: calc(var(--header-height) + var(--breadcrumbs-height));
        --iframePluginDetailsView-height-default: calc(100% - var(--header-height) - var(--breadcrumbs-height));
        
        //Fullscreen//

        --tab-content-fullscreen-top-default: 5px;
        --tab-content-fullscreen-height-default: calc(100% - 5px);
        
        --navbar-fullscreen-container-hide-top-default: calc(var(--navbar-height) * -1);
        --navbar-fullscreen-container-hide-top-hover-default: 0;
        
        --tabbar-fullscreen-container-hide-top-default: calc(var(--tabbar-height) * -1 + var(--tabs-border-bottom-width-default));
        --tabbar-fullscreen-container-hide-top-hover-default: var(--navbar-height);
        
        --iframeSettingsView-fullscreen-top-default: calc(var(--tab-content-fullscreen-top-default) + var(--breadcrumbs-height));
        --iframeSettingsView-fullscreen-height-default: calc(100% - var(--tab-content-fullscreen-top-default) - var(--breadcrumbs-height));
    
        --iframeBreadcrumbsView-fullscreen-top-default: calc(var(--tab-content-fullscreen-top-default));
        --iframeBreadcrumbsView-fullscreen-height-default: calc(100% - var(--tab-content-fullscreen-top-default));

        //Inputs & Select-Boxes//
        --input-wrapper-height-default: var(--height-md);
        --input-padding-default: var(--space-lg) 0 0 0;
        --input-isEmpty-padding-default: var(--input-padding-default);
        --input-isSmall-padding-default: 0 var(--space-md) 0 30%;
        --label-padding-default: var(--space-xs) 0 0 0;
        --label-width-default: 100%;
        
        --select-box-height-default: var(--height-md);
        --select-box-line-height-default: var(--height-md);
        --select-box-dropdown-top-default: var(--height-md);
        --select-box-labeled-padding-default: var(--space-lg) 0 0 0;
        --select-box-toggle-background-position-default: calc(100% - var(--space-lg)) var(--space-lg);

        //Alert-Panel//
        --terra-alert-panel-top-default: calc(var(--navbar-height) + var(--space-lg));
        
        //Navbar-dropdown-menu//
        --dropdown-menu-transition-default: all var(--transition-xs);
        --dropdown-menu-transition-delay-default: var(--transition-delay-xs);
        --dropdown-menu-transition-hide-default: all var(--transition-xs);
        --dropdown-menu-transition-delay-hide-default: var(--transition-delay-xs);
    }
}