<div [class]="containerClass">
    <div tcFormEntryContainer></div>
    
    <div class="form-entry-inner" *ngIf="hasChildren">
        <span class="form-entry-label" *ngIf="inputFormField.options?.name">{{ inputFormField.options?.name }}</span>
        <div class="form-entry-container" [formGroup]="inputFormGroup">
            <terra-form-container
                [formControlName]="formKey"
                [inputFormFields]="inputFormField.children"
                [inputScope]="inputScope"
                [inputControlTypeMap]="inputControlTypeMap"
                [inputIsDisabled]="inputIsDisabled"
                [formKey]="formKey"
            ></terra-form-container>
        </div>
    </div>
</div>
