.icon-loading
{
    width: 1em;
    height: 1em;
    position: relative;
    display: inline-block;
    
    &:before, &:after
    {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--icon-color, $body-color);
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        
        -webkit-animation: terra-bounce 2.0s infinite ease-in-out;
        animation: terra-bounce 2.0s infinite ease-in-out;
    }
    
    &:before
    {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
}

@-webkit-keyframes terra-bounce
{
    0%, 100%
    {
        -webkit-transform: scale(0.0)
    }
    50%
    {
        -webkit-transform: scale(1.0)
    }
}

@keyframes terra-bounce
{
    0%, 100%
    {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50%
    {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}