////////////////// Theme-Template //////////////
//
//
/////////////////////////////// Global-General Variables /////////////////////////////////
//
////////////// Colors //////////
//// based on function groups (add, active, alert, accent, background)
//// Recommendation: To get 3 different hues for a color in a new theme, use https://material.io/color/#!/
//
////add, success
//$color-add-light: #9eff9a;
//$color-add: #6AD26A;
//$color-add-dark: #33a03c;
//
////active, focus
//var(--color-active-light): #6de5ff;
//var(--color-active): #24B3E0;
//var(--color-active-dark): #0083ae;
//
////alert, warning, danger, caution
//var(--color-alert)-light: #ff5d63;
//var(--color-alert): #F11539;
//var(--color-alert-dark): #b60013;
//
////accent, highlight, feature, other
//var(--color-accent-light): #ffff91;
//var(--color-accent): #FDEA5F;
//var(--color-accent-dark): #c7b82b;
//
////backgrounds and structural elements
//var(--color-structure-0): #FFFFFF; //0 white
//var(--color-structure-1): #F5F5F5; //10
//var(--color-structure-2): #F3F3F3; //12
//var(--color-structure-3): #E5E5E5; //26
//var(--color-structure-4): #D7D8DB; //36
//var(--color-structure-5): #C6C7CA; //53
//var(--color-structure-6): #ACADB2; //77
//var(--color-structure-7): #95989D; //98
//var(--color-structure-8): #7B7E85; //122
//var(--color-structure-9): #636671; //142
//var(--color-structure-10): #5B5D66; //153
//var(--color-structure-11): #494C56; //169                 //tabbar
//var(--color-structure-12): #2F323A; //197                 //navbar
//var(--color-structure-13): #000000; //255 black
//
////////////// Fonts //////////////
//
//$font-face: 'Roboto';
//
//var(--font-size-1): 11px;
//var(--font-size-2): 12px;
//var(--font-size-3): 13px;
//var(--font-size-4): 14px;
//var(--font-size-5): 16px;
//var(--font-size-6): 22px;
//var(--font-size-7): 28px;
//var(--font-size-8): 48px;
//
//var(--font-weight-1): 400;
//var(--font-weight-2): 500;
//var(--font-weight-3): 700;
//
////////////// Others //////////
//
//$border-width: 1px;
//var(--border-radius): 5px;
//
//$padding-sm: 4px;
//$padding-md: 8px;
//$padding-lg: 12px;
//
//$zIndex-1: 100;
//$zIndex-2: 200;
//$zIndex-3: 300;
//$zIndex-4: 400;
//$zIndex-5: 500;
//$zIndex-6: 600;
//$zIndex-7: 700;
//$zIndex-8: 800;
//$zIndex-9: 900;
//
//$height-sm: 25px;
//$height-md: 36px;
//$height-lg: 45px;
//
//$space: 32px;
//
$grid-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 544px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1200px
) !default;