// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.

// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components

// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.

$terra-btn-sm-height: 25px;
$terra-btn-md-height: 36px;
$terra-btn-lg-height: 45px;

$brand-primary-darker: #354763 !default;
$brand-primary-dark: #90B9D7 !default;
$brand-primary: #008EBD !default;
$brand-primary-light: #B0DAF2 !default;
$brand-primary-lighter: #E5F4FF !default;
$brand-secondary: #D4021D !default;
$brand-secondary-light: #F2A7AD !default;
$brand-secondary-lighter: #FFE8E9 !default;
$brand-green: #4CAD33 !default;
$brand-green-light: #95CD8A !default;
$brand-green-lighter: #DFF2DA !default;
$brand-yellow: #FFCE36 !default;
$brand-yellow-light: #FEE090 !default;
$brand-yellow-lighter: #FFF5D8 !default;

$black: #000000 !default;            //255
$gray-dark: #333333 !default;        //204
$gray: #555555 !default;             //170
$gray-light: #777777 !default;       //136
$gray-light-2: #999999 !default;     //102
$gray-light-2-half:#C7C7C7 !default; //56
$gray-light-3: #E0E0E0 !default;     //31
$gray-light-4: #F2F2F2 !default;     //13
$gray-light-5: #FAFAFA !default;     //5
$white: #FFFFFF !default;            //0

$btn-brand-primary: $brand-primary !default;
$btn-brand-secondary: $brand-secondary !default;

$brand-success: $brand-primary !default;
$brand-info: $brand-primary-light !default;
$brand-warning: $brand-yellow !default;
$brand-danger: $brand-secondary !default;

$dim: rgba(0, 0, 0, 0.5);
$error: $brand-danger;
$valid: $brand-success;
$warning: $brand-warning;
$information: $brand-info;
$success: #3C763D;

//Layout
$max-width: 72em;

//Defaults
$space: 1em;
$space-and-half: $space*1.5;
$space-double: $space*2;
$space-quad: $space*4;
$space-half: $space/2;
$pad: 1em;
$pad-and-half: $pad*1.5;
$pad-double: $pad*2;
$pad-half: $pad/2;
$pad-quarter: $pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;
$border-color: $gray-light-2;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-flex: false !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
    0: (
        x: 0,
        y: 0
    ),
    1: (
        x: $spacer-x,
        y: $spacer-y
    ),
    2: (
        x: ($spacer-x * 1.5),
        y: ($spacer-y * 1.5)
    ),
    3: (
        x: ($spacer-x * 3),
        y: ($spacer-y * 3)
    )
) !default;
$border-width: 1px !default;

// Body
//
// Settings for the `<body>` element.
$body-bg: #FFFFFF !default;
$body-color: $gray-dark !default;

// Links
//
// Style anchor elements.
$link-color: $brand-primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 544px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1200px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
    sm: 576px,
    md: 720px,
    lg: 940px,
    xl: 1140px
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width: 1.875rem !default; // 30px

$font-family-sans-serif: "plenty", Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font: $font-family-sans-serif;
$font-secondary: $font-family-serif;
$font-light: $font-family-sans-serif;
$font-bold: $font-family-sans-serif;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px !default;

$font-size-base: .875rem !default;
$font-size-lg-4: 3rem !default;
$font-size-lg-3: 2rem !default;
$font-size-lg-2: 1.5rem !default;
$font-size-lg-1: 1.25rem !default;
$font-size-lg: 1rem !default;
$font-size-sm: .75rem !default;
$font-size-xs: .6rem !default;

//TODO Check if used and remove/normalize
$font-size-small: 0.75em;
$font-size-small-2: 0.875em;
$font-size-med: 1em;
$font-size-med-2: 1.0625em;
$font-size-large: 1.4375em;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;

$line-height: 1.5 !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

$lead-font-size: 1.25rem !default;
$lead-font-weight: 300 !default;

$text-muted: $gray-light !default;

$abbr-border-color: $gray-light !default;

$blockquote-small-color: $gray-light !default;
$blockquote-font-size: ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-light-2 !default;

$hr-border-color: rgba(0, 0, 0, .1) !default;
$hr-border-width: $border-width !default;

$dt-font-weight: bold !default;

$nested-kbd-font-weight: bold !default;

$list-inline-padding: 5px !default;

// Components
//
// Define common padding and border radius sizes and more.
$line-height-lg: (4 / 3) !default;
$line-height-sm: 1.5 !default;

$border-radius: 5px !default;
$border-radius-lg: .25rem !default;
$border-radius-sm: .2rem !default;

$component-active-color: #FFFFFF !default;
$component-active-bg: $brand-primary !default;

$caret-width: .3em !default;
$caret-width-lg: $caret-width !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.
$table-cell-padding: .75rem !default;
$table-sm-cell-padding: .3rem !default;

$table-bg: transparent !default;
$table-bg-accent: #F9F9F9 !default;
$table-bg-hover: #F5F5F5 !default;
$table-bg-active: $table-bg-hover !default;

$table-border-width: $border-width !default;
$table-border-color: darken($gray-light-3, 20%) !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.
$btn-padding-x: 1rem !default;
$btn-padding-y: .375rem !default;
$btn-font-weight: 700 !default;

$btn-primary-color: $gray-dark !default;
$btn-primary-bg: $gray-light-5 !default;
$btn-primary-border: $btn-primary-bg !default;

$btn-secondary-color: $gray-dark !default;
$btn-secondary-bg: #FFFFFF !default;
$btn-secondary-border: #CCCCCC !default;

$btn-info-color: #FFFFFF !default;
$btn-info-bg: $brand-info !default;
$btn-info-border: $btn-info-bg !default;

$btn-success-color: #FFFFFF !default;
$btn-success-bg: $brand-success !default;
$btn-success-border: $btn-success-bg !default;

$btn-warning-color: #FFFFFF !default;
$btn-warning-bg: $brand-warning !default;
$btn-warning-border: $btn-warning-bg !default;

$btn-danger-color: #FFFFFF !default;
$btn-danger-bg: $brand-danger !default;
$btn-danger-border: $btn-danger-bg !default;

$btn-link-disabled-color: $gray-light !default;

$btn-padding-x-sm: .75rem !default;
$btn-padding-y-sm: .25rem !default;

$btn-padding-x-lg: 1.25rem !default;
$btn-padding-y-lg: .75rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius !default;
$btn-border-radius-lg: $border-radius-lg !default;
$btn-border-radius-sm: $border-radius-sm !default;

// Forms
$input-padding-x: .75rem !default;
$input-padding-y: .375rem !default;

$input-bg: #FFFFFF !default;
$input-bg-disabled: $gray-light-2 !default;

$input-color: $gray !default;
$input-border-color: #CCCCCC !default;
$input-btn-border-width: $border-width !default; // For form controls and buttons
$input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !default;

$input-border-radius: $border-radius !default;
$input-border-radius-lg: $border-radius-lg !default;
$input-border-radius-sm: $border-radius-sm !default;

$input-border-focus: #66AFE9 !default;
$input-box-shadow-focus: rgba(102, 175, 233, .6) !default;

$input-color-placeholder: #999999 !default;

$input-padding-x-sm: .75rem !default;
$input-padding-y-sm: .275rem !default;

$input-padding-x-lg: 1.25rem !default;
$input-padding-y-lg: .75rem !default;

$input-height: (($font-size-base * $line-height) + ($input-padding-y * 2)) !default;
$input-height-lg: (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2)) !default;
$input-height-sm: (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2)) !default;

$form-group-margin-bottom: $spacer-y !default;

$input-group-addon-bg: $gray-light-2 !default;
$input-group-addon-border-color: $input-border-color !default;

$cursor-disabled: not-allowed !default;

// Form validation icons
$form-icon-success: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg==" !default;
$form-icon-warning: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+" !default;
$form-icon-danger: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4=" !default;

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-bg: #FFFFFF !default;
$dropdown-border-color: rgba(0, 0, 0, .15) !default;
$dropdown-border-width: $border-width !default;
$dropdown-divider-bg: #E5E5E5 !default;

$dropdown-link-color: $gray-dark !default;
$dropdown-link-hover-color: darken($gray-dark, 5%) !default;
$dropdown-link-hover-bg: #F5F5F5 !default;

$dropdown-link-active-color: $component-active-color !default;
$dropdown-link-active-bg: $component-active-bg !default;

$dropdown-link-disabled-color: $gray-light !default;

$dropdown-header-color: $gray-light !default;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
$zindex-navbar: 1000 !default;
$zindex-dropdown: 1000 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
$zindex-navbar-fixed: 1030 !default;
$zindex-navbar-sticky: 1030 !default;
$zindex-toolbar-sticky: 1000 !default;
$zindex-modal-bg: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-alert-panel: 1030 !default;
$zindex-context-menu: 99999 !default;

// Navbar
$navbar-border-radius: $border-radius !default;
$navbar-padding-horizontal: $spacer !default;
$navbar-padding-vertical: ($spacer / 2) !default;
$navbar-height: 70px;

// Tabbar
$tabbar-height: 46px;

$navbar-dark-color: rgba(255, 255, 255, .5) !default;
$navbar-dark-hover-color: rgba(255, 255, 255, .75) !default;
$navbar-dark-active-color: rgba(255, 255, 255, 1) !default;
$navbar-dark-disabled-color: rgba(255, 255, 255, .25) !default;

$navbar-light-color: rgba(0, 0, 0, .3) !default;
$navbar-light-hover-color: rgba(0, 0, 0, .6) !default;
$navbar-light-active-color: rgba(0, 0, 0, .8) !default;
$navbar-light-disabled-color: rgba(0, 0, 0, .15) !default;

// Navs
$nav-link-padding: .5em 1em !default;
$nav-link-hover-bg: $gray-light-2 !default;

$nav-disabled-link-color: $gray-light !default;
$nav-disabled-link-hover-color: $gray-light !default;

$nav-tabs-border-color: #DDDDDD !default;

$nav-tabs-link-border-width: $border-width !default;
$nav-tabs-link-hover-border-color: $gray-light-2 !default;

$nav-tabs-active-link-hover-bg: $body-bg !default;
$nav-tabs-active-link-hover-color: $gray !default;
$nav-tabs-active-link-hover-border-color: #DDDDDD !default;

$nav-tabs-justified-link-border-color: #DDDDDD !default;
$nav-tabs-justified-active-link-border-color: $body-bg !default;

$nav-pills-border-radius: $border-radius !default;
$nav-pills-active-link-hover-bg: $component-active-bg !default;
$nav-pills-active-link-hover-color: $component-active-color !default;

// Pagination
$pagination-padding-x: .75rem !default;
$pagination-padding-y: .5rem !default;
$pagination-padding-x-sm: .75rem !default;
$pagination-padding-y-sm: .275rem !default;
$pagination-padding-x-lg: 1.5rem !default;
$pagination-padding-y-lg: .75rem !default;

$pagination-color: $link-color !default;
$pagination-bg: #FFFFFF !default;
$pagination-border-width: $border-width !default;
$pagination-border-color: #DDDDDD !default;

$pagination-hover-color: $link-hover-color !default;
$pagination-hover-bg: $gray-light-2 !default;
$pagination-hover-border: #DDDDDD !default;

$pagination-active-color: #FFFFFF !default;
$pagination-active-bg: $brand-primary !default;
$pagination-active-border: $brand-primary !default;

$pagination-disabled-color: $gray-light !default;
$pagination-disabled-bg: #FFFFFF !default;
$pagination-disabled-border: #DDDDDD !default;

// Pager
$pager-bg: $pagination-bg !default;
$pager-border-width: $border-width !default;
$pager-border-color: $pagination-border-color !default;
$pager-border-radius: 15px !default;

$pager-hover-bg: $pagination-hover-bg !default;

$pager-active-bg: $pagination-active-bg !default;
$pager-active-color: $pagination-active-color !default;

$pager-disabled-color: $pagination-disabled-color !default;

// Jumbotron
$jumbotron-padding: 2rem !default;
$jumbotron-bg: $gray-light-2 !default;

// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.
$state-success-text: #3C763D !default;
$state-success-bg: #DFF0D8 !default;
$state-success-border: darken($state-success-bg, 5%) !default;

$state-info-text: #31708F !default;
$state-info-bg: #D9EDF7 !default;
$state-info-border: darken($state-info-bg, 7%) !default;

$state-warning-text: #8A6D3B !default;
$state-warning-bg: #FCF8E3 !default;
$state-warning-border: darken($state-warning-bg, 5%) !default;

$state-danger-text: #A94442 !default;
$state-danger-bg: #F2DEDE !default;
$state-danger-border: darken($state-danger-bg, 5%) !default;

// Cards
$card-spacer-x: 1.25rem !default;
$card-spacer-y: .75rem !default;
$card-border-width: 1px !default;
$card-border-radius: $border-radius !default;
$card-border-color: #E5E5E5 !default;
$card-border-radius-inner: $card-border-radius !default;
$card-cap-bg: #F5F5F5 !default;
$card-bg: #FFFFFF !default;

$card-link-hover-color: #FFFFFF !default;

// Tooltips
$tooltip-max-width: 200px !default;
$tooltip-opacity: .9 !default;
//$tooltip-color: $brand-primary-darker !default;
//$tooltip-bg: $white !default;
$tooltip-color: #FFFFFF !default;
$tooltip-bg: #000000 !default;

$tooltip-arrow-width: 5px !default;
$tooltip-arrow-color: $tooltip-bg !default;

// Popovers
$popover-bg: #FFFFFF !default;
$popover-max-width: 276px !default;
$popover-border-width: $border-width !default;
$popover-border-color: rgba(0, 0, 0, .2) !default;

$popover-title-bg: darken($popover-bg, 3%) !default;

$popover-arrow-width: 10px !default;
$popover-arrow-color: $popover-bg !default;

$popover-arrow-outer-width: ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color: fade-in($popover-border-color, 0.05) !default;

// Labels
$label-default-bg: $gray-light !default;
$label-primary-bg: $brand-primary !default;
$label-success-bg: $brand-success !default;
$label-info-bg: $brand-info !default;
$label-warning-bg: $brand-warning !default;
$label-danger-bg: $brand-danger !default;

$label-color: #FFFFFF !default;
$label-link-hover-color: #FFFFFF !default;
$label-font-weight: bold !default;

// Modals

// Padding applied to the modal body
$modal-inner-padding: 15px !default;

$modal-title-padding: 15px !default;
$modal-title-line-height: $line-height !default;

$modal-content-bg: #FFFFFF !default;
$modal-content-border-color: rgba(0, 0, 0, .2) !default;

$modal-backdrop-bg: #000000 !default;
$modal-backdrop-opacity: .5 !default;
$modal-header-border-color: #E5E5E5 !default;
$modal-footer-border-color: $modal-header-border-color !default;

$modal-lg: 900px !default;
$modal-md: 600px !default;
$modal-sm: 300px !default;

// Alerts
//
// Define alert colors, border radius, and padding.
$alert-padding: 15px !default;
$alert-border-radius: $border-radius !default;
$alert-link-font-weight: bold !default;
$alert-border-width: $border-width !default;

$alert-success-bg: $state-success-bg !default;
$alert-success-text: $state-success-text !default;
$alert-success-border: $state-success-border !default;

$alert-info-bg: $state-info-bg !default;
$alert-info-text: $state-info-text !default;
$alert-info-border: $state-info-border !default;

$alert-warning-bg: $state-warning-bg !default;
$alert-warning-text: $state-warning-text !default;
$alert-warning-border: $state-warning-border !default;

$alert-danger-bg: $state-danger-bg !default;
$alert-danger-text: $state-danger-text !default;
$alert-danger-border: $state-danger-border !default;

// Progress bars
$progress-bg: #F5F5F5 !default;
$progress-bar-color: #FFFFFF !default;
$progress-border-radius: $border-radius !default;

$progress-bar-bg: $brand-primary !default;
$progress-bar-success-bg: $brand-success !default;
$progress-bar-warning-bg: $brand-warning !default;
$progress-bar-danger-bg: $brand-danger !default;
$progress-bar-info-bg: $brand-info !default;

// List group
$list-group-bg: #FFFFFF !default;
$list-group-border-color: #DDDDDD !default;
$list-group-border-width: $border-width !default;
$list-group-border-radius: $border-radius !default;

$list-group-hover-bg: #F5F5F5 !default;
$list-group-active-color: $component-active-color !default;
$list-group-active-bg: $component-active-bg !default;
$list-group-active-border: $list-group-active-bg !default;
$list-group-active-text-color: lighten($list-group-active-bg, 40%) !default;

$list-group-disabled-color: $gray-light !default;
$list-group-disabled-bg: $gray-light-2 !default;
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color: #555555 !default;
$list-group-link-hover-color: $list-group-link-color !default;
$list-group-link-heading-color: #333333 !default;

// Image thumbnails
$thumbnail-padding: .25rem !default;
$thumbnail-bg: $body-bg !default;
$thumbnail-border-width: $border-width !default;
$thumbnail-border-color: #DDDDDD !default;
$thumbnail-border-radius: $border-radius !default;

// Breadcrumbs
$breadcrumb-padding-vertical: .75rem !default;
$breadcrumb-padding-horizontal: 1rem !default;

$breadcrumb-bg: $gray-light-2 !default;
$breadcrumb-divider-color: $gray-light !default;
$breadcrumb-active-color: $gray-light !default;
$breadcrumb-divider: "/" !default;

// Carousel
$carousel-text-shadow: 0 1px 2px rgba(0, 0, 0, .6) !default;

$carousel-control-color: #FFFFFF !default;
$carousel-control-width: 15% !default;
$carousel-control-opacity: .5 !default;
$carousel-control-font-size: 20px !default;

$carousel-indicator-active-bg: #FFFFFF !default;
$carousel-indicator-border-color: #FFFFFF !default;

$carousel-caption-color: #FFFFFF !default;

// Close
$close-font-weight: bold !default;
$close-color: #000000 !default;
$close-text-shadow: 0 1px 0 #FFFFFF !default;

// Code
$code-color: #BD4147 !default;
$code-bg: #F7F7F9 !default;

$kbd-color: #FFFFFF !default;
$kbd-bg: #333333 !default;

$pre-bg: #F7F7F9 !default;
$pre-color: $gray-dark !default;
$pre-border-color: #CCCCCC !default;
$pre-scrollable-max-height: 340px !default;

$icon-colorpicker: "\eafe";
$icon-servicecenter: "\eaff";
$icon-open_external_link: "\eafc";
$icon-unlock_contact: "\eafd";
$icon-exch_adre_type: "\e94e";
$icon-ship_amaz_1st: "\eaf7";
$icon-ship_amaz_2nd: "\eaf8";
$icon-ship_amaz_prime_1st: "\eaf9";
$icon-ship_amaz_prime_2nd: "\eafa";
$icon-ship_amaz_prime: "\eafb";
$icon-caret: "\e921";
$icon-item-artikel: "\e92f";
$icon-align_center: "\e930";
$icon-align_justify: "\e931";
$icon-align_left: "\e932";
$icon-align_right: "\e935";
$icon-device_desktop: "\e936";
$icon-device_laptop: "\e937";
$icon-device_mobile: "\e938";
$icon-device_tablet: "\e940";
$icon-ebay: "\e941";
$icon-switch_editor: "\e942";
$icon-text_bold: "\e943";
$icon-text_italic: "\e944";
$icon-text_strikethrough: "\e945";
$icon-text_underline: "\e946";
$icon-click_and_collect: "\e947";
$icon-ebay_basket: "\e948";
$icon-ebay_plus: "\e949";
$icon-hood: "\e94a";
$icon-reverse_fullscreen: "\e94c";
$icon-ricardo: "\e94d";
$icon-backend_ceres: "\e91e";
$icon-backend_io: "\e91f";
$icon-shipping_cbc_logistics: "\e920";
$icon-application_double: "\e94f";
$icon-box_minus_disabled: "\e950";
$icon-box_minus: "\e951";
$icon-box_plus_disabled: "\e952";
$icon-box_plus: "\e953";
$icon-icon_questionmark_bck: "\e954";
$icon-manual_search: "\e955";
$icon-pay_5_paypal: "\e956";
$icon-pay_25_laredoute: "\e957";
$icon-pay_amazon_payment: "\e958";
$icon-pay_amazon: "\e95d";
$icon-pay_bill: "\e95e";
$icon-pay_billsafe: "\e95f";
$icon-pay_cash_in_advance: "\e960";
$icon-pay_cash_on_delivery: "\ea02";
$icon-pay_cash: "\ea03";
$icon-pay_cheque: "\ea04";
$icon-pay_clickandbuy: "\ea05";
$icon-pay_concardis: "\ea06";
$icon-pay_coupon: "\ea07";
$icon-pay_credit_card: "\ea08";
$icon-pay_crefopay: "\ea09";
$icon-pay_debit: "\ea0a";
$icon-pay_ec: "\ea65";
$icon-pay_eos: "\ea66";
$icon-pay_expercash: "\ea67";
$icon-pay_gartenxxl: "\ea68";
$icon-pay_gimahhot: "\ea69";
$icon-pay_heidelpay: "\ea6a";
$icon-pay_hitmeister: "\ea6b";
$icon-pay_iclear: "\ea6c";
$icon-pay_iloxx: "\ea6d";
$icon-pay_klarna: "\ea6e";
$icon-pay_masterpayment: "\ea6f";
$icon-pay_meinpaket: "\ea70";
$icon-pay_neckermann: "\ea71";
$icon-pay_other: "\eaab";
$icon-pay_pay_card: "\eab4";
$icon-pay_paymorrow_new: "\eab5";
$icon-pay_paymorrow: "\eab6";
$icon-pay_payolution: "\eab7";
$icon-pay_payone: "\eab8";
$icon-pay_paypal_express: "\eab9";
$icon-pay_paypal_qr: "\eaba";
$icon-pay_pixmania: "\eabb";
$icon-pay_plus: "\eabc";
$icon-pay_postpay: "\eabd";
$icon-pay_rakuten: "\eabe";
$icon-pay_ratepay: "\eabf";
$icon-pay_saferpay: "\eac0";
$icon-pay_sagepay: "\eac1";
$icon-pay_santander: "\eac2";
$icon-pay_shopgate: "\eac3";
$icon-pay_skrill: "\eac4";
$icon-pay_sofortueberweisung: "\eac5";
$icon-pay_wirecard: "\eac6";
$icon-pay_worldpay: "\eac7";
$icon-pay_zalando: "\eac8";
$icon-pay_zentralverkauf: "\eac9";
$icon-shipping_bilog: "\eaca";
$icon-shipping_bps: "\eacb";
$icon-shipping_bvw: "\eacc";
$icon-shipping_dachser: "\eacd";
$icon-shipping_db_schenker: "\eace";
$icon-shipping_deutschepost: "\eacf";
$icon-shipping_dhl_packstation: "\ead0";
$icon-shipping_dhl: "\ead1";
$icon-shipping_dpd: "\ead2";
$icon-shipping_ems_garantpost: "\ead3";
$icon-shipping_ereturn: "\ead4";
$icon-shipping_esellersfriend: "\ead5";
$icon-shipping_fedex: "\ead6";
$icon-shipping_gel_express: "\ead7";
$icon-shipping_gls: "\ead8";
$icon-shipping_hbh: "\ead9";
$icon-shipping_hermes: "\eada";
$icon-shipping_ids_logistik: "\eadb";
$icon-shipping_ilopack: "\eadc";
$icon-shipping_iloxx: "\eadd";
$icon-shipping_lkv: "\eade";
$icon-shipping_other: "\eadf";
$icon-shipping_post_at: "\eae0";
$icon-shipping_pvs_logistik: "\eae1";
$icon-shipping_rhenus: "\eae2";
$icon-shipping_selbstabholer: "\eae3";
$icon-shipping_shippingcenter: "\eae4";
$icon-shipping_spedition: "\eae5";
$icon-shipping_swiss_post: "\eae6";
$icon-shipping_tnt: "\eae7";
$icon-shipping_trans-o-flex: "\eae8";
$icon-shipping_ups: "\eae9";
$icon-shipping_yousellwesend: "\eaea";
$icon-customer_link: "\eaeb";
$icon-design_inline_edit: "\eaec";
$icon-document_show: "\eaed";
$icon-dunning_level_1: "\eaee";
$icon-dunning_level_2: "\eaef";
$icon-dunning_level_3: "\eaf0";
$icon-dunning_level_4: "\eaf1";
$icon-dunning_level_5: "\eaf2";
$icon-email_sent: "\eaf3";
$icon-file_extension_odt: "\eaf4";
$icon-payment_sepa_pain: "\eaf5";
$icon-shipping_centre: "\eaf6";
$icon-order_new: "\e9e9";
$icon-gutschrift_erzeugen: "\eb23";
$icon-gutschrift_stornieren: "\eb24";
$icon-icon-reversal_document-13: "\eb22";
$icon-reorder_search: "\ea56";
$icon-shipment_tracking: "\ea64";
$icon-zoom_out: "\eb21";
$icon-plugin_productive_deploy: "\e90c";
$icon-plugin_to_productive: "\eb1f";
$icon-plugin_to_stage: "\eb20";
$icon-image: "\eb17";
$icon-plugin_stage_deploy: "\eb1c";
$icon-plugin_stage: "\eb1d";
$icon-trash: "\eaae";
$icon-author: "\eab2";
$icon-changelog: "\eab3";
$icon-item_move: "\eb1a";
$icon-marketplace: "\eb1b";
$icon-plugin: "\eb1e";
$icon-burger: "\eab0";
$icon-grid: "\eab1";
$icon-plugin_inbox: "\eaaf";
$icon-dunning_level: "\e94b";
$icon-folder_closeable: "\eaac";
$icon-order_multi: "\eaad";
$icon-support: "\eaaa";
$icon-diagramm: "\eaa6";
$icon-forum: "\eaa7";
$icon-handbuch: "\eaa8";
$icon-statistik: "\eaa9";
$icon-active: "\e900";
$icon-add: "\e901";
$icon-address_label: "\e902";
$icon-adjustment_form: "\e903";
$icon-apply_all: "\e904";
$icon-back: "\e905";
$icon-booking_carry_outpng: "\e906";
$icon-booking_reset: "\e907";
$icon-calculate_acquisition_pricepng: "\e908";
$icon-calendar_extend_appointment: "\e909";
$icon-cancel: "\e90a";
$icon-category_edit: "\e90b";
$icon-checkbox_checked: "\e90d";
$icon-checkbox_indeterminate: "\e90e";
$icon-checkbox_unchecked: "\e90f";
$icon-close: "\e910";
$icon-collapse_down: "\e911";
$icon-collapse_left: "\e912";
$icon-collapse_rightpng: "\e913";
$icon-collapse_up: "\e914";
$icon-confirm: "\e915";
$icon-control_pause: "\e916";
$icon-control_play: "\e917";
$icon-control_skip: "\e918";
$icon-control_start: "\e919";
$icon-control_stop: "\e91a";
$icon-copy_clipboard: "\e91b";
$icon-copy: "\e91c";
$icon-credit_note: "\e91d";
$icon-customer_new_password: "\e922";
$icon-customer: "\e923";
$icon-data_export: "\e924";
$icon-date_pick: "\e925";
$icon-debug: "\e926";
$icon-delete: "\e927";
$icon-delivery_note_create: "\e928";
$icon-delivery_note: "\e929";
$icon-design_add: "\e92a";
$icon-design_copy: "\e92b";
$icon-design_export: "\e92c";
$icon-design_import: "\e92d";
$icon-design_inline_edit_toggle: "\e92e";
$icon-design_publish: "\e933";
$icon-design_transfer: "\e934";
$icon-document: "\e939";
$icon-domain_new: "\e93a";
$icon-domains: "\e93b";
$icon-download: "\e93c";
$icon-drag_sort_handle: "\e93d";
$icon-dropbox: "\e93e";
$icon-dunning_letter: "\e93f";
$icon-edit_blog: "\e959";
$icon-edit_listing: "\e95a";
$icon-edit: "\e95b";
$icon-email_send: "\e95c";
$icon-email_service: "\e961";
$icon-error: "\e962";
$icon-execute: "\e963";
$icon-export: "\e964";
$icon-favourite_active: "\e965";
$icon-favourite_inactive: "\e966";
$icon-favourites: "\e967";
$icon-file_attachment: "\e968";
$icon-file_extension_blank: "\e969";
$icon-file_extension_css: "\e96a";
$icon-file_extension_csv: "\e96b";
$icon-file_extension_doc: "\e96c";
$icon-file_extension_docx: "\e96d";
$icon-file_extension_gif: "\e96e";
$icon-file_extension_gzip: "\e96f";
$icon-file_extension_hh: "\e970";
$icon-file_extension_html: "\e971";
$icon-file_extension_ico: "\e972";
$icon-file_extension_jpeg: "\e973";
$icon-file_extension_jpg: "\e974";
$icon-file_extension_js: "\e975";
$icon-file_extension_json: "\e976";
$icon-file_extension_md: "\e977";
$icon-file_extension_openoffice: "\e978";
$icon-file_extension_pdf: "\e979";
$icon-file_extension_png: "\e97a";
$icon-file_extension_rtf: "\e97b";
$icon-file_extension_swf: "\e97c";
$icon-file_extension_tar: "\e97d";
$icon-file_extension_tiff: "\e97e";
$icon-file_extension_twig: "\e97f";
$icon-file_extension_txt: "\e980";
$icon-file_extension_xls: "\e981";
$icon-file_extension_xlsx: "\e982";
$icon-file_extension_xml: "\e983";
$icon-file_extension_zip: "\e984";
$icon-filter_add: "\e985";
$icon-filter_remove: "\e986";
$icon-filter: "\e987";
$icon-first: "\e988";
$icon-flag_alarm: "\e989";
$icon-flag_black: "\e98a";
$icon-flag_blue: "\e98b";
$icon-flag_bomb_black: "\e98c";
$icon-flag_bomb_green: "\e98d";
$icon-flag_bomb_red: "\e98e";
$icon-flag_green: "\e98f";
$icon-flag_help: "\e990";
$icon-flag_ledblack_16: "\e991";
$icon-flag_ledblue_16: "\e992";
$icon-flag_leddarkblue_16: "\e993";
$icon-flag_leddarkgreen_16: "\e994";
$icon-flag_leddarkred_16: "\e995";
$icon-flag_ledgreen_16: "\e996";
$icon-flag_ledgrey_16: "\e997";
$icon-flag_ledorange_16: "\e998";
$icon-flag_ledpink_16: "\e999";
$icon-flag_ledpurple_16: "\e99a";
$icon-flag_ledred_16: "\e99b";
$icon-flag_ledyellow_16: "\e99c";
$icon-flag_none: "\e99d";
$icon-flag_red: "\e99e";
$icon-flag_star: "\e99f";
$icon-flag_user_blue: "\e9a0";
$icon-flag_user_dark_blue: "\e9a1";
$icon-flag_user_female: "\e9a2";
$icon-flag_user_gray: "\e9a3";
$icon-flag_user_green: "\e9a4";
$icon-flag_user_light_gray: "\e9a5";
$icon-flag_user_orange: "\e9a6";
$icon-flag_user_purple: "\e9a7";
$icon-flag_user_red: "\e9a8";
$icon-flag_user_turquoise: "\e9a9";
$icon-flag_user_yellow: "\e9aa";
$icon-flag_weather_clouds: "\e9ab";
$icon-flag_weather_cloudy: "\e9ac";
$icon-flag_weather_lightning: "\e9ad";
$icon-flag_weather_rain: "\e9ae";
$icon-flag_weather_snow: "\e9af";
$icon-flag_weather_sun: "\e9b0";
$icon-flag_yellow: "\e9b1";
$icon-folder_add: "\e9b2";
$icon-folder_closable: "\e9b3";
$icon-folder_openable: "\e9b4";
$icon-folder_opened: "\e9b5";
$icon-folder: "\e9b6";
$icon-frontend_open: "\e9b7";
$icon-fullscreen: "\e9b8";
$icon-help: "\e9b9";
$icon-inactive: "\e9ba";
$icon-infinite: "\e9bb";
$icon-info: "\e9bc";
$icon-insert_after: "\e9bd";
$icon-insert_before: "\e9be";
$icon-invoice_create: "\e9bf";
$icon-item_barcode_show: "\e9c0";
$icon-item_bundle: "\e9c1";
$icon-item_image_gallery: "\e9c2";
$icon-item_image_selected_1: "\e9c3";
$icon-item_image_selected_2: "\e9c4";
$icon-item_label: "\e9c5";
$icon-item_plus: "\e9c6";
$icon-item_referrer_url: "\e9c7";
$icon-item_scan: "\e9c8";
$icon-item_search: "\e9c9";
$icon-item_serial_number_register: "\e9ca";
$icon-item_serial_number: "\e9cb";
$icon-item_variation_distribute_quantity: "\e9cc";
$icon-item_variation_inheritance: "\e9cd";
$icon-item_webshop_invisible: "\e9ce";
$icon-item: "\e9cf";
$icon-items_incoming_history: "\e9d0";
$icon-lang_de: "\e9d1";
$icon-lang_en: "\e9d2";
$icon-lang_multilingual: "\e9d3";
$icon-last: "\e9d4";
$icon-lionbridge_status_check: "\e9d5";
$icon-lionbridge_status_checked: "\e9d6";
$icon-listing_create: "\e9d7";
$icon-listing_direct_lister: "\e9d8";
$icon-listing_remove: "\e9d9";
$icon-listing_show_active: "\e9da";
$icon-listing_template_transfer: "\e9db";
$icon-listing_type_shop: "\e9dc";
$icon-listings_show_active: "\e9dd";
$icon-listings_show: "\e9de";
$icon-more: "\e9df";
$icon-move_down: "\e9e0";
$icon-move_up: "\e9e1";
$icon-navigate_back: "\e9e2";
$icon-new_todo: "\e9e3";
$icon-next: "\e9e4";
$icon-offer: "\e9e5";
$icon-order_confirmation_create: "\e9e6";
$icon-order_flag: "\e9e7";
$icon-order_mulit: "\e9e8";
$icon-order_not_possible: "\e9ea";
$icon-order_note_create: "\e9eb";
$icon-order_note_customer: "\e9ec";
$icon-order_note: "\e9ed";
$icon-order_open: "\e9ee";
$icon-order_parcel_service_change: "\e9ef";
$icon-order_parcel_service_preset_change: "\e9f0";
$icon-order_property: "\e9f1";
$icon-order_return_create_edit: "\e9f2";
$icon-order_return_slip: "\e9f3";
$icon-order_return: "\e9f4";
$icon-order_returns_label: "\e9f5";
$icon-order_scheduler_new: "\e9f6";
$icon-order_sent: "\e9f7";
$icon-order_show_existing_processes: "\e9f8";
$icon-order_split: "\e9f9";
$icon-order: "\e9fa";
$icon-outgoing_items: "\e9fb";
$icon-owner: "\e9fc";
$icon-payment_assign: "\e9fd";
$icon-payment_book_incoming_directly: "\e9fe";
$icon-payment_credit_note: "\e9ff";
$icon-payment_manual_booking: "\ea00";
$icon-payment_register_incoming: "\ea01";
$icon-picklist_close: "\ea0b";
$icon-picklist: "\ea0c";
$icon-placeholder_show_list: "\ea0d";
$icon-plenty_testsystem_new: "\ea0e";
$icon-plugin_copy_to_stage: "\ea0f";
$icon-plugin_linked_to_git: "\ea10";
$icon-plugin_not_copied_to_stage: "\ea11";
$icon-plugin_not_linked_to_git: "\ea12";
$icon-plugin_not_productive: "\ea13";
$icon-plugin_productive: "\ea14";
$icon-plugin_pull_productive: "\ea15";
$icon-plugin_pull_stage: "\ea16";
$icon-plugin_pull: "\ea17";
$icon-plugin_push: "\ea18";
$icon-plugin_repo_fetch: "\ea19";
$icon-preview_not_available: "\ea1a";
$icon-preview: "\ea1b";
$icon-print: "\ea1c";
$icon-printer_add: "\ea1d";
$icon-problem: "\ea1e";
$icon-process_add: "\ea1f";
$icon-process_caching: "\ea20";
$icon-process_counter_1: "\ea21";
$icon-process_counter_2: "\ea22";
$icon-process_counter_3: "\ea23";
$icon-process_counter_4: "\ea24";
$icon-process_counter_5: "\ea25";
$icon-process_counter_6: "\ea26";
$icon-process_counter_7: "\ea27";
$icon-process_counter_8: "\ea28";
$icon-process_counter_9: "\ea29";
$icon-process_counter_10: "\ea2a";
$icon-process_counter_11: "\ea2b";
$icon-process_counter_12: "\ea2c";
$icon-process_counter_13: "\ea2d";
$icon-process_counter_14: "\ea2e";
$icon-process_counter_15: "\ea2f";
$icon-process_counter_16: "\ea30";
$icon-process_counter_17: "\ea31";
$icon-process_counter_18: "\ea32";
$icon-process_counter_19: "\ea33";
$icon-process_counter_20: "\ea34";
$icon-process_counter_21: "\ea35";
$icon-process_counter_22: "\ea36";
$icon-process_counter_23: "\ea37";
$icon-process_counter_24: "\ea38";
$icon-process_counter_25: "\ea39";
$icon-process_dialog: "\ea3a";
$icon-process_end: "\ea3b";
$icon-process_error_grey: "\ea3c";
$icon-process_error_red: "\ea3d";
$icon-process_error: "\ea3e";
$icon-process_jump: "\ea3f";
$icon-process_loop: "\ea40";
$icon-process_order_status: "\ea41";
$icon-process_polling: "\ea42";
$icon-process_scan: "\ea43";
$icon-rating_small_-1: "\ea44";
$icon-rating_small_-2: "\ea45";
$icon-rating_small_-3: "\ea46";
$icon-rating_small_-4: "\ea47";
$icon-rating_small_-5: "\ea48";
$icon-rating_small_0: "\ea49";
$icon-rating_small_1: "\ea4a";
$icon-rating_small_02: "\ea4b";
$icon-rating_small_3: "\ea4c";
$icon-rating_small_4: "\ea4d";
$icon-rating_small_5: "\ea4e";
$icon-receipt_archive: "\ea4f";
$icon-referrer_backend: "\ea50";
$icon-refresh: "\ea51";
$icon-reload: "\ea52";
$icon-reorder_create: "\ea53";
$icon-reorder_not_possible: "\ea54";
$icon-reorder_scan: "\ea55";
$icon-reorder_show: "\ea57";
$icon-reorder_type: "\ea58";
$icon-reorder: "\ea59";
$icon-repair_slip: "\ea5a";
$icon-reset_32: "\ea5b";
$icon-reset: "\ea5c";
$icon-save: "\ea5d";
$icon-search_apply: "\ea5e";
$icon-search: "\ea5f";
$icon-send_email: "\ea60";
$icon-set_package_number: "\ea61";
$icon-settings_transfer: "\ea62";
$icon-settings: "\ea63";
$icon-shipping_dhl_packstation_valid: "\ea72";
$icon-shipping_express: "\ea73";
$icon-skype: "\ea74";
$icon-sort_asc: "\ea75";
$icon-sort_desc: "\ea76";
$icon-sort_down: "\ea77";
$icon-sort_up: "\ea78";
$icon-sound: "\ea79";
$icon-stock_intake_without_reorder: "\ea7a";
$icon-stock_intake: "\ea7b";
$icon-stock_limited: "\ea7c";
$icon-stock: "\ea7d";
$icon-success: "\ea7e";
$icon-tag_disabled: "\ea7f";
$icon-tag: "\ea80";
$icon-telephone_hangup: "\ea81";
$icon-telephone: "\ea82";
$icon-ticket_add_faq: "\ea83";
$icon-ticket_all: "\ea84";
$icon-ticket_attachment_private: "\ea85";
$icon-ticket_create: "\ea86";
$icon-ticket_deadline_exceeded: "\ea87";
$icon-ticket_deadline_today: "\ea88";
$icon-ticket_events: "\ea89";
$icon-ticket_folder_move: "\ea8a";
$icon-ticket_link: "\ea8b";
$icon-ticket_message_new: "\ea8c";
$icon-ticket_message_private_new: "\ea8d";
$icon-ticket_message_private: "\ea8e";
$icon-ticket_message: "\ea8f";
$icon-ticket_mine_done: "\ea90";
$icon-ticket_mine_todo: "\ea91";
$icon-ticket_mine: "\ea92";
$icon-ticket_new: "\ea93";
$icon-ticket_prio1: "\ea94";
$icon-ticket_prio2: "\ea95";
$icon-ticket_prio3: "\ea96";
$icon-ticket_prio4: "\ea97";
$icon-ticket_prio5: "\ea98";
$icon-ticket_prio6: "\ea99";
$icon-ticket_prio7: "\ea9a";
$icon-ticket_prio8: "\ea9b";
$icon-ticket_show_parent: "\ea9c";
$icon-ticket_show: "\ea9d";
$icon-ticket_todo: "\ea9e";
$icon-timer: "\ea9f";
$icon-upload: "\eaa0";
$icon-user_my_account: "\eaa1";
$icon-vcard: "\eaa2";
$icon-visibility_private: "\eaa3";
$icon-warning: "\eaa4";
$icon-zoom: "\eaa5";

////////// Terramore ////////////

$font-face: 'Roboto';

$dark-grey-1: #2F323A;
$dark-grey-2: #4B4E56;
$dark-grey-3: #636671;
$brand-color: #CF001B;
$alert-red: #F11539;
$alert-green: #6AD26A;
$blue: #24B3E0;
$blue-hover: #1FA1C9;
$yellow-light: #FFF5AF;
$yellow: #FDEA5F;
$tree-icon-grey: #5a5d67;
$tree-icon-grey-hover: #52545d;

$medium-grey-1: #ACADB2;
$light-grey-1: #F4F5F5;

$font-size-7: 28px !default;
$font-size-6: 22px !default;
$font-size-5: 16px !default;
$font-size-4: 14px !default;
$font-size-3: 13px !default;
$font-size-2: 12px !default;
$font-size-1: 11px !default;

$font-weight-1: 400;
$font-weight-2: 500;
$font-weight-3: 700;

$white: #FFFFFF;
$grey-1: #F5F5F5;
$grey-2: #F3F3F3;
$grey-3: #E5E5E5;
$grey-4: #D7D8DB;
$grey-5: #C6C7CA;
$grey-6: #ACADB2;
$grey-7: #95989D;
$grey-8: #7B7E85;
$grey-9: #636671;
$grey-10: #5B5D66;
$grey-11: #494C56;
$grey-12: #2F323A;
$black: #000000;

$terra-tooltip-color: $grey-12;

$border-radius: 5px;

// bread-crumbs
$breadcumb-height: 36px;
