@import "_variables";
@import "_loading.icon";
// Typography
//
// Font, line-height, and color for body text, headings, and more.

//Typography
@font-face
{
    font-family: 'plenty';
    src: url('../fonts/plentysans-light-webfont.woff2') format('woff2'),
    url('../fonts/plentysans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face
{
    font-family: 'plenty';
    src: url('../fonts/plentysans-regular-webfont.woff2') format('woff2'),
    url('../fonts/plentysans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face
{
    font-family: 'plenty';
    src: url('../fonts/plentysans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/plentysans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face
{
    font-family: 'plentyicons';
    src: url('../fonts/plentyicons.eot?nex54c');
    src: url('../fonts/plentyicons.eot?nex54c#iefix') format('embedded-opentype'),
    url('../fonts/plentyicons.ttf?nex54c') format('truetype'),
    url('../fonts/plentyicons.woff?nex54c') format('woff'),
    url('../fonts/plentyicons.svg?nex54c#plentyicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"]
{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'plentyicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-colorpicker
{
    &:before
    {
        content: $icon-colorpicker;
    }
}

.icon-servicecenter
{
    &:before
    {
        content: $icon-servicecenter;
    }
}

.icon-open_external_link
{
    &:before
    {
        content: $icon-open_external_link;
    }
}

.icon-unlock_contact
{
    &:before
    {
        content: $icon-unlock_contact;
    }
}

.icon-exch_adre_type
{
    &:before
    {
        content: $icon-exch_adre_type;
    }
}

.icon-ship_amaz_1st
{
    &:before
    {
        content: $icon-ship_amaz_1st;
    }
}

.icon-ship_amaz_2nd
{
    &:before
    {
        content: $icon-ship_amaz_2nd;
    }
}

.icon-ship_amaz_prime_1st
{
    &:before
    {
        content: $icon-ship_amaz_prime_1st;
    }
}

.icon-ship_amaz_prime_2nd
{
    &:before
    {
        content: $icon-ship_amaz_prime_2nd;
    }
}

.icon-ship_amaz_prime
{
    &:before
    {
        content: $icon-ship_amaz_prime;
    }
}

.icon-caret
{
    &:before
    {
        content: $icon-caret;
    }
}

.icon-item-artikel
{
    &:before
    {
        content: $icon-item-artikel;
    }
}

.icon-align_center
{
    &:before
    {
        content: $icon-align_center;
    }
}

.icon-align_justify
{
    &:before
    {
        content: $icon-align_justify;
    }
}

.icon-align_left
{
    &:before
    {
        content: $icon-align_left;
    }
}

.icon-align_right
{
    &:before
    {
        content: $icon-align_right;
    }
}

.icon-device_desktop
{
    &:before
    {
        content: $icon-device_desktop;
    }
}

.icon-device_laptop
{
    &:before
    {
        content: $icon-device_laptop;
    }
}

.icon-device_mobile
{
    &:before
    {
        content: $icon-device_mobile;
    }
}

.icon-device_tablet
{
    &:before
    {
        content: $icon-device_tablet;
    }
}

.icon-ebay
{
    &:before
    {
        content: $icon-ebay;
    }
}

.icon-switch_editor
{
    &:before
    {
        content: $icon-switch_editor;
    }
}

.icon-text_bold
{
    &:before
    {
        content: $icon-text_bold;
    }
}

.icon-text_italic
{
    &:before
    {
        content: $icon-text_italic;
    }
}

.icon-text_strikethrough
{
    &:before
    {
        content: $icon-text_strikethrough;
    }
}

.icon-text_underline
{
    &:before
    {
        content: $icon-text_underline;
    }
}

.icon-click_and_collect
{
    &:before
    {
        content: $icon-click_and_collect;
    }
}

.icon-ebay_basket
{
    &:before
    {
        content: $icon-ebay_basket;
    }
}

.icon-ebay_plus
{
    &:before
    {
        content: $icon-ebay_plus;
    }
}

.icon-hood
{
    &:before
    {
        content: $icon-hood;
    }
}

.icon-reverse_fullscreen
{
    &:before
    {
        content: $icon-reverse_fullscreen;
    }
}

.icon-ricardo
{
    &:before
    {
        content: $icon-ricardo;
    }
}

.icon-backend_ceres
{
    &:before
    {
        content: $icon-backend_ceres;
    }
}

.icon-backend_io
{
    &:before
    {
        content: $icon-backend_io;
    }
}

.icon-shipping_cbc_logistics
{
    &:before
    {
        content: $icon-shipping_cbc_logistics;
    }
}

.icon-application_double
{
    &:before
    {
        content: $icon-application_double;
    }
}

.icon-box_minus_disabled
{
    &:before
    {
        content: $icon-box_minus_disabled;
    }
}

.icon-box_minus
{
    &:before
    {
        content: $icon-box_minus;
    }
}

.icon-box_plus_disabled
{
    &:before
    {
        content: $icon-box_plus_disabled;
    }
}

.icon-box_plus
{
    &:before
    {
        content: $icon-box_plus;
    }
}

.icon-icon_questionmark_bck
{
    &:before
    {
        content: $icon-icon_questionmark_bck;
    }
}

.icon-manual_search
{
    &:before
    {
        content: $icon-manual_search;
    }
}

.icon-pay_5_paypal
{
    &:before
    {
        content: $icon-pay_5_paypal;
    }
}

.icon-pay_25_laredoute
{
    &:before
    {
        content: $icon-pay_25_laredoute;
    }
}

.icon-pay_amazon_payment
{
    &:before
    {
        content: $icon-pay_amazon_payment;
    }
}

.icon-pay_amazon
{
    &:before
    {
        content: $icon-pay_amazon;
    }
}

.icon-pay_bill
{
    &:before
    {
        content: $icon-pay_bill;
    }
}

.icon-pay_billsafe
{
    &:before
    {
        content: $icon-pay_billsafe;
    }
}

.icon-pay_cash_in_advance
{
    &:before
    {
        content: $icon-pay_cash_in_advance;
    }
}

.icon-pay_cash_on_delivery
{
    &:before
    {
        content: $icon-pay_cash_on_delivery;
    }
}

.icon-pay_cash
{
    &:before
    {
        content: $icon-pay_cash;
    }
}

.icon-pay_cheque
{
    &:before
    {
        content: $icon-pay_cheque;
    }
}

.icon-pay_clickandbuy
{
    &:before
    {
        content: $icon-pay_clickandbuy;
    }
}

.icon-pay_concardis
{
    &:before
    {
        content: $icon-pay_concardis;
    }
}

.icon-pay_coupon
{
    &:before
    {
        content: $icon-pay_coupon;
    }
}

.icon-pay_credit_card
{
    &:before
    {
        content: $icon-pay_credit_card;
    }
}

.icon-pay_crefopay
{
    &:before
    {
        content: $icon-pay_crefopay;
    }
}

.icon-pay_debit
{
    &:before
    {
        content: $icon-pay_debit;
    }
}

.icon-pay_ec
{
    &:before
    {
        content: $icon-pay_ec;
    }
}

.icon-pay_eos
{
    &:before
    {
        content: $icon-pay_eos;
    }
}

.icon-pay_expercash
{
    &:before
    {
        content: $icon-pay_expercash;
    }
}

.icon-pay_gartenxxl
{
    &:before
    {
        content: $icon-pay_gartenxxl;
    }
}

.icon-pay_gimahhot
{
    &:before
    {
        content: $icon-pay_gimahhot;
    }
}

.icon-pay_heidelpay
{
    &:before
    {
        content: $icon-pay_heidelpay;
    }
}

.icon-pay_hitmeister
{
    &:before
    {
        content: $icon-pay_hitmeister;
    }
}

.icon-pay_iclear
{
    &:before
    {
        content: $icon-pay_iclear;
    }
}

.icon-pay_iloxx
{
    &:before
    {
        content: $icon-pay_iloxx;
    }
}

.icon-pay_klarna
{
    &:before
    {
        content: $icon-pay_klarna;
    }
}

.icon-pay_masterpayment
{
    &:before
    {
        content: $icon-pay_masterpayment;
    }
}

.icon-pay_meinpaket
{
    &:before
    {
        content: $icon-pay_meinpaket;
    }
}

.icon-pay_neckermann
{
    &:before
    {
        content: $icon-pay_neckermann;
    }
}

.icon-pay_other
{
    &:before
    {
        content: $icon-pay_other;
    }
}

.icon-pay_pay_card
{
    &:before
    {
        content: $icon-pay_pay_card;
    }
}

.icon-pay_paymorrow_new
{
    &:before
    {
        content: $icon-pay_paymorrow_new;
    }
}

.icon-pay_paymorrow
{
    &:before
    {
        content: $icon-pay_paymorrow;
    }
}

.icon-pay_payolution
{
    &:before
    {
        content: $icon-pay_payolution;
    }
}

.icon-pay_payone
{
    &:before
    {
        content: $icon-pay_payone;
    }
}

.icon-pay_paypal_express
{
    &:before
    {
        content: $icon-pay_paypal_express;
    }
}

.icon-pay_paypal_qr
{
    &:before
    {
        content: $icon-pay_paypal_qr;
    }
}

.icon-pay_pixmania
{
    &:before
    {
        content: $icon-pay_pixmania;
    }
}

.icon-pay_plus
{
    &:before
    {
        content: $icon-pay_plus;
    }
}

.icon-pay_postpay
{
    &:before
    {
        content: $icon-pay_postpay;
    }
}

.icon-pay_rakuten
{
    &:before
    {
        content: $icon-pay_rakuten;
    }
}

.icon-pay_ratepay
{
    &:before
    {
        content: $icon-pay_ratepay;
    }
}

.icon-pay_saferpay
{
    &:before
    {
        content: $icon-pay_saferpay;
    }
}

.icon-pay_sagepay
{
    &:before
    {
        content: $icon-pay_sagepay;
    }
}

.icon-pay_santander
{
    &:before
    {
        content: $icon-pay_santander;
    }
}

.icon-pay_shopgate
{
    &:before
    {
        content: $icon-pay_shopgate;
    }
}

.icon-pay_skrill
{
    &:before
    {
        content: $icon-pay_skrill;
    }
}

.icon-pay_sofortueberweisung
{
    &:before
    {
        content: $icon-pay_sofortueberweisung;
    }
}

.icon-pay_wirecard
{
    &:before
    {
        content: $icon-pay_wirecard;
    }
}

.icon-pay_worldpay
{
    &:before
    {
        content: $icon-pay_worldpay;
    }
}

.icon-pay_zalando
{
    &:before
    {
        content: $icon-pay_zalando;
    }
}

.icon-pay_zentralverkauf
{
    &:before
    {
        content: $icon-pay_zentralverkauf;
    }
}

.icon-shipping_bilog
{
    &:before
    {
        content: $icon-shipping_bilog;
    }
}

.icon-shipping_bps
{
    &:before
    {
        content: $icon-shipping_bps;
    }
}

.icon-shipping_bvw
{
    &:before
    {
        content: $icon-shipping_bvw;
    }
}

.icon-shipping_dachser
{
    &:before
    {
        content: $icon-shipping_dachser;
    }
}

.icon-shipping_db_schenker
{
    &:before
    {
        content: $icon-shipping_db_schenker;
    }
}

.icon-shipping_deutschepost
{
    &:before
    {
        content: $icon-shipping_deutschepost;
    }
}

.icon-shipping_dhl_packstation
{
    &:before
    {
        content: $icon-shipping_dhl_packstation;
    }
}

.icon-shipping_dhl
{
    &:before
    {
        content: $icon-shipping_dhl;
    }
}

.icon-shipping_dpd
{
    &:before
    {
        content: $icon-shipping_dpd;
    }
}

.icon-shipping_ems_garantpost
{
    &:before
    {
        content: $icon-shipping_ems_garantpost;
    }
}

.icon-shipping_ereturn
{
    &:before
    {
        content: $icon-shipping_ereturn;
    }
}

.icon-shipping_esellersfriend
{
    &:before
    {
        content: $icon-shipping_esellersfriend;
    }
}

.icon-shipping_fedex
{
    &:before
    {
        content: $icon-shipping_fedex;
    }
}

.icon-shipping_gel_express
{
    &:before
    {
        content: $icon-shipping_gel_express;
    }
}

.icon-shipping_gls
{
    &:before
    {
        content: $icon-shipping_gls;
    }
}

.icon-shipping_hbh
{
    &:before
    {
        content: $icon-shipping_hbh;
    }
}

.icon-shipping_hermes
{
    &:before
    {
        content: $icon-shipping_hermes;
    }
}

.icon-shipping_ids_logistik
{
    &:before
    {
        content: $icon-shipping_ids_logistik;
    }
}

.icon-shipping_ilopack
{
    &:before
    {
        content: $icon-shipping_ilopack;
    }
}

.icon-shipping_iloxx
{
    &:before
    {
        content: $icon-shipping_iloxx;
    }
}

.icon-shipping_lkv
{
    &:before
    {
        content: $icon-shipping_lkv;
    }
}

.icon-shipping_other
{
    &:before
    {
        content: $icon-shipping_other;
    }
}

.icon-shipping_post_at
{
    &:before
    {
        content: $icon-shipping_post_at;
    }
}

.icon-shipping_pvs_logistik
{
    &:before
    {
        content: $icon-shipping_pvs_logistik;
    }
}

.icon-shipping_rhenus
{
    &:before
    {
        content: $icon-shipping_rhenus;
    }
}

.icon-shipping_selbstabholer
{
    &:before
    {
        content: $icon-shipping_selbstabholer;
    }
}

.icon-shipping_shippingcenter
{
    &:before
    {
        content: $icon-shipping_shippingcenter;
    }
}

.icon-shipping_spedition
{
    &:before
    {
        content: $icon-shipping_spedition;
    }
}

.icon-shipping_swiss_post
{
    &:before
    {
        content: $icon-shipping_swiss_post;
    }
}

.icon-shipping_tnt
{
    &:before
    {
        content: $icon-shipping_tnt;
    }
}

.icon-shipping_trans-o-flex
{
    &:before
    {
        content: $icon-shipping_trans-o-flex;
    }
}

.icon-shipping_ups
{
    &:before
    {
        content: $icon-shipping_ups;
    }
}

.icon-shipping_yousellwesend
{
    &:before
    {
        content: $icon-shipping_yousellwesend;
    }
}

.icon-customer_link
{
    &:before
    {
        content: $icon-customer_link;
    }
}

.icon-design_inline_edit
{
    &:before
    {
        content: $icon-design_inline_edit;
    }
}

.icon-document_show
{
    &:before
    {
        content: $icon-document_show;
    }
}

.icon-dunning_level_1
{
    &:before
    {
        content: $icon-dunning_level_1;
    }
}

.icon-dunning_level_2
{
    &:before
    {
        content: $icon-dunning_level_2;
    }
}

.icon-dunning_level_3
{
    &:before
    {
        content: $icon-dunning_level_3;
    }
}

.icon-dunning_level_4
{
    &:before
    {
        content: $icon-dunning_level_4;
    }
}

.icon-dunning_level_5
{
    &:before
    {
        content: $icon-dunning_level_5;
    }
}

.icon-email_sent
{
    &:before
    {
        content: $icon-email_sent;
    }
}

.icon-file_extension_odt
{
    &:before
    {
        content: $icon-file_extension_odt;
    }
}

.icon-payment_sepa_pain
{
    &:before
    {
        content: $icon-payment_sepa_pain;
    }
}

.icon-shipping_centre
{
    &:before
    {
        content: $icon-shipping_centre;
    }
}

.icon-order_new
{
    &:before
    {
        content: $icon-order_new;
    }
}

.icon-gutschrift_erzeugen
{
    &:before
    {
        content: $icon-gutschrift_erzeugen;
    }
}

.icon-gutschrift_stornieren
{
    &:before
    {
        content: $icon-gutschrift_stornieren;
    }
}

.icon-icon-reversal_document-13
{
    &:before
    {
        content: $icon-icon-reversal_document-13;
    }
}

.icon-reorder_search
{
    &:before
    {
        content: $icon-reorder_search;
    }
}

.icon-shipment_tracking
{
    &:before
    {
        content: $icon-shipment_tracking;
    }
}

.icon-zoom_out
{
    &:before
    {
        content: $icon-zoom_out;
    }
}

.icon-plugin_productive_deploy
{
    &:before
    {
        content: $icon-plugin_productive_deploy;
    }
}

.icon-plugin_to_productive
{
    &:before
    {
        content: $icon-plugin_to_productive;
    }
}

.icon-plugin_to_stage
{
    &:before
    {
        content: $icon-plugin_to_stage;
    }
}

.icon-image
{
    &:before
    {
        content: $icon-image;
    }
}

.icon-plugin_stage_deploy
{
    &:before
    {
        content: $icon-plugin_stage_deploy;
    }
}

.icon-plugin_stage
{
    &:before
    {
        content: $icon-plugin_stage;
    }
}

.icon-trash
{
    &:before
    {
        content: $icon-trash;
    }
}

.icon-author
{
    &:before
    {
        content: $icon-author;
    }
}

.icon-changelog
{
    &:before
    {
        content: $icon-changelog;
    }
}

.icon-item_move
{
    &:before
    {
        content: $icon-item_move;
    }
}

.icon-marketplace
{
    &:before
    {
        content: $icon-marketplace;
    }
}

.icon-plugin
{
    &:before
    {
        content: $icon-plugin;
    }
}

.icon-burger
{
    &:before
    {
        content: $icon-burger;
    }
}

.icon-grid
{
    &:before
    {
        content: $icon-grid;
    }
}

.icon-plugin_inbox
{
    &:before
    {
        content: $icon-plugin_inbox;
    }
}

.icon-dunning_level
{
    &:before
    {
        content: $icon-dunning_level;
    }
}

.icon-folder_closeable
{
    &:before
    {
        content: $icon-folder_closeable;
    }
}

.icon-order_multi
{
    &:before
    {
        content: $icon-order_multi;
    }
}

.icon-support
{
    &:before
    {
        content: $icon-support;
    }
}

.icon-diagramm
{
    &:before
    {
        content: $icon-diagramm;
    }
}

.icon-forum
{
    &:before
    {
        content: $icon-forum;
    }
}

.icon-handbuch
{
    &:before
    {
        content: $icon-handbuch;
    }
}

.icon-statistik
{
    &:before
    {
        content: $icon-statistik;
    }
}

.icon-active
{
    &:before
    {
        content: $icon-active;
    }
}

.icon-add
{
    &:before
    {
        content: $icon-add;
    }
}

.icon-address_label
{
    &:before
    {
        content: $icon-address_label;
    }
}

.icon-adjustment_form
{
    &:before
    {
        content: $icon-adjustment_form;
    }
}

.icon-apply_all
{
    &:before
    {
        content: $icon-apply_all;
    }
}

.icon-back
{
    &:before
    {
        content: $icon-back;
    }
}

.icon-booking_carry_outpng
{
    &:before
    {
        content: $icon-booking_carry_outpng;
    }
}

.icon-booking_reset
{
    &:before
    {
        content: $icon-booking_reset;
    }
}

.icon-calculate_acquisition_pricepng
{
    &:before
    {
        content: $icon-calculate_acquisition_pricepng;
    }
}

.icon-calendar_extend_appointment
{
    &:before
    {
        content: $icon-calendar_extend_appointment;
    }
}

.icon-cancel
{
    &:before
    {
        content: $icon-cancel;
    }
}

.icon-category_edit
{
    &:before
    {
        content: $icon-category_edit;
    }
}

.icon-checkbox_checked
{
    &:before
    {
        content: $icon-checkbox_checked;
    }
}

.icon-checkbox_indeterminate
{
    &:before
    {
        content: $icon-checkbox_indeterminate;
    }
}

.icon-checkbox_unchecked
{
    &:before
    {
        content: $icon-checkbox_unchecked;
    }
}

.icon-close
{
    &:before
    {
        content: $icon-close;
    }
}

.icon-collapse_down
{
    &:before
    {
        content: $icon-collapse_down;
    }
}

.icon-collapse_left
{
    &:before
    {
        content: $icon-collapse_left;
    }
}

.icon-collapse_rightpng
{
    &:before
    {
        content: $icon-collapse_rightpng;
    }
}

.icon-collapse_up
{
    &:before
    {
        content: $icon-collapse_up;
    }
}

.icon-confirm
{
    &:before
    {
        content: $icon-confirm;
    }
}

.icon-control_pause
{
    &:before
    {
        content: $icon-control_pause;
    }
}

.icon-control_play
{
    &:before
    {
        content: $icon-control_play;
    }
}

.icon-control_skip
{
    &:before
    {
        content: $icon-control_skip;
    }
}

.icon-control_start
{
    &:before
    {
        content: $icon-control_start;
    }
}

.icon-control_stop
{
    &:before
    {
        content: $icon-control_stop;
    }
}

.icon-copy_clipboard
{
    &:before
    {
        content: $icon-copy_clipboard;
    }
}

.icon-copy
{
    &:before
    {
        content: $icon-copy;
    }
}

.icon-credit_note
{
    &:before
    {
        content: $icon-credit_note;
    }
}

.icon-customer_new_password
{
    &:before
    {
        content: $icon-customer_new_password;
    }
}

.icon-customer
{
    &:before
    {
        content: $icon-customer;
    }
}

.icon-data_export
{
    &:before
    {
        content: $icon-data_export;
    }
}

.icon-date_pick
{
    &:before
    {
        content: $icon-date_pick;
    }
}

.icon-debug
{
    &:before
    {
        content: $icon-debug;
    }
}

.icon-delete
{
    &:before
    {
        content: $icon-delete;
    }
}

.icon-delivery_note_create
{
    &:before
    {
        content: $icon-delivery_note_create;
    }
}

.icon-delivery_note
{
    &:before
    {
        content: $icon-delivery_note;
    }
}

.icon-design_add
{
    &:before
    {
        content: $icon-design_add;
    }
}

.icon-design_copy
{
    &:before
    {
        content: $icon-design_copy;
    }
}

.icon-design_export
{
    &:before
    {
        content: $icon-design_export;
    }
}

.icon-design_import
{
    &:before
    {
        content: $icon-design_import;
    }
}

.icon-design_inline_edit_toggle
{
    &:before
    {
        content: $icon-design_inline_edit_toggle;
    }
}

.icon-design_publish
{
    &:before
    {
        content: $icon-design_publish;
    }
}

.icon-design_transfer
{
    &:before
    {
        content: $icon-design_transfer;
    }
}

.icon-document
{
    &:before
    {
        content: $icon-document;
    }
}

.icon-domain_new
{
    &:before
    {
        content: $icon-domain_new;
    }
}

.icon-domains
{
    &:before
    {
        content: $icon-domains;
    }
}

.icon-download
{
    &:before
    {
        content: $icon-download;
    }
}

.icon-drag_sort_handle
{
    &:before
    {
        content: $icon-drag_sort_handle;
    }
}

.icon-dropbox
{
    &:before
    {
        content: $icon-dropbox;
    }
}

.icon-dunning_letter
{
    &:before
    {
        content: $icon-dunning_letter;
    }
}

.icon-edit_blog
{
    &:before
    {
        content: $icon-edit_blog;
    }
}

.icon-edit_listing
{
    &:before
    {
        content: $icon-edit_listing;
    }
}

.icon-edit
{
    &:before
    {
        content: $icon-edit;
    }
}

.icon-email_send
{
    &:before
    {
        content: $icon-email_send;
    }
}

.icon-email_service
{
    &:before
    {
        content: $icon-email_service;
    }
}

.icon-error
{
    &:before
    {
        content: $icon-error;
    }
}

.icon-execute
{
    &:before
    {
        content: $icon-execute;
    }
}

.icon-export
{
    &:before
    {
        content: $icon-export;
    }
}

.icon-favourite_active
{
    &:before
    {
        content: $icon-favourite_active;
    }
}

.icon-favourite_inactive
{
    &:before
    {
        content: $icon-favourite_inactive;
    }
}

.icon-favourites
{
    &:before
    {
        content: $icon-favourites;
    }
}

.icon-file_attachment
{
    &:before
    {
        content: $icon-file_attachment;
    }
}

.icon-file_extension_blank
{
    &:before
    {
        content: $icon-file_extension_blank;
    }
}

.icon-file_extension_css
{
    &:before
    {
        content: $icon-file_extension_css;
    }
}

.icon-file_extension_csv
{
    &:before
    {
        content: $icon-file_extension_csv;
    }
}

.icon-file_extension_doc
{
    &:before
    {
        content: $icon-file_extension_doc;
    }
}

.icon-file_extension_docx
{
    &:before
    {
        content: $icon-file_extension_docx;
    }
}

.icon-file_extension_gif
{
    &:before
    {
        content: $icon-file_extension_gif;
    }
}

.icon-file_extension_gzip
{
    &:before
    {
        content: $icon-file_extension_gzip;
    }
}

.icon-file_extension_hh
{
    &:before
    {
        content: $icon-file_extension_hh;
    }
}

.icon-file_extension_html
{
    &:before
    {
        content: $icon-file_extension_html;
    }
}

.icon-file_extension_ico
{
    &:before
    {
        content: $icon-file_extension_ico;
    }
}

.icon-file_extension_jpeg
{
    &:before
    {
        content: $icon-file_extension_jpeg;
    }
}

.icon-file_extension_jpg
{
    &:before
    {
        content: $icon-file_extension_jpg;
    }
}

.icon-file_extension_js
{
    &:before
    {
        content: $icon-file_extension_js;
    }
}

.icon-file_extension_json
{
    &:before
    {
        content: $icon-file_extension_json;
    }
}

.icon-file_extension_md
{
    &:before
    {
        content: $icon-file_extension_md;
    }
}

.icon-file_extension_openoffice
{
    &:before
    {
        content: $icon-file_extension_openoffice;
    }
}

.icon-file_extension_pdf
{
    &:before
    {
        content: $icon-file_extension_pdf;
    }
}

.icon-file_extension_png
{
    &:before
    {
        content: $icon-file_extension_png;
    }
}

.icon-file_extension_rtf
{
    &:before
    {
        content: $icon-file_extension_rtf;
    }
}

.icon-file_extension_swf
{
    &:before
    {
        content: $icon-file_extension_swf;
    }
}

.icon-file_extension_tar
{
    &:before
    {
        content: $icon-file_extension_tar;
    }
}

.icon-file_extension_tiff
{
    &:before
    {
        content: $icon-file_extension_tiff;
    }
}

.icon-file_extension_twig
{
    &:before
    {
        content: $icon-file_extension_twig;
    }
}

.icon-file_extension_txt
{
    &:before
    {
        content: $icon-file_extension_txt;
    }
}

.icon-file_extension_xls
{
    &:before
    {
        content: $icon-file_extension_xls;
    }
}

.icon-file_extension_xlsx
{
    &:before
    {
        content: $icon-file_extension_xlsx;
    }
}

.icon-file_extension_xml
{
    &:before
    {
        content: $icon-file_extension_xml;
    }
}

.icon-file_extension_zip
{
    &:before
    {
        content: $icon-file_extension_zip;
    }
}

.icon-filter_add
{
    &:before
    {
        content: $icon-filter_add;
    }
}

.icon-filter_remove
{
    &:before
    {
        content: $icon-filter_remove;
    }
}

.icon-filter
{
    &:before
    {
        content: $icon-filter;
    }
}

.icon-first
{
    &:before
    {
        content: $icon-first;
    }
}

.icon-flag_alarm
{
    &:before
    {
        content: $icon-flag_alarm;
    }
}

.icon-flag_black
{
    &:before
    {
        content: $icon-flag_black;
    }
}

.icon-flag_blue
{
    &:before
    {
        content: $icon-flag_blue;
        color: #008EBD;
    }
}

.icon-flag_bomb_black
{
    &:before
    {
        content: $icon-flag_bomb_black;
    }
}

.icon-flag_bomb_green
{
    &:before
    {
        content: $icon-flag_bomb_green;
        color: #4CAD33;
    }
}

.icon-flag_bomb_red
{
    &:before
    {
        content: $icon-flag_bomb_red;
        color: #D4021D;
    }
}

.icon-flag_green
{
    &:before
    {
        content: $icon-flag_green;
        color: #4CAD33;
    }
}

.icon-flag_help
{
    &:before
    {
        content: $icon-flag_help;
    }
}

.icon-flag_ledblack_16
{
    &:before
    {
        content: $icon-flag_ledblack_16;
    }
}

.icon-flag_ledblue_16
{
    &:before
    {
        content: $icon-flag_ledblue_16;
        color: #008EBD;
    }
}

.icon-flag_leddarkblue_16
{
    &:before
    {
        content: $icon-flag_leddarkblue_16;
        color: #354763;
    }
}

.icon-flag_leddarkgreen_16
{
    &:before
    {
        content: $icon-flag_leddarkgreen_16;
        color: #066011;
    }
}

.icon-flag_leddarkred_16
{
    &:before
    {
        content: $icon-flag_leddarkred_16;
        color: #910000;
    }
}

.icon-flag_ledgreen_16
{
    &:before
    {
        content: $icon-flag_ledgreen_16;
        color: #4CAD33;
    }
}

.icon-flag_ledgrey_16
{
    &:before
    {
        content: $icon-flag_ledgrey_16;
        color: #707173;
    }
}

.icon-flag_ledorange_16
{
    &:before
    {
        content: $icon-flag_ledorange_16;
        color: #FFA100;
    }
}

.icon-flag_ledpink_16
{
    &:before
    {
        content: $icon-flag_ledpink_16;
        color: #DD0BA9;
    }
}

.icon-flag_ledpurple_16
{
    &:before
    {
        content: $icon-flag_ledpurple_16;
        color: #870E6D;
    }
}

.icon-flag_ledred_16
{
    &:before
    {
        content: $icon-flag_ledred_16;
        color: #D4021D;
    }
}

.icon-flag_ledyellow_16
{
    &:before
    {
        content: $icon-flag_ledyellow_16;
        color: #FFCE36;
    }
}

.icon-flag_none
{
    &:before
    {
        content: $icon-flag_none;
    }
}

.icon-flag_red
{
    &:before
    {
        content: $icon-flag_red;
        color: #D4021D;
    }
}

.icon-flag_star
{
    &:before
    {
        content: $icon-flag_star;
    }
}

.icon-flag_user_blue
{
    &:before
    {
        content: $icon-flag_user_blue;
        color: #008EBD;
    }
}

.icon-flag_user_dark_blue
{
    &:before
    {
        content: $icon-flag_user_dark_blue;
        color: #354763;
    }
}

.icon-flag_user_female
{
    &:before
    {
        content: $icon-flag_user_female;
    }
}

.icon-flag_user_gray
{
    &:before
    {
        content: $icon-flag_user_gray;
        color: #707173;
    }
}

.icon-flag_user_green
{
    &:before
    {
        content: $icon-flag_user_green;
        color: #4CAD33;
    }
}

.icon-flag_user_light_gray
{
    &:before
    {
        content: $icon-flag_user_light_gray;
        color: #C7C7C7;
    }
}

.icon-flag_user_orange
{
    &:before
    {
        content: $icon-flag_user_orange;
        color: #FFA100;
    }
}

.icon-flag_user_purple
{
    &:before
    {
        content: $icon-flag_user_purple;
        color: #870E6D;
    }
}

.icon-flag_user_red
{
    &:before
    {
        content: $icon-flag_user_red;
        color: #D4021D;
    }
}

.icon-flag_user_turquoise
{
    &:before
    {
        content: $icon-flag_user_turquoise;
    }
}

.icon-flag_user_yellow
{
    &:before
    {
        content: $icon-flag_user_yellow;
        color: #FFCE36;
    }
}

.icon-flag_weather_clouds
{
    &:before
    {
        content: $icon-flag_weather_clouds;
    }
}

.icon-flag_weather_cloudy
{
    &:before
    {
        content: $icon-flag_weather_cloudy;
    }
}

.icon-flag_weather_lightning
{
    &:before
    {
        content: $icon-flag_weather_lightning;
    }
}

.icon-flag_weather_rain
{
    &:before
    {
        content: $icon-flag_weather_rain;
    }
}

.icon-flag_weather_snow
{
    &:before
    {
        content: $icon-flag_weather_snow;
    }
}

.icon-flag_weather_sun
{
    &:before
    {
        content: $icon-flag_weather_sun;
    }
}

.icon-flag_yellow
{
    &:before
    {
        content: $icon-flag_yellow;
        color: #FFCE36;
    }
}

.icon-folder_add
{
    &:before
    {
        content: $icon-folder_add;
    }
}

.icon-folder_closable
{
    &:before
    {
        content: $icon-folder_closable;
    }
}

.icon-folder_openable
{
    &:before
    {
        content: $icon-folder_openable;
    }
}

.icon-folder_opened
{
    &:before
    {
        content: $icon-folder_opened;
    }
}

.icon-folder
{
    &:before
    {
        content: $icon-folder;
    }
}

.icon-frontend_open
{
    &:before
    {
        content: $icon-frontend_open;
    }
}

.icon-fullscreen
{
    &:before
    {
        content: $icon-fullscreen;
    }
}

.icon-help
{
    &:before
    {
        content: $icon-help;
    }
}

.icon-inactive
{
    &:before
    {
        content: $icon-inactive;
    }
}

.icon-infinite
{
    &:before
    {
        content: $icon-infinite;
    }
}

.icon-info
{
    &:before
    {
        content: $icon-info;
    }
}

.icon-insert_after
{
    &:before
    {
        content: $icon-insert_after;
    }
}

.icon-insert_before
{
    &:before
    {
        content: $icon-insert_before;
    }
}

.icon-invoice_create
{
    &:before
    {
        content: $icon-invoice_create;
    }
}

.icon-item_barcode_show
{
    &:before
    {
        content: $icon-item_barcode_show;
    }
}

.icon-item_bundle
{
    &:before
    {
        content: $icon-item_bundle;
    }
}

.icon-item_image_gallery
{
    &:before
    {
        content: $icon-item_image_gallery;
    }
}

.icon-item_image_selected_1
{
    &:before
    {
        content: $icon-item_image_selected_1;
    }
}

.icon-item_image_selected_2
{
    &:before
    {
        content: $icon-item_image_selected_2;
    }
}

.icon-item_label
{
    &:before
    {
        content: $icon-item_label;
    }
}

.icon-item_plus
{
    &:before
    {
        content: $icon-item_plus;
    }
}

.icon-item_referrer_url
{
    &:before
    {
        content: $icon-item_referrer_url;
    }
}

.icon-item_scan
{
    &:before
    {
        content: $icon-item_scan;
    }
}

.icon-item_search
{
    &:before
    {
        content: $icon-item_search;
    }
}

.icon-item_serial_number_register
{
    &:before
    {
        content: $icon-item_serial_number_register;
    }
}

.icon-item_serial_number
{
    &:before
    {
        content: $icon-item_serial_number;
    }
}

.icon-item_variation_distribute_quantity
{
    &:before
    {
        content: $icon-item_variation_distribute_quantity;
    }
}

.icon-item_variation_inheritance
{
    &:before
    {
        content: $icon-item_variation_inheritance;
    }
}

.icon-item_webshop_invisible
{
    &:before
    {
        content: $icon-item_webshop_invisible;
    }
}

.icon-item
{
    &:before
    {
        content: $icon-item;
    }
}

.icon-items_incoming_history
{
    &:before
    {
        content: $icon-items_incoming_history;
    }
}

.icon-lang_de
{
    &:before
    {
        content: $icon-lang_de;
    }
}

.icon-lang_en
{
    &:before
    {
        content: $icon-lang_en;
    }
}

.icon-lang_multilingual
{
    &:before
    {
        content: $icon-lang_multilingual;
    }
}

.icon-last
{
    &:before
    {
        content: $icon-last;
    }
}

.icon-lionbridge_status_check
{
    &:before
    {
        content: $icon-lionbridge_status_check;
    }
}

.icon-lionbridge_status_checked
{
    &:before
    {
        content: $icon-lionbridge_status_checked;
    }
}

.icon-listing_create
{
    &:before
    {
        content: $icon-listing_create;
    }
}

.icon-listing_direct_lister
{
    &:before
    {
        content: $icon-listing_direct_lister;
    }
}

.icon-listing_remove
{
    &:before
    {
        content: $icon-listing_remove;
    }
}

.icon-listing_show_active
{
    &:before
    {
        content: $icon-listing_show_active;
    }
}

.icon-listing_template_transfer
{
    &:before
    {
        content: $icon-listing_template_transfer;
    }
}

.icon-listing_type_shop
{
    &:before
    {
        content: $icon-listing_type_shop;
    }
}

.icon-listings_show_active
{
    &:before
    {
        content: $icon-listings_show_active;
    }
}

.icon-listings_show
{
    &:before
    {
        content: $icon-listings_show;
    }
}

.icon-more
{
    &:before
    {
        content: $icon-more;
    }
}

.icon-move_down
{
    &:before
    {
        content: $icon-move_down;
    }
}

.icon-move_up
{
    &:before
    {
        content: $icon-move_up;
    }
}

.icon-navigate_back
{
    &:before
    {
        content: $icon-navigate_back;
    }
}

.icon-new_todo
{
    &:before
    {
        content: $icon-new_todo;
    }
}

.icon-next
{
    &:before
    {
        content: $icon-next;
    }
}

.icon-offer
{
    &:before
    {
        content: $icon-offer;
    }
}

.icon-order_confirmation_create
{
    &:before
    {
        content: $icon-order_confirmation_create;
    }
}

.icon-order_flag
{
    &:before
    {
        content: $icon-order_flag;
    }
}

.icon-order_mulit
{
    &:before
    {
        content: $icon-order_mulit;
    }
}

.icon-order_not_possible
{
    &:before
    {
        content: $icon-order_not_possible;
    }
}

.icon-order_note_create
{
    &:before
    {
        content: $icon-order_note_create;
    }
}

.icon-order_note_customer
{
    &:before
    {
        content: $icon-order_note_customer;
    }
}

.icon-order_note
{
    &:before
    {
        content: $icon-order_note;
    }
}

.icon-order_open
{
    &:before
    {
        content: $icon-order_open;
    }
}

.icon-order_parcel_service_change
{
    &:before
    {
        content: $icon-order_parcel_service_change;
    }
}

.icon-order_parcel_service_preset_change
{
    &:before
    {
        content: $icon-order_parcel_service_preset_change;
    }
}

.icon-order_property
{
    &:before
    {
        content: $icon-order_property;
    }
}

.icon-order_return_create_edit
{
    &:before
    {
        content: $icon-order_return_create_edit;
    }
}

.icon-order_return_slip
{
    &:before
    {
        content: $icon-order_return_slip;
    }
}

.icon-order_return
{
    &:before
    {
        content: $icon-order_return;
    }
}

.icon-order_returns_label
{
    &:before
    {
        content: $icon-order_returns_label;
    }
}

.icon-order_scheduler_new
{
    &:before
    {
        content: $icon-order_scheduler_new;
    }
}

.icon-order_sent
{
    &:before
    {
        content: $icon-order_sent;
    }
}

.icon-order_show_existing_processes
{
    &:before
    {
        content: $icon-order_show_existing_processes;
    }
}

.icon-order_split
{
    &:before
    {
        content: $icon-order_split;
    }
}

.icon-order
{
    &:before
    {
        content: $icon-order;
    }
}

.icon-outgoing_items
{
    &:before
    {
        content: $icon-outgoing_items;
    }
}

.icon-owner
{
    &:before
    {
        content: $icon-owner;
    }
}

.icon-payment_assign
{
    &:before
    {
        content: $icon-payment_assign;
    }
}

.icon-payment_book_incoming_directly
{
    &:before
    {
        content: $icon-payment_book_incoming_directly;
    }
}

.icon-payment_credit_note
{
    &:before
    {
        content: $icon-payment_credit_note;
    }
}

.icon-payment_manual_booking
{
    &:before
    {
        content: $icon-payment_manual_booking;
    }
}

.icon-payment_register_incoming
{
    &:before
    {
        content: $icon-payment_register_incoming;
    }
}

.icon-picklist_close
{
    &:before
    {
        content: $icon-picklist_close;
    }
}

.icon-picklist
{
    &:before
    {
        content: $icon-picklist;
    }
}

.icon-placeholder_show_list
{
    &:before
    {
        content: $icon-placeholder_show_list;
    }
}

.icon-plenty_testsystem_new
{
    &:before
    {
        content: $icon-plenty_testsystem_new;
    }
}

.icon-plugin_copy_to_stage
{
    &:before
    {
        content: $icon-plugin_copy_to_stage;
    }
}

.icon-plugin_linked_to_git
{
    &:before
    {
        content: $icon-plugin_linked_to_git;
    }
}

.icon-plugin_not_copied_to_stage
{
    &:before
    {
        content: $icon-plugin_not_copied_to_stage;
    }
}

.icon-plugin_not_linked_to_git
{
    &:before
    {
        content: $icon-plugin_not_linked_to_git;
    }
}

.icon-plugin_not_productive
{
    &:before
    {
        content: $icon-plugin_not_productive;
    }
}

.icon-plugin_productive
{
    &:before
    {
        content: $icon-plugin_productive;
    }
}

.icon-plugin_pull_productive
{
    &:before
    {
        content: $icon-plugin_pull_productive;
    }
}

.icon-plugin_pull_stage
{
    &:before
    {
        content: $icon-plugin_pull_stage;
    }
}

.icon-plugin_pull
{
    &:before
    {
        content: $icon-plugin_pull;
    }
}

.icon-plugin_push
{
    &:before
    {
        content: $icon-plugin_push;
    }
}

.icon-plugin_repo_fetch
{
    &:before
    {
        content: $icon-plugin_repo_fetch;
    }
}

.icon-preview_not_available
{
    &:before
    {
        content: $icon-preview_not_available;
    }
}

.icon-preview
{
    &:before
    {
        content: $icon-preview;
    }
}

.icon-print
{
    &:before
    {
        content: $icon-print;
    }
}

.icon-printer_add
{
    &:before
    {
        content: $icon-printer_add;
    }
}

.icon-problem
{
    &:before
    {
        content: $icon-problem;
    }
}

.icon-process_add
{
    &:before
    {
        content: $icon-process_add;
    }
}

.icon-process_caching
{
    &:before
    {
        content: $icon-process_caching;
    }
}

.icon-process_counter_1
{
    &:before
    {
        content: $icon-process_counter_1;
    }
}

.icon-process_counter_2
{
    &:before
    {
        content: $icon-process_counter_2;
    }
}

.icon-process_counter_3
{
    &:before
    {
        content: $icon-process_counter_3;
    }
}

.icon-process_counter_4
{
    &:before
    {
        content: $icon-process_counter_4;
    }
}

.icon-process_counter_5
{
    &:before
    {
        content: $icon-process_counter_5;
    }
}

.icon-process_counter_6
{
    &:before
    {
        content: $icon-process_counter_6;
    }
}

.icon-process_counter_7
{
    &:before
    {
        content: $icon-process_counter_7;
    }
}

.icon-process_counter_8
{
    &:before
    {
        content: $icon-process_counter_8;
    }
}

.icon-process_counter_9
{
    &:before
    {
        content: $icon-process_counter_9;
    }
}

.icon-process_counter_10
{
    &:before
    {
        content: $icon-process_counter_10;
    }
}

.icon-process_counter_11
{
    &:before
    {
        content: $icon-process_counter_11;
    }
}

.icon-process_counter_12
{
    &:before
    {
        content: $icon-process_counter_12;
    }
}

.icon-process_counter_13
{
    &:before
    {
        content: $icon-process_counter_13;
    }
}

.icon-process_counter_14
{
    &:before
    {
        content: $icon-process_counter_14;
    }
}

.icon-process_counter_15
{
    &:before
    {
        content: $icon-process_counter_15;
    }
}

.icon-process_counter_16
{
    &:before
    {
        content: $icon-process_counter_16;
    }
}

.icon-process_counter_17
{
    &:before
    {
        content: $icon-process_counter_17;
    }
}

.icon-process_counter_18
{
    &:before
    {
        content: $icon-process_counter_18;
    }
}

.icon-process_counter_19
{
    &:before
    {
        content: $icon-process_counter_19;
    }
}

.icon-process_counter_20
{
    &:before
    {
        content: $icon-process_counter_20;
    }
}

.icon-process_counter_21
{
    &:before
    {
        content: $icon-process_counter_21;
    }
}

.icon-process_counter_22
{
    &:before
    {
        content: $icon-process_counter_22;
    }
}

.icon-process_counter_23
{
    &:before
    {
        content: $icon-process_counter_23;
    }
}

.icon-process_counter_24
{
    &:before
    {
        content: $icon-process_counter_24;
    }
}

.icon-process_counter_25
{
    &:before
    {
        content: $icon-process_counter_25;
    }
}

.icon-process_dialog
{
    &:before
    {
        content: $icon-process_dialog;
    }
}

.icon-process_end
{
    &:before
    {
        content: $icon-process_end;
    }
}

.icon-process_error_grey
{
    &:before
    {
        content: $icon-process_error_grey;
        color: #707173;
    }
}

.icon-process_error_red
{
    &:before
    {
        content: $icon-process_error_red;
        color: #D4021D;
    }
}

.icon-process_error
{
    &:before
    {
        content: $icon-process_error;
    }
}

.icon-process_jump
{
    &:before
    {
        content: $icon-process_jump;
    }
}

.icon-process_loop
{
    &:before
    {
        content: $icon-process_loop;
    }
}

.icon-process_order_status
{
    &:before
    {
        content: $icon-process_order_status;
    }
}

.icon-process_polling
{
    &:before
    {
        content: $icon-process_polling;
    }
}

.icon-process_scan
{
    &:before
    {
        content: $icon-process_scan;
    }
}

.icon-rating_small_-1
{
    &:before
    {
        content: $icon-rating_small_-1;
    }
}

.icon-rating_small_-2
{
    &:before
    {
        content: $icon-rating_small_-2;
    }
}

.icon-rating_small_-3
{
    &:before
    {
        content: $icon-rating_small_-3;
    }
}

.icon-rating_small_-4
{
    &:before
    {
        content: $icon-rating_small_-4;
    }
}

.icon-rating_small_-5
{
    &:before
    {
        content: $icon-rating_small_-5;
    }
}

.icon-rating_small_0
{
    &:before
    {
        content: $icon-rating_small_0;
    }
}

.icon-rating_small_1
{
    &:before
    {
        content: $icon-rating_small_1;
    }
}

.icon-rating_small_02
{
    &:before
    {
        content: $icon-rating_small_02;
    }
}

.icon-rating_small_3
{
    &:before
    {
        content: $icon-rating_small_3;
    }
}

.icon-rating_small_4
{
    &:before
    {
        content: $icon-rating_small_4;
    }
}

.icon-rating_small_5
{
    &:before
    {
        content: $icon-rating_small_5;
    }
}

.icon-receipt_archive
{
    &:before
    {
        content: $icon-receipt_archive;
    }
}

.icon-referrer_backend
{
    &:before
    {
        content: $icon-referrer_backend;
    }
}

.icon-refresh
{
    &:before
    {
        content: $icon-refresh;
    }
}

.icon-reload
{
    &:before
    {
        content: $icon-reload;
    }
}

.icon-reorder_create
{
    &:before
    {
        content: $icon-reorder_create;
    }
}

.icon-reorder_not_possible
{
    &:before
    {
        content: $icon-reorder_not_possible;
    }
}

.icon-reorder_scan
{
    &:before
    {
        content: $icon-reorder_scan;
    }
}

.icon-reorder_show
{
    &:before
    {
        content: $icon-reorder_show;
    }
}

.icon-reorder_type
{
    &:before
    {
        content: $icon-reorder_type;
    }
}

.icon-reorder
{
    &:before
    {
        content: $icon-reorder;
    }
}

.icon-repair_slip
{
    &:before
    {
        content: $icon-repair_slip;
    }
}

.icon-reset_32
{
    &:before
    {
        content: $icon-reset_32;
    }
}

.icon-reset
{
    &:before
    {
        content: $icon-reset;
    }
}

.icon-save
{
    &:before
    {
        content: $icon-save;
    }
}

.icon-search_apply
{
    &:before
    {
        content: $icon-search_apply;
    }
}

.icon-search
{
    &:before
    {
        content: $icon-search;
    }
}

.icon-send_email
{
    &:before
    {
        content: $icon-send_email;
    }
}

.icon-set_package_number
{
    &:before
    {
        content: $icon-set_package_number;
    }
}

.icon-settings_transfer
{
    &:before
    {
        content: $icon-settings_transfer;
    }
}

.icon-settings
{
    &:before
    {
        content: $icon-settings;
    }
}

.icon-shipping_dhl_packstation_valid
{
    &:before
    {
        content: $icon-shipping_dhl_packstation_valid;
    }
}

.icon-shipping_express
{
    &:before
    {
        content: $icon-shipping_express;
    }
}

.icon-skype
{
    &:before
    {
        content: $icon-skype;
    }
}

.icon-sort_asc
{
    &:before
    {
        content: $icon-sort_asc;
    }
}

.icon-sort_desc
{
    &:before
    {
        content: $icon-sort_desc;
    }
}

.icon-sort_down
{
    &:before
    {
        content: $icon-sort_down;
    }
}

.icon-sort_up
{
    &:before
    {
        content: $icon-sort_up;
    }
}

.icon-sound
{
    &:before
    {
        content: $icon-sound;
    }
}

.icon-stock_intake_without_reorder
{
    &:before
    {
        content: $icon-stock_intake_without_reorder;
    }
}

.icon-stock_intake
{
    &:before
    {
        content: $icon-stock_intake;
    }
}

.icon-stock_limited
{
    &:before
    {
        content: $icon-stock_limited;
    }
}

.icon-stock
{
    &:before
    {
        content: $icon-stock;
    }
}

.icon-success
{
    &:before
    {
        content: $icon-success;
    }
}

.icon-tag_disabled
{
    &:before
    {
        content: $icon-tag_disabled;
    }
}

.icon-tag
{
    &:before
    {
        content: $icon-tag;
    }
}

.icon-telephone_hangup
{
    &:before
    {
        content: $icon-telephone_hangup;
    }
}

.icon-telephone
{
    &:before
    {
        content: $icon-telephone;
    }
}

.icon-ticket_add_faq
{
    &:before
    {
        content: $icon-ticket_add_faq;
    }
}

.icon-ticket_all
{
    &:before
    {
        content: $icon-ticket_all;
    }
}

.icon-ticket_attachment_private
{
    &:before
    {
        content: $icon-ticket_attachment_private;
    }
}

.icon-ticket_create
{
    &:before
    {
        content: $icon-ticket_create;
    }
}

.icon-ticket_deadline_exceeded
{
    &:before
    {
        content: $icon-ticket_deadline_exceeded;
    }
}

.icon-ticket_deadline_today
{
    &:before
    {
        content: $icon-ticket_deadline_today;
    }
}

.icon-ticket_events
{
    &:before
    {
        content: $icon-ticket_events;
    }
}

.icon-ticket_folder_move
{
    &:before
    {
        content: $icon-ticket_folder_move;
    }
}

.icon-ticket_link
{
    &:before
    {
        content: $icon-ticket_link;
    }
}

.icon-ticket_message_new
{
    &:before
    {
        content: $icon-ticket_message_new;
    }
}

.icon-ticket_message_private_new
{
    &:before
    {
        content: $icon-ticket_message_private_new;
    }
}

.icon-ticket_message_private
{
    &:before
    {
        content: $icon-ticket_message_private;
    }
}

.icon-ticket_message
{
    &:before
    {
        content: $icon-ticket_message;
    }
}

.icon-ticket_mine_done
{
    &:before
    {
        content: $icon-ticket_mine_done;
    }
}

.icon-ticket_mine_todo
{
    &:before
    {
        content: $icon-ticket_mine_todo;
    }
}

.icon-ticket_mine
{
    &:before
    {
        content: $icon-ticket_mine;
    }
}

.icon-ticket_new
{
    &:before
    {
        content: $icon-ticket_new;
    }
}

.icon-ticket_prio1
{
    &:before
    {
        content: $icon-ticket_prio1;
    }
}

.icon-ticket_prio2
{
    &:before
    {
        content: $icon-ticket_prio2;
    }
}

.icon-ticket_prio3
{
    &:before
    {
        content: $icon-ticket_prio3;
    }
}

.icon-ticket_prio4
{
    &:before
    {
        content: $icon-ticket_prio4;
    }
}

.icon-ticket_prio5
{
    &:before
    {
        content: $icon-ticket_prio5;
    }
}

.icon-ticket_prio6
{
    &:before
    {
        content: $icon-ticket_prio6;
    }
}

.icon-ticket_prio7
{
    &:before
    {
        content: $icon-ticket_prio7;
    }
}

.icon-ticket_prio8
{
    &:before
    {
        content: $icon-ticket_prio8;
    }
}

.icon-ticket_show_parent
{
    &:before
    {
        content: $icon-ticket_show_parent;
    }
}

.icon-ticket_show
{
    &:before
    {
        content: $icon-ticket_show;
    }
}

.icon-ticket_todo
{
    &:before
    {
        content: $icon-ticket_todo;
    }
}

.icon-timer
{
    &:before
    {
        content: $icon-timer;
    }
}

.icon-upload
{
    &:before
    {
        content: $icon-upload;
    }
}

.icon-user_my_account
{
    &:before
    {
        content: $icon-user_my_account;
    }
}

.icon-vcard
{
    &:before
    {
        content: $icon-vcard;
    }
}

.icon-visibility_private
{
    &:before
    {
        content: $icon-visibility_private;
    }
}

.icon-warning
{
    &:before
    {
        content: $icon-warning;
    }
}

.icon-zoom
{
    &:before
    {
        content: $icon-zoom;
    }
}
