@media (max-width: 767px)
{
    .hidden-xs
    {
        display: none
    }
}

:host-context(#tab-content .outlet-container)
{
    .container-fluid
    {
        height: 100%;
        
        .row
        {
            height: 100%;
            
            .overflow-auto
            {
                overflow: auto;
            }
        }
    }
}

