<div class="filter-container">
    
    <plenty-base-toolbar>
        <div class="btn-group" role="group">
            <plenty-button inputCaption="{{inputSearchLabel}}" (outputClicked)="outputOnSearchBtnClicked()"></plenty-button>
            <plenty-button inputCaption="{{inputResetLabel}}" (outputClicked)="outputOnResetBtnClicked()"></plenty-button>
        </div>
    </plenty-base-toolbar>
    
    <div class="input-group-v">
        <div *ngFor="let item of viewChildInputList" #inputList>
            <dcl-wrapper [inputType]="item.template" [inputData]="item.data"></dcl-wrapper>
        </div>
    </div>

</div>




