<div class="filter-container">
    
    <plenty-base-toolbar>
        <div class="btn-group" role="group">
            <plenty-button caption="{{inputSearchLabel}}" (click)="outputOnSearchBtnClicked()"></plenty-button>
            <plenty-button caption="{{inputResetLabel}}" (click)="outputOnResetBtnClicked()"></plenty-button>
        </div>
    </plenty-base-toolbar>
    
    <div class="input-group-v">
        <div *ngFor="let item of viewChildInputList" #inputList>
            <dcl-wrapper [type]="item.template" [data]="item.data"></dcl-wrapper>
        </div>
    </div>

</div>




