<div class="filter-container">
    
    <terra-base-toolbar>
        <div class="btn-group" role="group">
            <terra-button inputCaption="{{inputSearchLabel}}" (outputClicked)="outputOnSearchBtnClicked()"></terra-button>
            <terra-button inputCaption="{{inputResetLabel}}" (outputClicked)="outputOnResetBtnClicked()"></terra-button>
        </div>
    </terra-base-toolbar>
    
    <div class="input-group-v">
        <div *ngFor="let item of viewChildInputList" #inputInputList>
            <dcl-wrapper [inputType]="item.template"></dcl-wrapper>
        </div>
    </div>

</div>




