<div class="filter-container">
    
    <terra-base-toolbar>
        <div class="btn-group" role="group">
            <terra-button class="terra-button"
                          inputTooltipText="{{inputSearchLabel}}"
                          inputTooltipPlacement="top"
                          [inputIcon]="'icon-search'"
                          (outputClicked)="searchBtnClicked()">
            </terra-button>
            <terra-button class="terra-button"
                          inputTooltipText="{{inputResetLabel}}"
                          inputTooltipPlacement="top"
                          [inputIcon]="'icon-reset'"
                          (outputClicked)="resetBtnClicked()">
            </terra-button>
        </div>
    </terra-base-toolbar>

    <div class="filter-group">
        <ng-content></ng-content>
    </div>

    <!--<div class="input-group-v">-->
        <!--<div *ngFor="let item of inputInputList" #viewChildInputList>-->
            <!--<terra-dcl-wrapper [inputType]="item.template"></terra-dcl-wrapper>-->
        <!--</div>-->
    <!--</div>-->

</div>
