<div class="input-wrapper textarea-wrapper"
     tooltipPlacement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     [isDisabled]="!inputTooltipText"
     [ngClass]="{'error': !isValid, 'disabled': isDisabled}"
     container="body">
    <textarea id="{{id}}"
              [(ngModel)]="value"
              name="{{inputName}}"
              (blur)="onBlur()"
              [maxlength]="inputMaxLength"
              [rows]="inputMaxRows"
              [required]="inputIsRequired"
              autocomplete="off"
              [disabled]="isDisabled"
              placeholder="{{inputPlaceholder}}"
              [class.resizable]="!inputHasFixedHeight">
    </textarea>
    <label class="textarea-label" htmlFor="{{id}}">{{inputName}}
        <span *ngIf="inputIsRequired">*</span>
    </label>
</div>
