.tag
{
    background-color: $gray-light-2;
    border-color: transparent;
    -moz-border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    border-radius: $border-radius;
    display: flex;
    padding: 0.25rem 0.5rem;
    color: $white;
    font-size: $font-size-1;
    font-weight: $font-weight-1;
    margin-top: 7px;
    span
    {
        font-size: $font-size-1;
        font-weight: $font-weight-1;
        margin-right: 3px;
    }
}

.isTagged
{
    color: $black;
}

/deep/ terra-tag:not(:last-child)
{
    margin-right: 2px;
}
