.tag
{
    background-color: $gray-light-3;
    border-color: transparent;
    -moz-border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    border-radius: $border-radius;
    display: flex;
    padding: 0.25rem 0.5rem;
    margin: 0.04rem 0.04rem;
    color: #333333;
}
