:host
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 3px;
    overflow-y: auto;
    
    > div
    {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.image-preview
{
    background-color: $grey-2;
    padding: 4px;
    flex: 1;
    
    .preview-container
    {
        width: 100%;
        padding-top: 100%;
        position: relative;
        margin-bottom: .5rem;
        
        > div
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    
    .preview-size
    {
        display: block;
        font-size: .7rem;
        color: $text-muted;
    }
}

.loader
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    
    .icon-loading
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
        --icon-color: $white;
    }
}