<!--<tc-showcase></tc-showcase>-->
<terra-checkbox [inputIcon]="'icon-delete'" [inputCaption]="'Test'"></terra-checkbox>
<mat-checkbox><mat-icon [fontIcon]="'icon-delete'" [inline]="true"></mat-icon>Mat-Icon inline</mat-checkbox>
<br>
<mat-checkbox><span class="icon-delete"></span>Span</mat-checkbox>
<br>
<mat-checkbox><mat-icon [fontIcon]="'icon-delete'"></mat-icon>Mat-Icon</mat-checkbox>
<br>
<mat-checkbox [labelPosition]="'before'"><mat-icon [fontIcon]="'icon-delete'" [inline]="true"></mat-icon>Mat-Icon inline</mat-checkbox>
<br>
<mat-checkbox [labelPosition]="'before'"><span class="icon-delete"></span>Span</mat-checkbox>
<br>
<mat-checkbox [labelPosition]="'before'"><mat-icon [fontIcon]="'icon-delete'"></mat-icon>Mat-Icon</mat-checkbox>
