body
{
    font-family: "plenty", Helvetica, Arial, sans-serif !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    color: #333333 !important;
    background-color: #FFFFFF !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    direction: ltr !important;
}