<div style="margin-top: 300px; margin-left: 250px;">
    <terra-button inputCaption="toggle disable" (outputClicked)="toggleDisable()"></terra-button>
    <terra-button inputCaption="toggle error" (outputClicked)="toggleError()"></terra-button>
    <terra-multi-select-box [inputIsDisabled]="isDisabled" [inputIsError]="isError" [inputValueList]="entries"></terra-multi-select-box>
    
    
    <terra-checkbox inputCaption="Box o-o" [inputIsDisabled]="isDisabled"></terra-checkbox>
    <terra-radio-button inputCaption="Radio gaga!" [inputIsDisabled]="isDisabled"></terra-radio-button>
</div>