.info-box
{
    background-color: #FFFFFF;
    border: 1px solid #999999;
    -moz-border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    border-radius: $border-radius;
    padding: 0.5rem;
    min-width: 200px;
    margin: 4px 0px;
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.info-box-inner
{
    display: flex;
    justify-content: space-between;
    height: calc(100% - 25px);
}

.info-box-text
{
    padding-right: 0.8rem;
    padding-bottom: 0.4rem;
}

.empty
{
    background: $gray-light-3;
    justify-content: center;
    line-height: 8rem;
}

.add
{
    // TODO add icon to symbolize adding function
    background: $gray-light-3;
}