<div class="info-box"
     [ngClass]="{'add': inputAddBox,
                'empty': inputIsEmpty}">
    <div class="info-box-inner"
         [ngClass]="{'add': inputAddBox,
                    'empty': inputIsEmpty}">
        <div class="info-box-text pull-sm-left"
             [ngClass]="{'add': inputAddBox,
                        'empty': inputIsEmpty}">
            <ng-content select="[body]"></ng-content>
        </div>
        <div class="btn-group-vertical pull-sm-right" role="group">
            <ng-content select="[buttons]"></ng-content>
        </div>
    </div>
    <terra-taglist [inputTagList]="inputTagList"></terra-taglist>
</div>