.info-box
{
    background-color: $gray-light-5;
    border: 1px solid $gray-light-2-half;
    -moz-border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    border-radius: $border-radius;
    padding: 0.5rem;
    min-width: 200px;
    margin: 4px 0px;
    height: 150px;
    &.selected
    {
        background-color: $brand-primary-lighter;
        border: 1px solid $brand-primary;
    }
}

.info-box-inner
{
    display: flex;
    justify-content: space-between;
    height: calc(100% - 26px);
}

.info-box-text
{
    padding-right: 0.8rem;
    padding-bottom: 0.4rem;
    max-width: 77%;
}

:host /deep/ .info-box-text
{
    div
    {
        text-overflow: ellipsis;
        /* overflow: hidden; */
        white-space: nowrap;
    }
    
    i, span, p, h1, h2, h3, h4, h5, h6
    {
        overflow: hidden;
    }
}

.empty
{
    background: $gray-light-3;
    justify-content: center;
    line-height: 8rem;
}

.add
{
    // TODO add icon to symbolize adding function
    background: $gray-light-3;
}

.info-box-footer
{
    display: flex;
    justify-content: space-between;
}

.info-box-id
{
    margin: 5px 2px 0px 0px;
    color: $gray-light-2;
}

:host /deep/ .btn-handler
{
    display: inline;
}
