<div class="table-responsive">
    <table class="table simple-table table-bordered" [ngClass]="{'table-striped': inputIsStriped}">
        <thead>
        <tr *ngIf="inputHeaderList">
            <template ngFor let-header [ngForOf]="inputHeaderList">
                <th width="{{header.width}}px">
              <span
                  tooltipPlacement="{{header.tooltipPlacement}}"
                  tooltip="{{header.tooltipText}}"
                  tooltipEnable="{{header.tooltipText}}">{{header.caption}}</span>
                </th>
            </template>
        </tr>
        </thead>
        <tbody [ngClass]="{'highlighting': inputUseHighlighting}">
        <template ngFor let-row [ngForOf]="inputRowList">
            <tr>
                <template ngFor let-cell [ngForOf]="row.cellList">
                    <td>
                        <span [ngClass]="cell.icon"
                              tooltipPlacement="{{cell.tooltipPlacement}}"
                              tooltip="{{cell.tooltipText}}"
                              tooltipEnable="{{cell.tooltipText}}">{{cell.caption}}</span>
                        <div class="btn-group" *ngIf="cell.buttonList">
                            <template ngFor let-button [ngForOf]="cell.buttonList">
                                <terra-button (outputClicked)="button.clickFunction()" inputIcon="{{button.icon}}"
                                              inputCaption="{{button.caption}}"
                                              [inputIsSmall]="true" inputTooltipText="{{button.tooltipText}}"></terra-button>
                            </template>
                        </div>
                    </td>
                </template>
            </tr>
        </template>
        </tbody>
    </table>
</div>