.btn-toolbar
{
    background: var(--toolbar-background, $grey-2);
    padding: 4px;
    margin: var(--toolbar-margin, 0 0 3px 0);
    border-radius: var(--toolbar-border-radius, 0 0 $border-radius $border-radius);
    border-bottom: var(--toolbar-border-bottom, none)
}

.sticky
{
    top: 0;
    position: sticky;
    z-index: $zindex-toolbar-sticky;
}

:host /deep/ .btn-toolbar .btn-group
{
    margin: 0;
    padding-right: 12px;
}