.btn-toolbar
{
    background: $gray-light-4;
    padding: 4px;
    margin: 0;
    margin-bottom: 3px;
}

.sticky
{
    top: 0;
    position: sticky;
    z-index: $zindex-toolbar-sticky;
}

:host /deep/ .terra-number-input input
{
    text-align: right !important;
}

:host /deep/ .btn-toolbar .btn-group
{
    margin: 0;
}

:host /deep/ .btn-toolbar .btn-group:not(:last-child)
{
    padding-right: 12px;
}