<div class="input-wrapper"
     placement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     [isDisabled]="!inputTooltipText"
     [ngClass]="{'error': !isValid, 'isSmall': inputIsSmall}"
     container="body">
    
    <input id="{{id}}"
           [type]="inputIsPassword?'password':'text'"
           [(ngModel)]="value"
           name="{{inputName}}"
           (blur)="onCustomBlur(value)"
           (input)="onInput()"
           autocomplete="off"
           [disabled]="isDisabled"
           [ngClass]="{'isSmall' : inputIsSmall, 'isEmpty' : !innerValue && innerValue !== 0}"
           pattern="{{regex}}"
           maxlength="{{inputMaxLength}}"
           minlength="{{inputMinLength}}"
           [readonly]="inputIsReadonly"
           placeholder="{{inputIsRequired ? inputName + '*' : inputName}}"
           required>
    <label *ngIf="(innerValue || innerValue === 0) && inputName" htmlFor="{{id}}">{{inputName}}
        <span *ngIf="inputIsRequired">*</span>
    </label>
</div>
