<div class="input-unit-v1"
     placement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     [isDisabled]="!inputTooltipText"
     [ngClass]="{'error': !isValid, 'disabled': isDisabled, 'isSmall': inputIsSmall}"
     container="body">
    <label htmlFor="{{inputName}}">{{inputName}}
        <span *ngIf="inputIsRequired">*</span>
    </label>
    <input id="{{inputName}}"
           [type]="inputIsPassword?'password':'text'"
           [(ngModel)]="value"
           name="{{inputName}}"
           (blur)="onBlur()"
           (input)="onInput()"
           autocomplete="off"
           [disabled]="isDisabled"
           [ngClass]="{'isSmall' : inputIsSmall}"
           pattern="{{regex}}"
           maxlength="{{inputMaxLength}}"
           [readonly]="inputIsReadonly"
           placeholder="{{inputPlaceholder}}"
           required>
</div>
