<div>
    <terra-base-toolbar>
        <ul class="terra-breadcrumbs" *ngIf="storageList">
            <li *ngFor="let parent of parentObjects; let last = last" (click)="selectObject(parent)">
                <div [class.active]="last">
                    <span>{{ parent.name || _translationPrefix + ".myFiles" | translate:lang }}</span>
                </div>
            </li>
        </ul>
    </terra-base-toolbar>
    <terra-base-toolbar>
        <div class="btn-group" role="group">
            <terra-button [inputIcon]="'icon-upload'" [inputTooltipText]="_translationPrefix + '.uploadFile' | translate:lang"
                          (outputClicked)="showFileChooser()">
            </terra-button>
            <terra-button [inputIcon]="'icon-folder_add'" [inputTooltipText]="_translationPrefix + '.createFolder' | translate:lang"
                          (outputClicked)="createDirectory()">
            </terra-button>
        </div>
        
        <label style="width:0; height: 0; visibility: hidden;" #fileChooser>
            <input type="file" (change)="selectFiles($event)">
        </label>
    
    </terra-base-toolbar>
    
    <div class="file-browser-content">
        <div class="prompt" [class.in]="showNewDirectoryPrompt">
            <span class="prompt-title">{{ _translationPrefix + '.createFolder' | translate:lang }}</span>
            <terra-text-input [inputName]="_translationPrefix + '.folderName' | translate:lang"
                              [ngModel]="newDirectoryName"
                              (ngModelChange)="setNewDirectoryName($event)">
            </terra-text-input>
            <div class="pull-lg-right">
                <terra-button [inputIcon]="'icon-close'"
                              [inputCaption]="_translationPrefix + '.cancel' | translate:lang"
                              [inputIsSmall]="true"
                              (outputClicked)="showNewDirectoryPrompt = false"></terra-button>
                
                <terra-button [inputIcon]="'icon-success'"
                              [inputCaption]="_translationPrefix + '.create' | translate:lang"
                              [inputIsSmall]="true"
                              [inputIsTertiary]="true"
                              [inputIsDisabled]="!newDirectoryName"
                              (outputClicked)="createDirectory()"></terra-button>
            </div>
        </div>
        
        <div class="prompt" [class.in]="deletableObjectKey">
            <span class="prompt-title">{{ _translationPrefix + '.confirmDelete' | translate:lang }}</span>
            <div class="pull-lg-right">
                <terra-button [inputIcon]="'icon-close'"
                              [inputCaption]="_translationPrefix + '.cancel' | translate:lang"
                              [inputIsSmall]="true"
                              (outputClicked)="deletableObjectKey = null">
                </terra-button>
                
                <terra-button [inputIcon]="'icon-success'"
                              [inputCaption]="_translationPrefix + '.delete' | translate:lang"
                              [inputIsSmall]="true"
                              [inputIsTertiary]="true"
                              (outputClicked)="deleteObject()">
                </terra-button>
            </div>
        </div>
        
        <ul class="file-list" *ngIf="storageList && currentRoot.hasChildren">
            <li *ngFor="let item of currentRoot.children" (click)="selectObject(item)" [class.disabled]="!isAllowed(item.key)"
                [class.selected]="item === selectedStorageObject">
                <div class="upload-progress"
                     *ngIf="uploadProgresses.hasOwnProperty(item.key) && uploadProgresses[item.key] < 100 && uploadProgresses[item.key] > 0"
                     [style.width.%]="uploadProgresses[item.key]">
                    <span [class]="getIconClass( item.key )">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                    </span>
                    <span class="file-name">{{ item.name }}</span>
                </div>
                <div [class.waiting]="uploadProgresses[item.key] === 0">
                    <span [class]="getIconClass( item.key )">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                    </span>
                    <span class="file-name">{{ item.name }}</span>
                </div>
            </li>
        </ul>
        
        <div class="file-list-empty" *ngIf="storageList && !currentRoot.hasChildren">
            <div>
                <span>{{ _translationPrefix + '.folderIsEmpty' | translate:lang }}</span>
                <div>
                    <terra-button *ngIf="currentRoot.key !== '/'"
                                  [inputIsSecondary]="true"
                                  [inputIcon]="'icon-delete'"
                                  [inputCaption]="_translationPrefix + '.deleteFolder' | translate:lang"
                                  (outputClicked)="deletableObjectKey = currentRoot.key">
                    </terra-button>
                    <terra-button [inputIcon]="'icon-upload'"
                                  [inputCaption]="_translationPrefix + '.uploadFile' | translate:lang"
                                  (outputClicked)="showFileChooser()">
                    </terra-button>
                </div>
            </div>
        </div>
        
        <div class="preview-container" [class.in]="!!selectedStorageObject">
            <div class="preview-title">
                <span class="preview-title-name">{{ selectedStorageObject?.name }}</span>
                <span class="preview-title-size">{{ getSizeString( selectedStorageObject?.size ) }}</span>
                <span class="preview-title-date">{{ getFormattedDate( selectedStorageObject?.lastModified ) }}</span>
            </div>
            <span class="preview-content">
                <span *ngIf="isWebImage( selectedStorageObject?.name )"
                      [style.background-image]="'url(' + selectedStorageObject?.publicUrl + ')'"></span>
                <span *ngIf="!isWebImage( selectedStorageObject?.name )">
                    <span [class]="getIconClass(selectedStorageObject?.key)">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                    </span>
                </span>

                <div class="delete-btn">
                    <terra-button [inputIsSecondary]="true"
                                  [inputIcon]="'icon-delete'"
                                  [inputTooltipText]="_translationPrefix + '.deleteFile' | translate:lang"
                                  (outputClicked)="deletableObjectKey = selectedStorageObject.key">
                    </terra-button>
                </div>
            </span>
            
            <div class="input-group">
                <terra-text-input #urlInput
                                  [inputName]="_translationPrefix + '.fileURL' | translate:lang"
                                  [inputIsReadonly]="true"
                                  [ngModel]="selectedStorageObject?.publicUrl">
                </terra-text-input>
                <terra-button class="input-group-btn"
                              [inputIcon]="'icon-copy_clipboard'"
                              [inputTooltipText]="_translationPrefix + '.copyToClipboard' | translate:lang"
                              (click)="copyToClipboard(urlInput.value)">
                </terra-button>
            </div>
        </div>
        
        <div class="file-drop" [class.in]="isFileDragged" (drop)="dropFiles($event)" #fileDropzone>
            <span>{{ _translationPrefix + '.uploadFile' | translate:lang }}</span>
        </div>
    </div>

</div>