.multiselect-container
{
    .multiselect-element
    {
        margin-bottom: 8px;
        .multiselect
        {
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
            
            .multiselect-header
            {
                display: flex;
                background-color: $color-structure-11;
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                
                .checkbox-container,
                .header-label
                {
                    margin: 0px;
                    font-variant: all-small-caps;
                    padding: 6px 9px;
                    color: $color-structure-0;
                }
            }
            
            .option-list
            {
                background: $color-structure-0;
                overflow: auto;
                max-height: 155px;
                .input-group
                {
                    margin-bottom: 0px;
                    
                    .form-control,
                    .input-group-addon
                    {
                        padding: 6px 9px;
                        border: none;
                        border-bottom: 1px solid $color-structure-1;
                        border-radius: 0px;
                        font-size: 0.875rem;
                        font-weight: normal;
                        background: transparent;
                        cursor: pointer;
                    }
                    
                    &:hover
                    {
                        background: $color-structure-1;
                    }
                }
            }
        }
        &.error
        {
            .multiselect
            {
                .multiselect-header
                {
                    background-color: $color-alert;
                }
            }
        }
        &.disabled
        {
            .multiselect
            {
                .multiselect-header
                {
                    background: $color-structure-5;
                    cursor: not-allowed;
                }
                .option-list
                {
                    .input-group
                    {
                        .form-control,
                        .input-group-addon
                        {
                            color: $color-structure-5;
                            cursor: not-allowed;
                            &:hover
                            {
                                cursor: not-allowed;
                                background: $color-structure-0;
                            }
                        }
                        &:hover
                        {
                            cursor: not-allowed;
                            background: $color-structure-0;
                        }
                    }
                }
            }
        }
    }
}