<div class="multiselect-container">
    <div class="multiselect-element" [ngClass]="{'disabled': inputIsDisabled}">
        <div class="multiselect">
            <div class="multiselect-header"
                 [class.roundedBottomBorder]="collapsed"
                 (click)="toggleCollapsed()">
                <div class="checkbox-container">
                    <terra-checkbox #viewChildHeaderCheckbox
                                    type="checkbox"
                                    (click)="$event.stopPropagation()"
                                    [inputIsDisabled]="inputIsDisabled"
                                    [inputCaption]="inputName.toUpperCase()"
                                    [(ngModel)]="headerCheckboxValue"
                                    (ngModelChange)="onHeaderCheckboxChange($event)">
                    </terra-checkbox>
                </div>
                <span [ngClass]="{'icon-collapse_down': collapsed, 'icon-collapse_up': !collapsed}">
                </span>
            </div>
            <div class="option-list" [hidden]="collapsed">
                <div *ngFor="let listEntry of valueList;">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <terra-checkbox type="checkbox"
                                            [inputIsDisabled]="inputIsDisabled"
                                            [(ngModel)]="listEntry.selected"
                                            (ngModelChange)="checkboxChanged(listEntry)"
                                            [inputCaption]="listEntry.caption">
                            </terra-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
