<div class="multiselect-container">
    <div class="multiselect-element" [ngClass]="{'disabled': inputIsDisabled}">
        <div class="multiselect">
            <div class="multiselect-header">
                <div class="checkbox-container">
                    <terra-checkbox #viewChildHeaderCheckbox
                                    type="checkbox"
                                    [inputIsDisabled]="inputIsDisabled"
                                    [(ngModel)]="headerCheckboxValue"
                                    (ngModelChange)="onHeaderCheckboxChange($event)">
                    </terra-checkbox>
                </div>
                <label class="header-label">{{ inputName }}</label>
            </div>
            <div class="option-list">
                <div *ngFor="let listEntry of valueList;">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <terra-checkbox #valueCheckbox
                                            type="checkbox"
                                            [inputIsDisabled]="inputIsDisabled"
                                            [(ngModel)]="listEntry.selected"
                                            (ngModelChange)="checkHeaderCheckboxState()"
                                            [inputCaption]="listEntry.caption">
                            </terra-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
