.multiselect-container
{
    .multiselect-element
    {
        margin-bottom: 8px;
        
        .multiselect
        {
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
            
            .multiselect-header
            {
                display: -webkit-flex; /* Safari */
                -webkit-justify-content: flex-start; /* Safari 6.1+ */
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: var(--color-structure-11);
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);
                
                .checkbox-container
                {
                    display: inherit;
                    margin: 0;
                    padding: 6px 9px;
                    color: var(--color-structure-0);
                    
                    .header-label
                    {
                        font-variant: all-small-caps;
                    }
                    
                }
                [class^="icon-"]
                {
                    padding: var(--space-sm);
                    transition: all var(--transition-xs);
                    justify-content: flex-end;
                    color: var(--color-structure-0);
                    font-size: larger;
                }
            }
            
            .option-list
            {
                background: var(--color-structure-0);
                overflow: auto;
                max-height: 156px;
                
                &.collapsed
                {
                    display: none;
                }
                .input-group
                {
                    margin-bottom: 0px;
                    
                    .form-control,
                    .input-group-addon
                    {
                        padding: 6px 9px;
                        border: none;
                        border-bottom: 1px solid var(--color-structure-1);
                        border-radius: 0px;
                        font-size: 0.875rem;
                        font-weight: normal;
                        background: transparent;
                        cursor: pointer;
                    }
                    
                    &:hover
                    {
                        background: var(--color-structure-1);
                    }
                }
            }
        }
        
        &.error
        {
            .multiselect
            {
                .multiselect-header
                {
                    background-color: var(--color-alert);;
                }
            }
        }
        
        &.disabled
        {
            .multiselect
            {
                .multiselect-header
                {
                    background: var(--color-structure-5);
                    cursor: not-allowed;
                }
                
                .option-list
                {
                    .input-group
                    {
                        .form-control,
                        .input-group-addon
                        {
                            color: var(--color-structure-5);
                            cursor: not-allowed;
                            
                            &:hover
                            {
                                cursor: not-allowed;
                                background: var(--color-structure-0);
                            }
                        }
                        
                        &:hover
                        {
                            cursor: not-allowed;
                            background: var(--color-structure-0);
                        }
                    }
                }
            }
        }
    }
}
