.btn-toolbar
{
    background: var(--toolbar-background, var(--color-structure-0));
    padding: var(--toolbar-padding, var(--space-sm));
    margin: var(--toolbar-margin, var(--space-container));
    border-radius: var(--toolbar-border-radius, 0 0 var(--border-radius) var(--border-radius));
    border-bottom: var(--toolbar-border-bottom, none);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: var(--toolbar-z-index, var(--zIndex-7));
    --select-box-wrapper-margin-bottom: 0;
}

:host-context(.btn-toolbar .pager) //if pager placed in toolbar, style the toolbar contained in pager like this
{
    --toolbar-padding: 6px 4px 4px 4px;
    --toolbar-margin: 0 0 -4px 0;
}