.btn-toolbar .btn-group
{
    margin: 0 !important;
    padding-right: 12px;

    &:last-child
    {
        padding-right: 0;
    }
}


.btn-toolbar
{
   > *
   {
       font-size: 0;
       vertical-align: middle;
       &:not(:last-child)
       {
           margin-right: 4px;
       }
   }
}
