@import "../input/terra-input.component";

.slider
{
    width: 100%;
    position: relative;
    padding-top: 16px;
    margin-bottom: 3px;
    
    &.has-ticks
    {
        margin-bottom: 24px;
    }
    
    .slider-label
    {
        @extend label;
        color: $grey-8;
    }
    
    .slider-container
    {
        display: flex;
        flex-direction: row;
        
        & > span
        {
            font-size: .9em;
            line-height: 22px;
            color: $grey-8;
            padding: 0 8px;
        }
    }
    
    .slider-inner
    {
        position: relative;
        width: 100%;
        padding: 0 20px;
        
        & > div
        {
            position: relative;
        }
        
        .slider-bar
        {
            width: 100%;
            height: 10px;
            margin: 5px 0;
            border: $border-width solid $grey-4;
            border-radius: $border-radius;
            cursor: pointer;
            background-color: $white;
        }
        
        .slider-handle
        {
            position: absolute;
            width: 40px;
            height: 20px;
            left: 0;
            top: 50%;
            margin-top: -10px;
            margin-left: -20px;
            border: none;
            border-radius: $border-radius;
            cursor: pointer;
            background-color: $grey-9;
            color: $white;
            line-height: 20px;
            text-align: center;
            font-size: 0.9em;
            z-index: 1;
            
            &:hover
            {
                background-color: $blue;
            }
        }
        
        .slider-ticks
        {
            span
            {
                position: absolute;
                bottom: -16px;
                font-size: .8em;
                width: 50px;
                margin-left: -25px;
                text-align: center;
                color: $grey-8;
                
                &:before
                {
                    content: "";
                    width: 1px;
                    height: 10px;
                    background: $grey-4;
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: -10px;
                }
                
            }
        }
    }
    
    &.disabled
    {
        background-color: $grey-2;
        border: 1px solid $grey-3;
        
        label, .slider-bar, .slider-handle
        {
            cursor: not-allowed !important;
        }
        
        .slider-inner
        {
            filter: opacity(30%) !important;
        }

        .slider-handle:hover
        {
            background-color: $grey-9 !important;
        }
    }
}