<div class="list-box-wrapper"
     tooltipPlacement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     tooltipEnable="{{inputTooltipText}}"
     [ngClass]="{
                  'input-unit-v1': _hasLabel,
                  'error': !isValid,
                  'disabled': isDisabled,
                  'open': _toggleOpen
                }"
     (click)="_toggleOpen =! _toggleOpen">
    
    
    <label *ngIf="_hasLabel" htmlFor="{{inputName}}">{{inputName}}
        <span *ngIf="inputIsRequired">*</span>
    </label>
    <i *ngIf="inputName">?</i>
    
    
    <div class="list-box" [ngClass]="{'error': !isValid}">
        <span class="{{_selectedValue.icon}}" *ngIf="_selectedValue.icon"></span>
        {{_selectedValue.caption}}
    </div>
    
    <div class="list-box-dropdown">
        <span *ngFor="let item of inputListBoxValues; let index=index;" (click)="select(index)" [ngClass]="{active: item.active}">
          <span class="{{item.icon}}" *ngIf="item.icon"></span>
          {{item.caption}}
        </span>
    </div>
</div>
