@import "../input/terra-input.component";

.select-box-wrapper
{
    position: relative;
    margin-bottom: 12px;
    background-color: #FFFFFF;
    .select-box
    {
        height: $terra-btn-md-height;
        line-height: $terra-btn-md-height - 2;
        display: inline-block;
        width: 100%;
        max-width: 100%;
        vertical-align: middle;
        border: 1px solid $gray-light-2;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 0px 12px 0px 12px;
        background-position: calc(100% - 1rem) 1.2rem;
        border: $border-width solid $border-color;
        border-radius: $border-radius;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right .75rem center;
        background-image: none \9;
        background-size: 8px 10px;
        &.error
        {
            border-color: $error;
            color: $error;
            //background: url('/app/assets/images/error-arrow.png') no-repeat right .75rem center;
            background-size: 8px 10px;
        }
        
    }
    .labeled
    {
        line-height: 1.2em;
        padding: 16px 12px 2px 12px;
    }
}

.select-box-dropdown
{
    position: absolute;
    z-index: 99999;
    top: $terra-btn-md-height;
    left: 0;
    min-width: 100%;
    width: auto;
    max-height: 12rem;
    border: 1px solid $gray-light-2;
    border-radius: $border-radius;
    background: white;
    display: none;
    overflow: auto;
    > span
    {
        display: block;
        width: 100%;
        padding: .25em 1em;
        line-height: 18px;
        min-height: 24px;
        &:hover,
        &.selected
        {
            background: $grey-3;
            cursor: pointer;
        }
        &.active
        {
            background: $brand-primary;
            color: white;
            cursor: pointer;
        }
    }
    .select-box-dropdown-heading
    {
        &:hover
        {
            background-color: white;
            color: inherit;
            cursor: default;
        }
    }
}

.open
{
    .select-box-dropdown
    {
        display: block;
    }
}

.disabled
{
    opacity: .65;
    background-color: transparent !important;
    
    label, .select-box
    {
        //background-color: #F2F2F2;
        cursor: not-allowed;
    }
    .select-box-dropdown
    {
        display: none !important;
    }
}

.input-unit-v1.select-box-wrapper .select-box
{
    border: none;
    padding: 7px 9px 0px 12px;
}

.input-unit-v1.select-box-wrapper
{
    overflow: inherit;
}

.input-unit-v1 .select-box-dropdown
{
    width: auto;
    top: $terra-btn-md-height;
    left: -1px;
    right: -1px;
}



