<div class="select-box-wrapper"
     placement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     [isDisabled]="!inputTooltipText"
     [ngClass]="{
                  'error': !_isValid,
                  'disabled': inputIsDisabled,
                  'open': _toggleOpen
                }"
     (click)="onClick($event)"
     container="body">
    
    <label *ngIf="_hasLabel" htmlFor="{{inputName}}">{{inputName}}
        <span *ngIf="inputIsRequired">*</span>
    </label>
    
    <div class="select-box" [ngClass]="{'error': !_isValid, 'labeled': _hasLabel}">
        <span class="{{_selectedValue?.icon}}" *ngIf="_selectedValue?.icon"></span>
        <span [innerHtml]="_selectedValue?.caption"></span>
    </div>
    
    <div class="select-box-dropdown">
        <span *ngFor="let item of inputListBoxValues; let index=index;"
              (click)="select(item)"
              [ngClass]="{active: item.value === _selectedValue?.value}">
          <span class="{{item.icon}}" *ngIf="item.icon"></span>
            <span [innerHtml]="item.caption"></span>
        </span>
    </div>
</div>
