.search-wrapper
{
    background-color: var(--color-structure-11);
    padding: 4px 4px 1px 4px;
    
    --input-background-color: var(--color-structure-11);
    --label-color: var(--color-structure-0);
    --input-color: var(--color-structure-0);
    --input-placeholder-color: var(--color-structure-0);
}

ul
{
    background-color: var(--color-structure-11);
    padding: 0;
    margin: 0;
}

.searchDisabled
{
    height: 4.5%;
    width: 100%;
    position: absolute;
    z-index: 9999;
    background-color: var(--color-structure-0);
    opacity: 0.3;
    margin-top: -4px;
    margin-left: -4px;
}

.isDisabled
{
    height: 10000px;
    width: 100%;
    position: absolute;
    z-index: 9999;
    background-color: var(--color-structure-0);
    opacity: 0.3;
}
