.search-wrapper
{
    padding: 4px 4px 1px 4px;
}

ul
{
    background-color: $grey-11;
    padding: 0px;
    margin: 0px;
}

.searchDisabled
{
    height: 4.5%;
    width: 100%;
    position: absolute;
    z-index: 9999;
    background-color: $white;
    opacity: 0.3;
    margin-top: -4px;
    margin-left: -4px;
}

.isDisabled
{
    height: 10000px;
    width: 100%;
    position: absolute;
    z-index: 9999;
    background-color: $white;
    opacity: 0.3;
}
