<terra-portlet>
    <form (ngSubmit)="submit()">
        <terra-text-input [inputName]="'text'"></terra-text-input>
        <terra-number-input [inputName]="'number'"></terra-number-input>
        <terra-radio-group name="radio" [(ngModel)]="radioValue">
            <terra-radio-input [label]="'Option 1'" [value]="1"></terra-radio-input>
            <terra-radio-input [label]="'Option 2'" [value]="2"></terra-radio-input>
        </terra-radio-group>
        <terra-radio-button [inputCaption]="'Option 1'" [inputValue]="1"></terra-radio-button>
        <terra-select-box [inputName]="'select'" [inputListBoxValues]="listBoxValues"></terra-select-box>
        <button type="submit" [hidden]="true">
            Submit
        </button>
    </form>
</terra-portlet>
