<terra-portlet>
    <form (ngSubmit)="submit()">
        <terra-text-input [inputName]="'text'"></terra-text-input>
        <terra-number-input [inputName]="'number'"></terra-number-input>
        <terra-slider [inputName]="'slider'" [inputInterval]="0.1" [inputPrecision]="1" [inputMax]="10"></terra-slider>
        <terra-checkbox [inputCaption]="'checkbox'"></terra-checkbox>
        <div>
            <terra-radio-button [inputCaption]="'option1'" [inputValue]="'option1'"></terra-radio-button>
            <terra-radio-button [inputCaption]="'option2'" [inputValue]="'option2'"></terra-radio-button>
        </div>
        <terra-select-box [inputName]="'select'" [inputListBoxValues]="listBoxValues"></terra-select-box>
        <terra-multi-check-box [(ngModel)]="multiCheckboxValues" [inputName]="'multiCheckbox'" name="'multiCheckbox'"></terra-multi-check-box>
        <button type="submit" [hidden]="true">
            Submit
        </button>
    </form>
</terra-portlet>
