.table-responsive
{
    table
    {
        &.data-table
        {
            tr.disabled
            {
                opacity: 0.5;
                
                td
                {
                    cursor: not-allowed;
                }
            }
        }
        &.table
        {
            &[tabindex]
            {
                outline: none;
            }
            
            margin-bottom: 1rem;
            thead
            {
                background: var(--color-structure-9);
                color: var(--color-structure-0);
                border-radius: 0 0 var(--border-radius) var(--border-radius);
                tr
                {
                    th
                    {
                        font-variant: all-small-caps;
                        padding: var(--table-head-th-padding, var(--table-head-th-padding-default));
                        transition: ease padding 0.6s;
                        border: none;
                        &:first-child
                        {
                            border-radius: 0 0 0 var(--border-radius);
                        }
                        &:last-child
                        {
                            border-radius: 0 0 var(--border-radius) 0;
                        }
                    }
                    
                }
            }
            tbody
            {
                tr
                {
                    color: var(--color-structure-11);
                    td
                    {
                        padding: var(--table-body-td-padding, var(--table-body-td-padding-default));
                        transition: ease padding 0.6s;
                        vertical-align: middle;
                        border-bottom: 1px solid var(--color-structure-1);
                        white-space: nowrap;
                        span
                        {
                            font-size: var(--font-size-2);
                        }
                        a[href]
                        {
                            color: var(--color-active);
                            text-decoration: none;
                            &:hover
                            {
                                color: var(--color-active-dark);
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            span
            {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: middle;
            }
            > tbody tr:hover
            {
                background: var(--color-structure-2);
                cursor: pointer;
            }
            tbody tr.selected
            {
                background-color: var(--color-active);
                color: var(--color-structure-0);
            }
            tbody tr.isActive
            {
                background-color: var(--color-active);
                color: var(--color-structure-0);
                td a[href]
                {
                    color: var(--color-structure-0);
                    &:hover
                    {
                        color: var(--color-structure-13);
                    }
                }
            }
        }
    }
}

.no-margin
{
    margin-bottom: 0;
    tr
    {
        td
        {
            border: none;
        }
    }
}

.initial-loading-warn
{
    text-align: center;
    display: block;
    padding: 8.3em .3em .3em .5em;
    color: var(--color-structure-11);
    text-decoration: none;
    font-size: 1.875rem;
    border: 0;
    border-radius: 0;
}

.group-function
{
    margin-bottom: 6px;
    
    .group-function-head
    {
        padding: 1px 9px 4px 4px;
        background: transparent;
        
        span
        {
            padding: 5px;
            color: var(--color-structure-12);
            font-size: var(--font-size-4);
            font-weight: var(--font-weight-2);
        }
    }
    
    .group-function-body
    {
        background-color: var(--color-structure-2);
        padding: var(--group-function-body-padding, var(--group-function-body-padding-default));
        border-radius: var(--border-radius);
        transition: ease padding 0.6s;
    }
}

@media (max-width: 767px)
{
    table, td, tr, th, thead, tbody
    {
        display: block;
    }
    th, td
    {
        border: 0px !important;
        width: 100% !important;
        padding: 4px 9px !important;
    }
}
