<ng-content select="terra-group-function"></ng-content>

<terra-pager *ngIf="inputHasPager && rowList && rowList.length > 0"
             [inputPagingSize]="inputService?.pagingSizes"
             [inputDefaultPagingSize]="inputService?.defaultPagingSize"
             [inputPagingData]="inputService?.pagingData"
             [inputRequestPending]="inputService?.requestPending"
             (outputDoPaging)="doPaging($event)">
</terra-pager>

<div class="table-responsive">
    <context-menu></context-menu>
    <table class="table data-table" *ngIf="isTableDataAvailable">
        <thead>
        <tr>
            <th *ngIf="inputHasCheckboxes" width="25px">
                <terra-checkbox (change)="onHeaderCheckboxChange()"
                                (click)="$event.stopPropagation()"
                                [value]="headerCheckbox.checked"
                                [isIndeterminate]="headerCheckbox.isIndeterminate">
                </terra-checkbox>
            </th>
            <ng-template ngFor let-header [ngForOf]="inputHeaderList">
                <th *ngIf="!header.isHidden"
                    width="{{header.width}}px"
                    [ngStyle]="{ 'text-align': getTextAlign(header) }"
                    [class.sortable]="isSortable(header)"
                    (click)="columnHeaderClicked.emit(header)">
                    <span [container]="'body'"
                          [placement]="checkTooltipPlacement(header.tooltipPlacement)"
                          [tooltip]="header.tooltipText"
                          [isDisabled]="!header.tooltipText || header.tooltipText.length == 0">
                          {{header.caption}}
                        
                        <span [ngClass]="{'icon-table_sort': isUnsorted(header),'icon-sort_asc': isSortedAsc(header),'icon-sort_desc': isSortedDesc(header)}">
                        </span>
                    </span>
    
                </th>
            </ng-template>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rowList"
                [ngClass]="{'selected': row.selected, 'isActive': row.isActive, 'disabled': row.disabled}"
                [contextMenu]="row.contextMenuLinkList"
                (click)="rowClicked(row)">
                <td *ngIf="inputHasCheckboxes">
                    <terra-checkbox type="checkbox"
                                    [value]="row.selected"
                                    [inputIsDisabled]="row.disabled"
                                    (change)="onRowCheckboxChange(row)"
                                    (click)="$event.stopPropagation()">
                    </terra-checkbox>
                </td>
                <ng-template ngFor let-cell [ngForOf]="row.cellList" let-i="index">
                    <ng-template #tdTooltip>
                        <div [innerHTML]="cell.tooltipText"></div>
                    </ng-template>
                    
                    <td *ngIf="!cell.isHidden"
                        [ngSwitch]="getCellDataType(cell.data)"
                        [ngStyle]="{ 'text-align': getTextAlign(inputHeaderList[i]) }"
                        [tooltip]="tdTooltip"
                        [container]="'body'"
                        [isDisabled]="!cell.tooltipText || cell.tooltipText.length == 0"
                        [placement]="checkTooltipPlacement(cell.tooltipPlacement)">
                        
                        <div *ngSwitchCase="'string'">
                            <span>{{cell.data}}</span>
                        </div>
                        
                        <div *ngSwitchCase="'number'">
                            <span>{{cell.data}}</span>
                            <!-- <span>{{cell.data | number}}</span> TODO: The pipe should be used here! Figure out how. -->
                        </div>
                        
                        <div *ngSwitchCase="'TerraDataTableTextInterface'">
                            <span [ngStyle]="{color: cell.data.color}">
                                <span *ngIf="cell.data.icon" [ngClass]="cell.data.icon"></span>
                                <span> {{cell.data.caption}} </span>
                            </span>
                        </div>
                        
                        <div *ngSwitchCase="'TerraRefTypeInterface'">
                            <a *ngIf="cell.data.type === refType.email || cell.data.type === refType.phone"
                               href="{{cell.data.type}}:{{cell.data.value}}"
                               (click)="$event.stopPropagation()">
                                {{ cell.data.caption || cell.data.value}}
                            </a>
                            <a *ngIf="cell.data.type === refType.function" href="javascript:void(0);"
                               (click)="cell.data.value(); $event.stopPropagation();">
                                {{cell.data.caption}}
                            </a>
                            <a *ngIf="cell.data.type === refType.url" href="{{cell.data.value}}" target="{{cell.data.target || '_self'}}"
                               (click)="$event.stopPropagation()">
                                {{cell.data.caption || cell.data.value}}
                            </a>
                        </div>
                        
                        <div *ngSwitchCase="'buttons'" class="btn-group">
                            <ng-template ngFor let-button [ngForOf]="cell.data">
                                <terra-button *ngIf="!button.isHidden"
                                              (outputClicked)="button.clickFunction($event);$event.stopPropagation()"
                                              [inputIcon]="button.icon"
                                              [inputIsActive]="button.isActive"
                                              [inputIsDisabled]="button.isDisabled"
                                              [inputTooltipPlacement]="checkTooltipPlacement(button.tooltipPlacement)"
                                              [inputCaption]="button.caption"
                                              [inputIsSmall]="true"
                                              [inputTooltipText]="button.tooltipText"
                                              [inputIsFlagged]="button.isFlagged">
                                </terra-button>
                            </ng-template>
                        </div>
                        
                        <div *ngSwitchCase="'tags'">
                            <terra-taglist [inputTagList]="cell.data"></terra-taglist>
                        </div>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
    
    <ng-content *ngIf="!isTableDataAvailable && !inputService?.requestPending" select="terra-no-result-notice"></ng-content>

</div>
