<div class="btn-group-menu" role="group">
    <ng-template ngFor let-item [ngForOf]="_buttonList">
        <div *ngIf="item.isVisible" class="btn-handler">
            <button class="btn"
                    [ngClass]="{'activated' : item.isActive}"
                    (click)="item.clickFunction()"
                    container="body"
                    [tooltip]="item.caption | translate:lang"
                    [placement]="'right'">
                <span *ngIf="item.icon" class="icon_dist_top" [ngClass]="item.icon"></span>
                {{item.caption | translate:lang }}
                <span *ngIf="item.hasChildren" class="icon-right icon-collapse_rightpng"></span>
            </button>
        </div>
    </ng-template>
</div>
