<div class="btn-group-vertical" role="group">
    <ng-template ngFor let-item [ngForOf]="_buttonList">
        <div class="btn-handler">
            <button class="btn"
                    [ngClass]="{'activated' : item.isActive}"
                    (click)="item.clickFunction()"
                    container="body">
                <span *ngIf="item.icon" class="icon_dist_top" [ngClass]="item.icon"></span>
                {{item.caption}}
            </button>
        </div>
    </ng-template>
</div>
