<ul>
    <template ngFor let-leaf [ngForOf]="inputLeafList">
        <li class="node leaf" [ngClass]="{'collapsed': !leaf.isOpen, 'active': leaf.isActive}">
            <div class="leaf-titel" (click)="setLeafActive(leaf)">
                <label class="input-control checkbox small-check">
                    <input type="checkbox" (change)="onCheckboxValueChange($event, leaf)" (checked)="leaf.checkboxChecked">
                    <span class="check"></span>
                </label>
                <span>
          {{leaf.caption}}
        </span>
            </div>
            <span class="node-toggle" *ngIf="leaf.subLeafList" (click)="toggleOpen(leaf)"></span>
            <terra-checkbox-tree [inputLeafList]="leaf.subLeafList" [inputParentLeafList]="leafList"
                                 [inputCompleteLeafList]="inputCompleteLeafList" *ngIf="leaf.subLeafList"></terra-checkbox-tree>
        </li>
    </template>
</ul>
