.label
{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.15rem;
}

.label:empty
{
    display: none;
}

.btn .label
{
    position: relative;
    top: -1px;
}

a.label:focus, a.label:hover
{
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.label-pill
{
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.label-default
{
    background-color: #777777;
}

.label-default[href]:focus, .label-default[href]:hover
{
    background-color: #5E5E5E;
}

.label-primary
{
    background-color: #008EBD;
}

.label-primary[href]:focus, .label-primary[href]:hover
{
    background-color: #00688A;
}

.label-success
{
    background-color: #008EBD;
}

.label-success[href]:focus, .label-success[href]:hover
{
    background-color: #00688A;
}

.label-info
{
    background-color: #B0DAF2;
}

.label-info[href]:focus, .label-info[href]:hover
{
    background-color: #84C5EB;
}

.label-warning
{
    background-color: #FFCE36;
}

.label-warning[href]:focus, .label-warning[href]:hover
{
    background-color: #FFC203;
}

.label-danger
{
    background-color: #D4021D;
}

.label-danger[href]:focus, .label-danger[href]:hover
{
    background-color: #A10216;
}
