@import "./../../../button/terra-button.component.scss";

li
{
    display: block;
}

ul
{
    display: inline-block;
    border-left: 1px solid #BDBDBD;
    
    &:hover
    {
        border-left:  1px solid #676767;
    }
}

[class^="icon-"]
{
    position: absolute !important;
    right: 4px;
    top: 8px !important;
    height: calc(100% - 8px);
    padding-left: 10px;
}

button.btn
{
    margin-bottom: 1px;
    width: 130px;
    text-align: left;
}
