<li>
    <div class="btn-handler">
        <button class="btn"
                [ngClass]="{'activated' : inputNode.isActive}"
                (click)="onNodeClick($event)"
                container="body"
                [tooltip]="inputNode.name | translate:lang"
                [placement]="'right'"
                [disabled]="isLoading && inputNode.onLazyLoad">
            <span *ngIf="!inputNode.icon" class="icon_dist_top icon-placeholder"></span>
            <span *ngIf="inputNode.icon" class="icon_dist_top" [ngClass]="inputNode.icon"></span>
            {{inputNode.name | translate:lang }}
            <span *ngIf="inputNode.children && inputNode.children.length > 0"
                  class="icon-right icon-collapse_up"
                  [ngClass]="{'icon-collapse_up' : inputNode.isOpen, 'icon-collapse_down': !inputNode.isOpen}"
                  (click)="handleIconClick($event)"></span>
        </button>
    </div>
    
    <ul *ngIf="inputNode.children && inputNode.children.length > 0 && inputNode.isOpen">
        <ng-template ngFor let-node [ngForOf]="inputNode.children">
            <terra-node [inputNode]="node" [hidden]="node.isHidden" [inputConfig]="inputConfig"></terra-node>
        </ng-template>
    </ul>
</li>
