.terra-breadcrumbs
{
    list-style: none;
    //overflow: hidden;
    padding: 0;
    margin: 0;
    height: 33px;
    display: flex;
    
    li
    {
        float: left;
        cursor: pointer;
        div
        {
            span
            {
                font-weight: 500;
            }
            text-decoration: none;
            padding: 7px 10px;
            position: relative;
            display: block;
            float: left;
            color: var(--color-structure-9);
            white-space: nowrap;
            &:hover
            {
                color: var(--color-active);
                .caret
                {
                    &::before
                    {
                        background-color: var(--color-active);
                    }
                }
            }
            &.active
            {
                color: var(--color-active);
                cursor: default;
                .caret
                {
                    &::before
                    {
                        background-color: var(--color-active);
                    }
                }
            }
            &:not(.active):hover
            {
                color: var(--color-active);
                .caret
                {
                    &::before
                    {
                        background-color: var(--color-active);
                    }
                }
            }
            .caret
            {
                padding: 6px 12px 6px 6px;
                overflow: hidden;
                &::after
                {
                    position: absolute;
                    top: 11.5px;
                    right: 7.5px;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    vertical-align: middle;
                    content: "";
                    border: solid var(--color-structure-0);
                    border-width: 0 1px 1px 0;
                    padding: 2px;
                    transform: rotate(45deg);
                    overflow: hidden;
                }
                &::before
                {
                    content: "";
                    padding: 8px;
                    background-color: var(--color-structure-9);
                    border-radius: 8px;
                    position: absolute;
                }
                
                &:hover
                {
                    .context-menu
                    {
                        display: block;
                        visibility: visible;
                        opacity: 1;
                        transition: all var(--transition-sm);
                        transition-delay: var(--transition-delay-sm);
                    }
                }
            }
            .context-menu
            {
                top: 33px;
                li
                {
                    float: none;
                }
            }
        }
        &:last-child
        {
            .icon-next
            {
                display: none;
            }
        }
        &:first-child div
        {
            padding-left: 16px;
        }
        .icon-next
        {
            padding: 6px 0;
            &::before
            {
                display: inline-block;
                line-height: 32px;
                vertical-align: middle;
                font-size: var(--font-size-6);
                color: var(--color-structure-4);
            }
        }
    }
}

:host-context(.terra-navigator.has-search)
{
    .side-scroller.offset
    {
        height: calc(100% - 86px);
    }
}

.side-scroller
{
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    &.offset
    {
        height: var(--side-scroller-offset, calc(100% - 42px));
    }
}

.side-scroller > *
{
    display: inline-block;
}

.view
{
    font-size: var(--font-size-3);
    vertical-align: top;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    position: relative;
}

///// Fixed Columns for Terra-Navigator ///////
@media (min-width: 768px)
{
    .col-md-300px
    {
        float: left;
        width: 300px;
    }
    .col-md-300px-anti
    {
        float: left;
        width: calc(100% - 300px);
    }
}

terra-base-toolbar
{
    --toolbar-margin: 0 0 0 -3px;
    --toolbar-border-radius: none;
    --toolbar-background: var(--color-structure-0);
    --toolbar-border-bottom: 1px solid var(--color-structure-4);
}