<terra-button #optionsToggleButton
              [inputCaption]="inputCaption"
              [inputIcon]="inputIcon"
              [inputIsSmall]="inputIsSmall"
              [inputIsDisabled]="inputIsDisabled"
              [inputTooltipPlacement]="inputTooltipPlacement"
              [inputTooltipText]="inputTooltipText"
              [inputIsLink]="isLink"
              (outputClicked)="toggleOptions($event)">
    
    <!-- options dropdown -->
    <ul btn-outer *ngIf="optionsToggle" class="context-menu" [ngClass]="{'alignRight': alignRight, 'small': inputIsSmall}">
        <li *ngFor="let option of inputOptions">
            <a *ngIf="!option.isDivider"
               (click)="optionsClick(option)"
               [ngClass]="{'disabled': option.isDisabled, 'alignRight': alignRight}">
                <span *ngIf="option.icon" class="left-icon" [ngClass]="option.icon" [ngStyle]="{color: option.iconColor}"></span>
                {{ option.caption }}
            </a>
            <div *ngIf="option.isDivider" class="context-menu-divider"></div>
        </li>
    </ul>

</terra-button>
