@import "~bootstrap/scss/mixins";

// List of variables
$btn-font-weight: 700 !default;
$btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
$btn-active-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

button, html [type="button"], [type="reset"], [type="submit"]
{
    -webkit-appearance: none;
}

button:focus
{
    outline: 0 !important;
}

button.close
{
    padding: 5px 10px 0 5px;
}

.btn
{
    display: inline-block;
    font-weight: $btn-font-weight;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-border-radius);
    @include transition(all .2s ease-in-out);
    @include button-variant($gray-dark, $gray-light-3, transparent);
    
    &:hover
    {
        background: darken($gray-light-3, 10%);
    }
    &,
    &:active,
    &.active
    {
        &:focus,
        &.focus
        {
            @include tab-focus();
        }
        &:focus
        {
            background: $gray-light-3;
            &:hover
            {
                background: darken($gray-light-3, 10%);
            }
        }
    }
    @include hover-focus
    {
        text-decoration: none;
    }
    &.focus
    {
        text-decoration: none;
    }
    
    &:active,
    &.active
    {
        background-image: none;
        outline: 0;
        @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
    }
    
    &.disabled,
    &:disabled
    {
        @include box-shadow(none);
    }
    &.btn-primary,
    &.btn-brand-primary
    {
        background: $brand-primary;
        color: white;
        &:hover
        {
            background: $brand-primary-darker;
        }
    }
    &.btn-secondary,
    &.btn-brand-secondary
    {
        background: $brand-secondary;
        color: white;
        &:hover
        {
            background: darken($brand-secondary, 10%);
        }
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn
{
    pointer-events: none;
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link
{
    font-weight: normal;
    color: $link-color;
    border-radius: 0;
    
    &,
    &:active,
    &.active,
    &:disabled
    {
        background-color: transparent;
        @include box-shadow(none);
    }
    &,
    &:focus,
    &:active
    {
        border-color: transparent;
    }
    @include hover
    {
        border-color: transparent;
    }
    @include hover-focus
    {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
        background-color: transparent;
    }
    &:disabled
    {
        @include hover-focus
        {
            color: $btn-link-disabled-color;
            text-decoration: none;
        }
    }
}

//
// Button Sizes
//
.btn-lg
{
    // line-height: ensure even-numbered height of button next to large input
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-border-radius-lg);
}

.btn-sm
{
    // line-height: ensure proper height of button next to small input
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
}

//
// Block button
//
.btn-block
{
    display: block;
    width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block
{
    margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"]
{
    &.btn-block
    {
        width: 100%;
    }
}

//
// Button group + terra-button + Button group vertical
//
.btn-group > terra-button
{
    float: left;
    &:not(:first-child) .btn
    {
        border-left: $border-width solid $gray-light-4;
    }
    
    &:not(:first-child):not(:last-child) > .btn-handler > .btn
    {
        border-radius: 0;
    }
    
    &:first-child
    {
        margin-left: 0;
        
        &:not(:last-child) > .btn-handler > .btn
        {
            @include border-right-radius(0);
        }
    }
    
    &:last-child
    {
        margin-left: 0;
        
        &:not(:first-child) > .btn-handler > .btn
        {
            @include border-left-radius(0);
        }
    }
}

/* Button Group vertical */
.btn-group-vertical
{
    .btn
    {
        display: block;
        float: none;
        margin: 1px 0;
        max-width: 100%;
        width: 100%;
        + .btn
        {
            margin-top: 0;
        }
    }
    terra-button:first-child:not(:last-child) .btn
    {
        border-top-right-radius: 0.15rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    terra-button:last-child:not(:first-child) .btn
    {
        border-bottom-left-radius: 0.15rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    terra-button:not(:first-child):not(:last-child) .btn
    {
        border-radius: 0;
    }
}

.btn-handler
{
    display: inline-block;
}

/* Tooltips */
:host >>> .tooltip-inner
{
    font-size: 4px !important;
    color: #FFFFFF;
}