<div class="btn-handler"
     tooltip="{{inputTooltipText}}"
     placement="{{inputTooltipPlacement}}"
     [container]="'body'"
     [ngClass]="{'pull-xs-right': inputIsAlignRight,
                 'disabled': inputIsDisabled}">
    <button class="btn"
            [ngClass]="{'btn-brand-primary' : inputIsPrimary,
                      'btn-brand-secondary' : inputIsSecondary,
                      'btn-sm' : inputIsSmall,
                      'btn-lg' : inputIsLarge,
                      'activated' : inputIsActive}"
            [disabled]="inputIsDisabled"
            [hidden]="inputIsHidden"
            [type]="inputType"
            (click)="click()"
            container="body">
        <span *ngIf="inputIcon" class="icon_dist_top" [ngClass]="inputIcon"></span>
        {{inputCaption}}
    </button>
</div>
