@import "../buttons/button/terra-button.component";
@import "../forms/select-box/terra-select-box.component";
@import "../forms/input/terra-input.component";

.pager
{
    --input-text-align: center;
    --select-box-width: 72px;
    --select-box-wrapper-margin-bottom: 0;
    --input-wrapper-margin-bottom: 0;
    --input-width: 43px;
    --btn-sm-padding: 0 7px;
    --toolbar-border-radius: var(--border-radius);
    
    .form-group
    {
        margin: 0;
        float: left;
    }
    .pager-text
    {
        line-height: var(--height-sm);
        float: left;
        font-size: var(--font-size-2);
        font-weight: var(--font-weight-2);
        margin: 0 6px;
    }
    .terra-select-box
    {
        float: left;
        padding-right: 4px;
    }
    .btn-group
    {
        padding-right: 4px;
    }
}
