.hasSplitView .modal-body
{
    height: 525px;
}

terra-multi-split-view
{
    .view
    {
        .row
        {
            > div
            {
                padding-left: 0;
                
                &:last-child, &[class="col-xs-12"] //col-xs-12 is only class
                {
                    padding-right: 0;
                }
            }
        }
    }
}
