//List of variables
$zIndex-2: 200;
$zIndex-3: 300;

/*------------------------------------*\
    $FORMS
\*------------------------------------*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    red;
}

input, textarea, .form-control
{
    &.input_inset_inner
    {
        padding: 10px 0.65rem 0px;
    }
}

textarea
{
    -webkit-appearance: textarea;
    resize: none;
}

input:focus
{
    outline: none;
}

input[type=text], input[type=search], input[type=url], input[type=number]
{
    -webkit-appearance: none;
}

::-webkit-input-placeholder
{
    font-size: $font-size-base;
}

:-moz-placeholder
{ /* Firefox 18- */
    font-size: $font-size-base;
}

::-moz-placeholder
{ /* Firefox 19+ */
    font-size: $font-size-base;
}

:-ms-input-placeholder
{
    font-size: $font-size-base;
}

input[type="search"]
{
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
{
    -webkit-appearance: none;
}

.inline-form
{
    fieldset, .inline-container
    {
        position: relative;
    }
    
    input[type=submit], button, .btn
    {
        font-size: $font-size-small-2;
        padding: 0.65rem 1.3rem;
        background: $gray-dark;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: auto;
        
        &:hover, &:focus
        {
            background: $gray;
            color: $white;
            outline: none;
        }
    }
}

/* Validation */
input.error
{
    border-color: $error;
}

input.valid
{
    border-color: $valid;
}

label.is-error
{
    color: $error;
}

label.is-valid
{
    color: $valid;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

/* Search Form */
.search-field
{
    padding-right: 3em;
}

.inline-form .search-submit
{
    background: none;
    padding: 0.78em 1em;
    border: 0;
    border-left: 1px solid $gray;
    color: $gray;
}

$color: $gray-dark;
$background: white;
$active-background: white;
$border-color: $gray-light-2;
$border-active: $gray-light;
$border-width: 1px;

.input-unit-v1
{
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    height: $terra-btn-md-height;
    line-height: 0px;
    
    &.error
    {
        z-index: $zIndex-3;
        border-color: $brand-danger;
        input
        {
            color: $brand-danger;
        }
        label
        {
            color: $brand-danger;
        }
        i
        {
            background-color: $brand-danger;
            color: white;
        }
    }
    
    &.success
    {
        z-index: $zIndex-2;
        border-color: $brand-success;
        input
        {
            color: $brand-success;
        }
        label
        {
            color: $brand-success;
        }
        i
        {
            background-color: $brand-success;
            color: white;
        }
    }
    
    &.disabled
    {
        opacity: .65;
    }
}

input[type],
input:not([type="checkbox"]),
input:not([type="radio"]),
textarea
{
    
    color: $color;
    background-color: $background;
    border: none;
    box-shadow: none; //inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
    line-height: 1.2em !important;
    padding: 16px 12px 2px 12px;
    width: 100%;
    font-size: 1em;
    text-align: left;
    outline: none !important;
    transition: all .2s;
    height: 100%;
    
    &:focus,
    &.filled
    {
        color: $color;
        background-color: $active-background;
        border-color: $border-active;
    }
    
    &.disabled,
    &:disabled
    {
        background-color: $gray-light-4;
        border-color: $gray-light-3;
        cursor: not-allowed;
        
        & ~ label
        {
            color: $gray-light-3;
            cursor: not-allowed;
        }
    }
    
    & + .symbol
    {
        color: $gray;
        position: absolute;
        top: $border-width;
        right: $border-width;
        transition: all .2s;
    }
    
    &.disabled,
    &:disabled
    {
        & + .symbol
        {
            color: $gray;
        }
        
        & + label
        {
            color: $gray-light !important;
        }
    }
    .price-input
    {
        text-align: right;
    }
}

label
{
    font-size: .8em;
    line-height: 1em !important;
    text-transform: uppercase;
    letter-spacing: .1px;
    font-weight: 600;
    
    width: 100%;
    padding: 2px 5px 0;
    margin-bottom: 0;
    color: $gray-light;
    
    position: absolute;
    top: 0;
    left: 0;
    transition: color .15s;
    cursor: pointer;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-unit-v1.multiple
{
    display: flex;
    flex-flow: row nowrap;
    
    & > input
    {
        width: 70%;
    }
    
    & > select
    {
        width: 30%;
        border-left: $border-width solid $border-color;
    }
}

/*------------------------------------*\
    $INPUT GROUP
\*------------------------------------*/

/deep/
{
    .input-group-v
    {
        margin-bottom: 12px;
        .input-unit-v1,
        .select-box-wrapper
        {
            margin-top: 3px;
            margin-bottom: 0px;
        }
    }
}
