<div class="tag"
     [ngStyle]="{ 'background-color' : getBgColor() }"
     [ngClass]="inputCustomClass">
    <span class="tag-icon"
          *ngIf="inputIsTaggable"
          [ngStyle]="{ 'color': getColor() }"
          [ngClass]="{'isTagged': inputIsTagged, 'icon-ticket_prio1': inputIsTagged, 'icon-ticket_prio8': !inputIsTagged}">
    </span>
    <span class="tag-text"
          [ngStyle]="{ 'color': getColor() }">
            {{getName()}}
    </span>
    <span *ngIf="isClosable"
          class="icon icon-close"
          (click)="close()">
    </span>
</div>
