.tag
{
    background-color: $grey-9;
    border: none;
    -moz-border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    border-radius: $border-radius;
    display: block;
    padding: 4px;
    margin-top: var(--tag-top-margin, 7px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    span
    {
        font-size: $font-size-1;
        font-weight: $font-weight-1;
        color: $white;
        
        &.tag-icon
        {
            margin-right: -4px;
        }
        &.tag-text
        {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

:host-context(terra-tag:not(:last-child))
{
    .tag
    {
        margin-right: 2px;
    }
}

:host-context(terra-tag:not(:only-child))
{
    max-width: 50%;
}

// TODO @pweyrich & @zakpur: move to terra-data-table.component.scss
:host-context(terra-data-table)
{
    --tag-top-margin: 0;
}

:host-context(nav .nav.navbar-nav .dropdown .dropdown-menu .dropdown-item-container .dropdown-item)
{
    .tag
    {
        margin-left: 10px;
        margin-top: 0;
        background-color: $alert-red;
        padding: 3px;
    }
}
