.tag
{
    background-color: var(--tag-background-color, var(--color-structure-9));
    padding: var(--tag-padding, var(--space-sm));
    margin-top: var(--tag-margin-top, 7px);
    margin-left: var(--tag-margin-left);
    border: none;
    -moz-border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    span
    {
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-1);
        color: var(--tag-span-color, var(--color-structure-0));
        
        &.tag-icon
        {
            margin-right: -4px;
        }
        &.tag-text
        {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.icon-close
        {
            cursor: pointer;
        }
    }
}

:host-context(terra-tag:not(:last-child))
{
    .tag
    {
        margin-right: 2px;
    }
}

:host-context(terra-tag:not(:only-child))
{
    max-width: 50%;
}

// TODO @pweyrich & @zakpur: move to terra-data-table.component.scss
:host-context(terra-data-table)
{
    --tag-top-margin: 0;
}
