<terra-button inputCaption="Open overlay with no buttons"
              (outputClicked)="openOverlayWithoutButtons()">
</terra-button>
<terra-button inputCaption="Open overlay with primary button"
              (outputClicked)="openOverlayWithPrimaryButton()">
</terra-button>
<terra-button inputCaption="Open overlay with secondary button"
              (outputClicked)="openOverlayWithSecondaryButton()">
</terra-button>
<terra-button inputCaption="Open static overlay"
              (outputClicked)="openOverlayStatic()">
</terra-button>

<terra-overlay #viewChildOverlayWithoutButtons
               inputOverlayTitle="Showcase overlay with no buttons"
               [inputIsSmall]="true">
    {{_exampleText}}
</terra-overlay>

<terra-overlay #viewChildOverlayWithPrimaryButton
               inputOverlayTitle="Showcase overlay with primary button (large)"
               [inputIsLarge]="true"
               [inputPrimaryButtonInterface]="primaryButtonInterface">
    {{_exampleText}}
</terra-overlay>

<terra-overlay #viewChildOverlayWithSecondaryButton
               inputOverlayTitle="Showcase overlay with secondary button"
               [inputIsSmall]="true"
               [inputSecondaryButtonInterface]="secondaryButtonInterface">
    {{_exampleText}}
</terra-overlay>

<terra-overlay #viewChildOverlayStatic
               inputOverlayTitle="Showcase static overlay"
               [inputPrimaryButtonInterface]="staticPrimaryButtonInterface"
               [inputSecondaryButtonInterface]="staticSecondaryButtonInterface"
               [inputIsStatic]="true">
    {{_exampleText}}
</terra-overlay>
