/deep/
{
    terra-navigator .divider
    {
        display: none !important;
    }
    
    terra-navigator .hasDivider
    {
        padding: 0px !important;
    }

    terra-navigator .btn-group-vertical
    {
        margin: 0px 1px 0px 1px !important;
    }

}
