// customize split view
:host /deep/ .side-scroller,
:host /deep/ .content
{
    width: 16.7%;
}

:host /deep/ .select-box-wrapper
{
    margin: 4px;
}

:host /deep/ .input-unit-v1
{
    margin-bottom: 0px !important
}
