<div class="input-wrapper"
     placement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     [isDisabled]="!inputTooltipText"
     [ngClass]="{'error': !isValid, 'disabled': isDisabled}"
     container="body">
    
    <input type="text"
           [(ngModel)]="color"
           pattern="{{regex}}"
           (blur)="onBlur()"
           autocomplete="off"
           [disabled]="isDisabled"
           [required]="inputIsRequired"
           placeholder="{{inputPlaceholder}}">
    <label>{{inputName}}
        <span *ngIf="inputIsRequired">*</span>

    </label>
    <input type="color"
           [(ngModel)]="color"
           autocomplete="off"
           pattern="{{regex}}"
           [disabled]="isDisabled"
           [required]="inputIsRequired">
    <div class="color-picker" [style.background-color]="value" [class.text-invert]="isDark()">
    </div>
</div>
