@import '../../../../../app/assets/styles/_variables.scss';

.date-picker
{
    .mydp
    {
        border: none;
        overflow: visible;
        position: inherit;
        height: 100%;
        [class*=" icon-"]
        {
            font-family: mydatepicker !important;
        }
        .icon-cross,
        .icon-calendar
        {
            font-size: 20px;
        }
        .selectiongroup
        {
            display: block;
            overflow: visible;
            position: inherit;
            height: 100%;
            
            input
            {
                color: var(--color-structure-10);
                border-bottom: 1px solid var(--border-color);
                border-radius: var(--border-radius) var(--border-radius) 0 0;
                box-shadow: none;
                padding: var(--input-padding, var(--input-padding-default));
                width: 100%;
                font-family: var(--font-family);
                font-size: var(--font-size-3) !important;
                font-weight: var(--font-weight-2);
                text-align: var(--input-text-align, left);
                outline: none !important;
                transition: all var(--transition-sm);
                height: 100% !important;
                line-height: 100%;
                overflow: visible;
                position: inherit;
                display: inline-block;
                
                &:active,
                &:focus
                {
                    border-bottom: var(--input-wrapper-border-hover, 2px solid var(--color-active));
                }
            }
            .selbtngroup
            {
                width: 54px;
                display: inline-block;
                text-align: right;
                vertical-align: bottom;
                padding-right: 4px;
                border-radius: var(--border-radius);
                position: absolute;
                right: 0;
                top: 0;
                
                .btnclear
                {
                    background-color: transparent;
                    color: var(--color-alert);
                    width: 22px;
                    border: 0;
                    //css for clear selected myDateModel button
                    .icon-cross
                    {
                        line-height: 1.5em !important;
                        
                        &:before
                        {
                            content: '\e910';
                        }
                    }
                }
                .btnpicker
                {
                    background-color: transparent;
                    width: 24px;
                    border: 0;
                    //css for myDateModel select button
                    .icon-calendar
                    {
                        line-height: 1.5em !important;
                        
                        &:before
                        {
                            content: '\e925';
                        }
                    }
                }
            }
        }
        .selector
        {
            width: auto !important;
            border: 1px solid var(--color-structure-7);
            
            &:before
            {
                border-bottom-color: var(--color-structure-7);
            }
            &:focus
            {
                border-color: var(--color-structure-7);
                
                &:before
                {
                    border-bottom-color: var(--color-structure-7);
                }
            }
            .header
            {
                .icon-left
                {
                    &:focus
                    {
                        color: var(--color-structure-13);
                    }
                    &:hover
                    {
                        color: var(--color-active);
                    }
                    &:before
                    {
                        content: '\e912';
                    }
                }
                .icon-right
                {
                    &:focus
                    {
                        color: var(--color-structure-13);
                    }
                    &:hover
                    {
                        color: var(--color-active);
                    }
                    &:before
                    {
                        content: '\e913';
                    }
                }
                .monthlabel
                {
                    &:focus
                    {
                        color: var(--color-structure-13);
                    }
                    &:hover
                    {
                        color: var(--color-active);
                    }
                }
            }
        }
    }
}

div.disabled .selectiongroup
{
    background-color: var(--color-structure-2);
    
    input.selection
    {
        opacity: unset !important;
        background-color: var(--color-structure-2);
    }
    
    .selbtngroup
    {
        opacity: unset !important;
        background-color: var(--color-structure-2);
    }
    
}