<div class="input-wrapper"
     [ngClass]="{'error': !inputIsValid, 'disabled': inputIsDisabled}">
    
    <my-date-picker #viewChildMyDatePicker
                    id="{{id}}"
                    class="date-picker"
                    [(ngModel)]="value"
                    (ngModelChange)="onChangeCallback($event)"
                    [locale]="currentLocale"
                    [options]="datePickerOptions">
    </my-date-picker>
    <label terraLabelTooltip
           [nameOfInput]="inputName"
           [(tooltipText)]="helperTooltip"
           [(tooltipDisabled)]="isHelperTooltipDisabled"
           [placement]="'top'"
           [tooltip]="helperTooltip"
           [isDisabled]="isHelperTooltipDisabled"
           [container]="'body'"
           htmlFor="{{id}}">{{inputName}}
        <span *ngIf="inputIsRequired">*</span>
    </label>
</div>
