<div *ngIf="!inputView.hidden" class="view {{ inputView.defaultWidth }}"
     (click)="onDetailClick(inputView)">
    <terra-dynamic-module-loader [inputModule]="inputView.module"
                                 [inputParameter]="inputView.parameter"
                                 [inputMainComponentName]="inputView.mainComponentName">
    </terra-dynamic-module-loader>
    <div class="divider" *ngIf="!inputLast"></div>
</div>
<ng-template ngFor let-next [ngForOf]="inputView.nextViews" let-last="last" let-first="first" let-i="index">
    <terra-split-view-detail [inputSplitViewConfig]="inputSplitViewConfig"
                             [inputFirst]="first"
                             [inputIndex]="i"
                             [inputView]="next"
                             [inputLast]="last"
                             class="{{ next.mainComponentName + '_' + next.instanceKey + '_' + i }}">
        
    </terra-split-view-detail>
</ng-template>