<div class="flex-item is_drop_target" [hidden]="!inputIsDropTarget">
    <span class="drop_target_title">{{inputTitle}}</span>
</div>
<div [hidden]="inputIsDropTarget" class="flex-item is_in_inbox" [ngClass]="{'is_selected': inputIsSelected, 'is_dragging': inputIsDragging}">
    <img *ngIf="inputImagePath && inputImagePath.length > 0" class="flex-image" [src]="inputImagePath">
    <h1 class="flex-title">
        {{inputTitle}}
    </h1>
    <div class='flex-sub_title' *ngIf="inputSubTitle && inputSubTitle.length > 0">
        {{inputSubTitle}}
    </div>
    <div class="flex-text">
        {{inputText}}
    </div>
    <div class="flex-align-bottom" (click)="stopPropagation($event)">
        <hr *ngIf="inputButtonList && inputButtonList.length > 0">
        <template ngFor let-button [ngForOf]="inputButtonList">
            <terra-button [inputCaption]="button.caption"
                          [inputTooltipText]="button.tooltipText"
                          (outputClicked)="button.clickFunction()"
                          [inputIcon]="button.icon"></terra-button>
        </template>
    </div>
</div>