<div class="file-select">
    <div class="file-preview" (click)="onPreviewClicked()" *ngIf="inputShowPreview">
        <span *ngIf="isWebImage( value )" [style.background-image]="'url(' + value + ')'"></span>
        <span *ngIf="!isWebImage( value )">
                    <span [class]="getIconClass(value)">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                    </span>
                </span>
    </div>
    <div class="input-group">
        <div class="input-group-text">
            <div class="input-unit-v1"
                 placement="{{inputTooltipPlacement}}"
                 tooltip="{{inputTooltipText}}"
                 [isDisabled]="!inputTooltipText"
                 [ngClass]="{'error': !isValid, 'disabled': isDisabled}"
                 container="body">
                <label htmlFor="{{_id}}">{{inputName}}
                    <span *ngIf="inputIsRequired">*</span>
                </label>
                <input #valueInput
                       id="{{_id}}"
                       type="text"
                       [(ngModel)]="value"
                       name="{{inputName}}"
                       (blur)="onBlur()"
                       autocomplete="off"
                       [disabled]="isDisabled"
                       pattern="{{regex}}"
                       readonly="true"
                       placeholder="{{inputPlaceholder}}"
                       required
                       (click)="valueInput.select()">
            </div>
        </div>
        <terra-button class="input-group-btn"
                      [inputIcon]="'icon-more'"
                      [inputTooltipText]=" _translationPrefix + '.chooseFile' | translate:lang"
                      [inputTooltipPlacement]="'left'"
                      (outputClicked)="showFileBrowser()">
        </terra-button>
    </div>
    
    <terra-overlay #overlay
                   [inputPrimaryButtonInterface]="primaryOverlayButton"
                   [inputSecondaryButtonInterface]="secondaryOverlayButton"
                   [inputIsExtraLarge]="true"
                   (outputOnShow)="fileBrowser.selectUrl(value)"
                   (outputOnHide)="_selectedObjectUrl = value" class="hasSplitView">
        <terra-file-browser #fileBrowser
                            [inputAllowedExtensions]="inputAllowedExtensions"
                            [inputAllowFolders]="inputAllowFolders"
                            [inputStorageServices]="inputStorageServices"
                            (outputSelectedChange)="onSelectedObjectChange($event)">
        </terra-file-browser>
    </terra-overlay>
    
    <terra-overlay #previewOverlay [inputOverlayTitle]="getFilename(value)" class="preview-overlay">
        <span *ngIf="isWebImage(value)" [style.background-image]="'url(' + value + ')'"></span>
    </terra-overlay>
</div>
