<div *ngIf="inputStorageObject">
    <terra-base-toolbar *ngIf="_canHandleMetadata">
        <div class="btn-group" role="group">
            <terra-button inputIcon="icon-save"
                          [inputTooltipText]="translationPrefix + '.saveMetadata' | translate:lang"
                          (outputClicked)="updateMetadata()">
            </terra-button>
        </div>
    </terra-base-toolbar>
    
    <terra-portlet>
        <div class="image-preview">
            <div class="preview-container">
                <div [style.background-image]="'url(' + inputStorageObject.previewUrl + ')'"></div>
            </div>
            
            <div *ngIf="_canHandleMetadata">
                <terra-text-input [inputName]="translationPrefix + '.imageSize' | translate:lang"
                                  [inputIsReadonly]="true"
                                  [ngModel]="metadata.width ? (metadata.width + ' x ' + metadata.height + ' px') : '-'"></terra-text-input>
                
                <terra-text-input [inputName]="translationPrefix + '.altText' | translate:lang"
                                  [(ngModel)]="metadata.altText"></terra-text-input>
            </div>
        </div>
        
        <div class="loader" *ngIf="isLoading">
            <div class="icon-loading"></div>
        </div>
    </terra-portlet>
</div>
