//GRID SYSTEM//
///////////////
//xs: <  576px
//sm: >= 576px
//md: >= 768px
//lg: >= 992px
//xl: >= 1200px

///////////////// CONTAINER /////////////////

.container
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container::after
{
    content: "";
    display: table;
    clear: both;
}

@media (min-width: 544px) {
    .container
    {
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .container
    {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container
    {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {
    .container
    {
        max-width: 1140px;
    }
}

.container-fluid
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid::after
{
    content: "";
    display: table;
    clear: both;
}

.row
{
    margin-left: -15px;
    margin-right: -15px;
}

.row::after
{
    content: "";
    display: table;
    clear: both;
}

///////////////// COLUMNS /////////////////

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12,
.col-xs-1-half, .col-xs-2-half, .col-xs-3-half, .col-xs-4-half, .col-xs-5-half, .col-xs-6-half, .col-xs-7-half, .col-xs-8-half, .col-xs-9-half, .col-xs-10-half, .col-xs-11-half,
.col-sm-1-half, .col-sm-2-half, .col-sm-3-half, .col-sm-4-half, .col-sm-5-half, .col-sm-6-half, .col-sm-7-half, .col-sm-8-half, .col-sm-9-half, .col-sm-10-half, .col-sm-11-half,
.col-md-1-half, .col-md-2-half, .col-md-3-half, .col-md-4-half, .col-md-5-half, .col-md-6-half, .col-md-7-half, .col-md-8-half, .col-md-9-half, .col-md-10-half, .col-md-11-half,
.col-lg-1-half, .col-lg-2-half, .col-lg-3-half, .col-lg-4-half, .col-lg-5-half, .col-lg-6-half, .col-lg-7-half, .col-lg-8-half, .col-lg-9-half, .col-lg-10-half, .col-lg-11-half,
.col-xl-1-half, .col-xl-2-half, .col-xl-3-half, .col-xl-4-half, .col-xl-5-half, .col-xl-6-half, .col-xl-7-half, .col-xl-8-half, .col-xl-9-half, .col-xl-10-half, .col-xl-11-half
{
    position: relative;
    min-height: 1px;
    padding-right: 4px;
    padding-left: 4px;
    transition: all 0.3s ease;
}

////////// Half Columns ////////////

.col-xs-1-half
{
    float: left;
    width: 12.5%;
}

.col-xs-2-half
{
    float: left;
    width: 20.833333%;
}

.col-xs-3-half
{
    float: left;
    width: 29.166666%;
}

.col-xs-4-half
{
    float: left;
    width: 37.5%;
}

.col-xs-5-half
{
    float: left;
    width: 45.833333%;
}

.col-xs-6-half
{
    float: left;
    width: 54.166666%;
}

.col-xs-7-half
{
    float: left;
    width: 62.5%;
}

.col-xs-8-half
{
    float: left;
    width: 70.833333%;
}

.col-xs-9-half
{
    float: left;
    width: 79.166666%;
}

.col-xs-10-half
{
    float: left;
    width: 87.5%;
}

.col-xs-11-half
{
    float: left;
    width: 95.833333%;
}

@media (min-width: 544px) {
    .col-sm-1-half
    {
        float: left;
        width: 12.5%;
    }
    
    .col-sm-2-half
    {
        float: left;
        width: 20.833333%;
    }
    
    .col-sm-3-half
    {
        float: left;
        width: 29.166666%;
    }
    
    .col-sm-4-half
    {
        float: left;
        width: 37.5%;
    }
    
    .col-sm-5-half
    {
        float: left;
        width: 45.833333%;
    }
    
    .col-sm-6-half
    {
        float: left;
        width: 54.166666%;
    }
    
    .col-sm-7-half
    {
        float: left;
        width: 62.5%;
    }
    
    .col-sm-8-half
    {
        float: left;
        width: 70.833333%;
    }
    
    .col-sm-9-half
    {
        float: left;
        width: 79.166666%;
    }
    
    .col-sm-10-half
    {
        float: left;
        width: 87.5%;
    }
    
    .col-sm-11-half
    {
        float: left;
        width: 95.833333%;
    }
}

@media (min-width: 768px) {
    .col-md-1-half
    {
        float: left;
        width: 12.5%;
    }
    
    .col-md-2-half
    {
        float: left;
        width: 20.833333%;
    }
    
    .col-md-3-half
    {
        float: left;
        width: 29.166666%;
    }
    
    .col-md-4-half
    {
        float: left;
        width: 37.5%;
    }
    
    .col-md-5-half
    {
        float: left;
        width: 45.833333%;
    }
    
    .col-md-6-half
    {
        float: left;
        width: 54.166666%;
    }
    
    .col-md-7-half
    {
        float: left;
        width: 62.5%;
    }
    
    .col-md-8-half
    {
        float: left;
        width: 70.833333%;
    }
    
    .col-md-9-half
    {
        float: left;
        width: 79.166666%;
    }
    
    .col-md-10-half
    {
        float: left;
        width: 87.5%;
    }
    
    .col-md-11-half
    {
        float: left;
        width: 95.833333%;
    }
}

@media (min-width: 992px) {
    .col-lg-1-half
    {
        float: left;
        width: 12.5%;
    }
    
    .col-lg-2-half
    {
        float: left;
        width: 20.833333%;
    }
    
    .col-lg-3-half
    {
        float: left;
        width: 29.166666%;
    }
    
    .col-lg-4-half
    {
        float: left;
        width: 37.5%;
    }
    
    .col-lg-5-half
    {
        float: left;
        width: 45.833333%;
    }
    
    .col-lg-6-half
    {
        float: left;
        width: 54.166666%;
    }
    
    .col-lg-7-half
    {
        float: left;
        width: 62.5%;
    }
    
    .col-lg-8-half
    {
        float: left;
        width: 70.833333%;
    }
    
    .col-lg-9-half
    {
        float: left;
        width: 79.166666%;
    }
    
    .col-lg-10-half
    {
        float: left;
        width: 87.5%;
    }
    
    .col-lg-11-half
    {
        float: left;
        width: 95.833333%;
    }
}

@media (min-width: 1200px) {
    .col-xl-1-half
    {
        float: left;
        width: 12.5%;
    }
    
    .col-xl-2-half
    {
        float: left;
        width: 20.833333%;
    }
    
    .col-xl-3-half
    {
        float: left;
        width: 29.166666%;
    }
    
    .col-xl-4-half
    {
        float: left;
        width: 37.5%;
    }
    
    .col-xl-5-half
    {
        float: left;
        width: 45.833333%;
    }
    
    .col-xl-6-half
    {
        float: left;
        width: 54.166666%;
    }
    
    .col-xl-7-half
    {
        float: left;
        width: 62.5%;
    }
    
    .col-xl-8-half
    {
        float: left;
        width: 70.833333%;
    }
    
    .col-xl-9-half
    {
        float: left;
        width: 79.166666%;
    }
    
    .col-xl-10-half
    {
        float: left;
        width: 87.5%;
    }
    
    .col-xl-11-half
    {
        float: left;
        width: 95.833333%;
    }
}
