body {
    font-family: "plenty", Helvetica, Arial, sans-serif !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    color: #333333 !important;
    background-color: #fff !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    direction: ltr !important;
}

.loading {
    opacity: 1;
    transition: opacity .8s ease-in-out;
    position: fixed;
    top: calc(50% - 35px);
    width: 100%;
    z-index: 100;
}

.loading > div {
    color: #d4021d;
    transform: translate(0, -50%);
}

.loading .icon-referrer_backend:before {
    font-size: 70px;
    position: relative;
}

.loading .loading-backend {
    font-size: 48px;
    text-align: center;
}

.loading .loading-text {
    font-size: 35px;
    color: #000;
    text-align: center;
}

.loading .copyright {
    vertical-align: super;
    font-size: 18px;
}

.dot-one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.dot-two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

.dot-three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}