@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import './app/assets/styles/_variables.scss';
@import './app/assets/themes/theme-core.scss';
@import './app/assets/themes/theme-compact.scss';
@import './app/assets/themes/theme-dark.scss';
@import './app/assets/themes/theme-light.scss';

*
{
    &:focus
    {
        outline: none;
    }
}

body
{
    font-family: var(--font-family);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
    line-height: 1.5 !important;
    color: var(--color-structure-12);
    background-color: var(--color-structure-2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border: 0;
    padding: 0;
    direction: ltr;
}

.tooltip
{
    font-size: var(--font-size-2);
    opacity: 1 !important;
    
    &.top .tooltip-arrow
    {
        border-top-color: var(--tooltip-arrow-border-color, var(--color-structure-12));
    }
    &.left .tooltip-arrow
    {
        border-left-color: var(--tooltip-arrow-border-color, var(--color-structure-12));
    }
    &.bottom .tooltip-arrow
    {
        border-bottom-color: var(--tooltip-arrow-border-color, var(--color-structure-12));
    }
    &.right .tooltip-arrow
    {
        border-right-color: var(--tooltip-arrow-border-color, var(--color-structure-12));
    }
    
    .tooltip-inner
    {
        background-color: var(--tooltip-background-color, var(--color-structure-12));
        color: var(--tooltip-color, var(--color-structure-12));
        box-shadow: var(--box-shadow);
        @include font-rendering;
    }
}

.terra-view
{
    height: 100%;
}

///////////////// COLUMNS /////////////////

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12
{
    padding-right: var(--space-xs);
    padding-left: var(--space-xs);
    transition: all var(--transition-md);
}

h1
{
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-3);
}

h2
{
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);
}

h3
{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);
}

h4
{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);
}

h5
{
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-3);
}

p, span, a
{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
}

/// context-menu ////

.context-menu
{
    font-family: var(--font-family);
    font-weight: var(--font-weight-1);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-menu);
    transition-delay: var(--transition-menu-delay);
    padding: var(--space-sm) 0;
    background-color: var(--context-menu-background-color, var(--color-structure-11));
    border-radius: var(--border-radius);
    
    right: 0;
    display: block;
    list-style-type: none;
    margin: 0;
    text-align: left;
    z-index: var(--zIndex-9);
    box-shadow: var(--box-shadow);
    
    li
    {
        color: var(--context-menu-color, var(--color-structure-0)) !important;
        
        &:hover
        {
            background-color: var(--color-active);
            color: var(--color-structure-0) !important;
        }
    
        a
        {
            cursor: pointer;
            padding: 4px 18px 4px 10px;
            display: list-item;
            width: 100%;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: var(--context-menu-a-font-size, var(--font-size-1));
            line-height: var(--font-size-5);
            font-weight: var(--font-weight-1);
            color: inherit;
            @include font-rendering;
        
        
            .left-icon
            {
                padding-right: 2px;
                &:before
                {
                    vertical-align: middle;
                }
            }
            .right-icon
            {
                position: absolute;
                right: 4px;
                line-height: var(--font-size-5);
            
                &:hover
                {
                    color: var(--color-active);
                    opacity: 1;
                }
            }
            &.disabled
            {
                color: var(--color-structure-6) !important;
                &:hover
                {
                    background-color: inherit;
                    cursor: not-allowed;
                }
            }
        }
    }

}

.tab-wrapper
{
    .nav-item:first-child
    {
        .context-menu
        {
            left: 0;
            right: initial;
        }
    }
}

.rating-positive
{
    color: var(--color-accent);
}

.rating-negative
{
    color: var(--color-alert);
}

terra-alert-panel, *
{
    .alert
    {
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        
        &.alert-danger
        {
            background-color: var(--color-alert);
            border: 2px solid var(--color-alert);
            color: var(--color-structure-0);
            &::before
            {
                color: var(--color-structure-0);
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.alert-success
        {
            background-color: var(--color-add);
            border: 2px solid var(--color-add);
            color: var(--color-structure-0);
            &::before
            {
                color: var(--color-structure-0);
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.alert-warning
        {
            background-color: var(--color-accent);
            border: 2px solid var(--color-accent);
            color: var(--color-structure-11);
            &::before
            {
                color: var(--color-structure-11);
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.alert-info
        {
            background-color: var(--color-active);
            border: 2px solid var(--color-active);
            color: var(--color-structure-0);
            &::before
            {
                color: var(--color-structure-0);
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        button
        {
            &.close
            {
                text-shadow: none;
                
                &:hover,
                &:focus
                {
                    color: var(--color-structur-0);
                }
            }
        }
    }
}
