body
{
    font-family: "plenty", Helvetica, Arial, sans-serif !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    color: #333333 !important;
    background-color: #FFFFFF !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    direction: ltr !important;
}

.tooltip
{
    font-size: .75rem;
}

.tooltip.top .tooltip-arrow
{
    border-top-color: #1B6EAE;
}

.tooltip.left .tooltip-arrow
{
    border-left-color: #1B6EAE;
}

.tooltip.bottom .tooltip-arrow
{
    border-bottom-color: #1B6EAE;
}

.tooltip.right .tooltip-arrow
{
    border-right-color: #1B6EAE;
}

.tooltip-inner
{
    background-color: #1B6EAE;
}
