@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import './app/assets/styles/_variables.scss';

body
{
    font-family: $font-face, sans-serif !important;
    font-size: $font-size-3 !important;
    font-weight: $font-weight-1 !important;
    line-height: 1.5 !important;
    color: #333333 !important;
    background-color: $grey-2 !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    direction: ltr !important;
}

.tooltip
{
    font-size: $font-size-2;
    opacity: 1 !important;

    &.top .tooltip-arrow
    {
        border-top-color: $terra-tooltip-color;
    }
    &.left .tooltip-arrow
    {
        border-left-color: $terra-tooltip-color;
    }
    &.bottom .tooltip-arrow
    {
        border-bottom-color: $terra-tooltip-color;
    }
    &.right .tooltip-arrow
    {
        border-right-color: $terra-tooltip-color;
    }
    .tooltip-inner
    {
        background-color: $terra-tooltip-color;
    }
}

.terra-view
{
    height: 100%;
}

///////////////// COLUMNS /////////////////

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12
{
    padding-right: 4px;
    padding-left: 4px;
    transition: all 0.3s ease;
}

h1
{
    font-size: $font-size-7;
    font-weight: $font-bold;
}

h2
{
    font-size: $font-size-6;
    font-weight: $font-bold;
}

h3
{
    font-size: $font-size-5;
    font-weight: $font-bold;
}

h4
{
    font-size: $font-size-5;
    font-weight: $font-weight-1;
}

h5
{
    font-size: $font-size-4;
    font-weight: $font-bold;
}

p, span, a
{
    font-size: $font-size-3;
    font-weight: $font-weight-1;
}

/// context-menu ////

.context-menu
{
    font-family: $font-face, sans-serif;
    font-weight: $font-weight-1;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    transition-delay: 0.2s;
    padding: 5px 0px;
    background-color: $grey-9;
    border-radius: 5px;
    
    top: 29px;
    right: 0px;
    display: block;
    list-style-type: none;
    margin: 0;
    text-align: left;
    z-index: $zindex-context-menu;
    
    a
    {
        cursor: pointer;
        padding: 4px 18px 4px 10px;
        display: list-item;
        width: 100%;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: var(--context-menu-a-font-size, $font-size-1);
        line-height: $font-size-5;
        font-weight: $font-weight-1;
        color: $white !important;
        -webkit-font-smoothing: initial;
        
        &:hover
        {
            background-color: $grey-11;
        }
        
        .left-icon
        {
            padding-right: 2px;
            &:before
            {
                vertical-align: middle;
            }
        }
        .right-icon
        {
            position: absolute;
            right: 4px;
            line-height: $font-size-5;
            
            &:hover
            {
                color: $blue;
                opacity: 1;
            }
        }
        &.disabled
        {
            color: $grey-6 !important;
            &:hover
            {
                background-color: inherit;
                cursor: not-allowed;
            }
        }
    }
}

.tab-wrapper
{
    .nav-item:first-child
    {
        .context-menu
        {
            left: 0px;
            right: initial;
        }
    }
}

.rating-positive {
    color: $yellow;
}

.rating-negative {
    color: $alert-red;
}