/* You can add global styles to this file, and also import other style files */
@font-face
{
    font-family: 'plentyicons';
    src: url('/assets/fonts/plentyicons.eot?k9uqu9');
    src: url('/assets/fonts/plentyicons.eot?k9uqu9#iefix') format('embedded-opentype'),
    url('/assets/fonts/plentyicons.ttf?k9uqu9') format('truetype'),
    url('/assets/fonts/plentyicons.woff?k9uqu9') format('woff'),
    url('/assets/fonts/plentyicons.svg?k9uqu9#plentyicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"]
{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'plentyicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import "~bootstrap/scss/bootstrap";
@import "./lib/styles/styles";
@import "./lib/styles/icons";
@import "./lib/styles/variables";
@import "./lib/styles/themes/theme-loader";
