.tile-view
{
    .title-wrapper
    {
        margin: 5px .3em .3em 5px;
        height: 25%;
    }
    
    .drop_target_title
    {
        line-height: 250px;
        padding: 5px;
    }
}

.tile-box-item
{
    transition: all .3s;
    position: relative;
    padding: 0;
    width: 250px;
    height: 250px;
    margin: 15px;
    overflow: hidden;
    border-radius: 3px;
    box-sizing: border-box;
    
    &:active
    {
        cursor: move;
    }
    
    &.is_selected
    {
        border: $brand-yellow solid 2px;
        border-radius: 0;
    }
    
    &.is_drop_target
    {
        border: $gray-light-3 dashed 2px;
        background-color: $gray-light-5;
        text-align: center;
        
        &.black_border
        {
            border: $gray-dark dashed 2px;
            background-color: $gray-light-3;
            
            > .drop_target_title
            {
                color: $gray-dark;
            }
        }
    }
    .drop_target_title
    {
        color: $gray-light-2;
        font-style: italic;
        font-size: $font-size-lg-1;
        display: block;
        height: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.light_blue
{
    border: $brand-primary-lighter solid 2px;
    border-radius: 0;
    background: $brand-primary-lighter;
}

.blue
{
    border: $brand-primary-dark solid 2px;
    border-radius: 0;
    background: $brand-primary-dark;
}

.dark_blue
{
    border: $brand-primary-darker solid 2px;
    border-radius: 0;
    background: $brand-primary-darker;
    
    &.is_dragging
    {
        border: $brand-secondary-light dashed 2px;
    }
}

.dark_blue .tile-box-title,
.dark_blue .tile-box-sub_title,
.dark_blue .tile-box-text
{
    color: $white;
}

.tile-box-image
{
    margin: 7px .3em .3em 7px;
    width: 25%;
    height: 25%;
    border-radius: 2px;
    border: none;
    float: left;
    pointer-events: none;
    background-size: cover;
}

.tile-box-align-bottom
{
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    line-height: 48px;
    padding-left: 5px;
    
    hr
    {
        margin: 5px 0;
    }
}

.tile-box-action-icon
{
    width: 30px;
    height: 30px;
    position: relative;
    float: left;
    margin-right: 1em;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}

.tile-box-title
{
    font-size: 1.4em;
    margin: 0;
    line-height: 1.6em;
    height: 1.6em;
    font-weight: normal;
    text-align: center;
    color: $black;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tile-box-sub_title
{
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-align: center;
    font-size: .8em;
    color: $black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

$font-size: 13px;
$line-height: 1;
$lines-to-show: 8;

.tile-box-text
{
    margin: 1em 0 0 0;
    padding: 0 1em;
    font-weight: normal;
    text-align: left;
    line-height: $line-height;
    font-size: $font-size;
    color: $black;
    display: -webkit-box;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    height: $font-size*$line-height*$lines-to-show;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*LINE VIEW*/

.line-view
{
    .title-wrapper
    {
        width: 25%;
    }
    .tile-box-item
    {
        transition: all .3s;
        position: relative;
        padding: 0;
        width: 100%;
        height: 48px;
        margin: 0 0 2px;
        overflow: hidden;
        border-radius: 0;
    }
    
    .drop_target_title
    {
        line-height: 48px;
    }
    
    .tile-box-align-bottom
    {
        left: auto;
        right: 5px;
        width: 25%;
        text-align: left;
        
        terra-button
        {
            display: inline-block;
        }
        
        hr
        {
            display: none;
        }
    }
    
    .tile-box-image
    {
        width: 30px;
        height: 30px;
    }
    
    .tile-box-title,
    .tile-box-sub_title,
    .tile-box-text
    {
        margin: 0 3px;
        padding: 0 3px 0 0;
        text-align: left;
        height: 100%;
        width: 40%;
        display: block;
        float: left;
        position: relative;
        line-height: 48px;
        border-right: $white 1px solid;
    }
    
    .tile-box-text
    {
        width: 50%;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.dark_blue
{
    .line-view
    {
        .tile-box-title,
        .tile-box-version,
        .tile-box-text
        {
            border-right: $black 1px solid;
        }
    }
}

.is_dragging
{
    border: $brand-secondary dashed 2px;
}
