<div class="tile-box-item is_drop_target" [hidden]="!inputIsDropTarget" [ngClass]="{'black_border': inputIsHover}">
    <span class="drop_target_title">{{inputTitle}}</span>
</div>
<div [hidden]="inputIsDropTarget" class="tile-box-item"
     [ngClass]="setClassesToTileBoxItem()">
    <div *ngIf="inputImagePath && inputImagePath.length > 0" class="tile-box-image"
         [style.background-image]="'url(' + inputImagePath + ')'"></div>
    
    <!-- image placeholder for line view -->
    <div *ngIf="inputIsLineView && (!inputImagePath || inputImagePath.length == 0)" class="tile-box-image"></div>
    <!-- -->
    
    <div class="title-wrapper">
        <h1 class="tile-box-title">
            {{inputTitle}}
        </h1>
        <div class='tile-box-sub_title' *ngIf="inputSubTitle && inputSubTitle.length > 0">
            {{inputSubTitle}}
        </div>
    </div>
    <div class="tile-box-text">
        {{inputText}}
    </div>
    <div *ngIf="inputButtonList && inputButtonList.length > 0" class="tile-box-align-bottom" (click)="stopPropagation($event)">
        <hr *ngIf="inputButtonList && inputButtonList.length > 0">
        <ng-template ngFor let-button [ngForOf]="inputButtonList">
            <terra-button [inputCaption]="button.caption"
                          [inputTooltipText]="button.tooltipText"
                          (outputClicked)="button.clickFunction()"
                          [inputIcon]="button.icon"></terra-button>
        </ng-template>
    </div>
</div>
