.no-result
{
    text-align: center;
    font-family: var(--font-family);
    display: block;
    padding: 10em .3em .3em .5em;
    text-decoration: none;
    border: 0;
    border-radius: 0;
    .text-prime
    {
        color: var(--color-structure-11);
        font-size: 2.7rem;
    }
    .text-second
    {
        font-size: 1.3rem;
        color: var(--color-structure-6);
        margin-bottom: 10px;
    }
}
