<terra-split-view class="terra-navigator"
                  [ngClass]="{'has-search': inputBaseRoute && inputRouter}"
                  [inputUpdateViewport]="_updateViewport"
                  [inputModules]="_terraNavigatorSplitViewConfig.modules"
                  [inputShowBreadcrumbs]="true">
    <terra-suggestion-box
        *ngIf="inputBaseRoute && inputRouter"
        [inputName]="'terraNavigator.search' | translate:lang"
        [inputListBoxValues]="_searchNodeList"
        [inputWithRecentlyUsed]="true"
        (outputValueChanged)="openSelectedNode($event)">
    </terra-suggestion-box>
    <ng-content *ngIf="!inputBaseRoute || !inputRouter">
    </ng-content>
</terra-split-view>
