@import "../input/terra-input.component";

.select-box-wrapper
{
    position: relative;
    background-color: var(--color-structure-0);
    margin: var(--select-box-wrapper-margin, 0);
    margin-bottom: var(--select-box-wrapper-margin-bottom, 3px);
    cursor: pointer;
    height: var(--select-box-height, var(--select-box-height-default));
    line-height: var(--select-box-line-height, var(--select-box-line-height-default));
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    
    label &.disabled
    {
        cursor: not-allowed;
    }
    
    &.error
    {
        border-bottom: 2px solid var(--color-alert);
    }
    
    &.isSmall
    {
        height: var(--height-sm);
        line-height: var(--height-sm);
        .select-box
        {
            background-position: calc(100% - var(--space-md)) var(--space-md);
            padding: var(--space-sm) var(--space-sm) var(--space-sm) 30%;
            &.labeled
            {
                padding: 0 var(--space-md) 0 30%;
            }
        }
    }
    
    .select-box
    {
        transition: height var(--transition-lg), line-height var(--transition-lg);
        display: inline-block;
        width: var(--select-box-width, 100%);
        max-width: 100%;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 0 var(--space-lg);
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat;
        background-position: var(--select-box-toggle-background-position, var(--select-box-toggle-background-position-default));
        background-size: 8px 10px;
        color: var(--color-structure-12);
        height: 100%;
        line-height: 100%;
        border-bottom: 1px solid var(--border-color);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        
        &.error
        {
            border-bottom: 2px solid var(--color-alert);
            color: var(--color-alert);
        }
        
        span
        {
            width: calc(100% - 20px);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            font-weight: var(--font-weight-2);
            height: 100%;
            line-height: 100%;
        }
        &.labeled
        {
            padding: var(--select-box-labeled-padding, var(--select-box-labeled-padding-default));
            transition: padding var(--transition-lg);
            span
            {
                line-height: calc(var(--height-md) - var(--space-lg));
            }
        }
    }
    
    &:not(.error):not(.disabled)
    {
        &::after
        {
            content: "";
            display: block;
            width: 0%;
            position: absolute;
            height: 2px;
            background-color: var(--color-active);
            transition: width var(--transition-md);
            bottom: 0;
        }
        &:hover
        {
            label
            {
                color: var(--color-active);
                transition: color var(--transition-sm);
            }
            &::after
            {
                width: 100%;
            }
        }
    }
    
    &.disabled
    {
        background-color: var(--color-structure-2);
        
        .select-box
        {
            filter: opacity(30%);
            cursor: not-allowed;
            
            span
            {
                padding-left: var(--space-md);
            }
        }
        
        label
        {
            padding-left: var(--space-md);
        }

        .select-box-dropdown
        {
            display: none !important;
        }
    }
    
    &.open
    {
        .select-box-dropdown
        {
            display: block;
        }
    }
    
    .select-box-dropdown
    {
        position: absolute;
        z-index: 99999;
        top: var(--select-box-dropdown-top, var(--select-box-dropdown-top-default));
        bottom: initial;
        left: 0;
        min-width: 100%;
        width: auto;
        max-height: 12rem;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        background: var(--color-structure-0);
        display: none;
        overflow: auto;
        box-shadow: var(--box-shadow);
        
        &.openOnTop
        {
            top: initial;
            bottom: var(--height-md);
        }
        
        &.isSmall
        {
            top: var(--height-sm);
        }
        
        > span
        {
            display: block;
            width: 100%;
            padding: .25em 1em;
            line-height: 18px;
            min-height: 24px;
            cursor: pointer;
            &:hover,
            &.selected
            {
                background: var(--color-structure-3);
            }
            &.active
            {
                background: var(--color-active);
                color: var(--color-structure-0);
            }
            &.highlight
            {
                font-weight: bolder;
                color: var(--color-add);
            }
            &.deep
            {
                font-style: italic;
                color: var(--color-structure-8);
                font-weight: lighter;
            }
        }
    }
}
