@import "../input/terra-input.component";

.select-box-wrapper
{
    position: relative;
    background-color: var(--color-structure-0);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-structure-0);
    margin: var(--select-box-wrapper-margin, 0);
    margin-bottom: var(--select-box-wrapper-margin-bottom, 3px);
    cursor: pointer;
    height: var(--select-box-height, var(--select-box-height-default));
    line-height: var(--select-box-line-height, var(--select-box-line-height-default));
    
    label &.disabled
    {
        cursor: not-allowed;
    }
    
    &.error
    {
        border-color: var(--color-alert);
    }
    
    &.isSmall
    {
        height: var(--height-sm);
        line-height: var(--height-sm);
        .select-box
        {
            background-position: calc(100% - 11px) 7px;
            &.labeled
            {
                padding: 0 7px 0 30%;
            }
        }
    }
    
    .select-box
    {
        transition: height var(--transition-lg), line-height var(--transition-lg);
        display: inline-block;
        width: var(--select-box-width, 100%);
        max-width: 100%;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 0 var(--space-lg);
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat;
        background-position: var(--select-box-toggle-background-position, var(--select-box-toggle-background-position-default));
        background-size: 8px 10px;
        color: var(--color-structure-10);
        height: 100%;
        line-height: 100%;

        &.error
        {
            border-color: var(--color-alert);
            color: var(--color-alert);
            background-size: 8px 10px;
        }

        span
        {
            width: calc(100% - 20px);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            font-weight: var(--font-weight-2);
            height: 100%;
            line-height: 100%;
        }
        &.labeled
        {
            //line-height: var(--space-lg);
            padding: var(--select-box-labeled-padding, var(--select-box-labeled-padding-default));
            transition: padding var(--transition-lg);
            span
            {
                line-height: calc(var(--height-md) - var(--space-lg));
            }
        }
    }
    &:not(.error):hover
    {
        border: 1px solid var(--color-active);
    }
    &.disabled
    {
        background-color: var(--color-structure-2);
        border: 1px solid var(--color-structure-5);
        .select-box
        {
            filter: opacity(30%);
        }
        
        .select-box
        {
            cursor: not-allowed;
        }
        .select-box-dropdown
        {
            display: none !important;
        }
    }
    
    &.open
    {
        .select-box-dropdown
        {
            display: block;
        }
    }
    
    .select-box-dropdown
    {
        position: absolute;
        z-index: 99999;
        top: var(--select-box-dropdown-top, var(--select-box-dropdown-top-default));
        bottom: initial;
        left: 0;
        min-width: 100%;
        width: auto;
        max-height: 12rem;
        border-radius: var(--border-radius);
        background: var(--color-structure-0);
        display: none;
        overflow: auto;
        border: 1px solid var(--color-structure-4);
        
        &.openOnTop
        {
            top: initial;
            bottom: var(--height-md);
        }
        
        &.isSmall
        {
            top: var(--height-sm);
        }
        
        > span
        {
            display: block;
            width: 100%;
            padding: .25em 1em;
            line-height: 18px;
            min-height: 24px;
            cursor: pointer;
            &:hover,
            &.selected
            {
                background: var(--color-structure-3);
            }
            &.active
            {
                background: var(--color-active);
                color: var(--color-structure-0);
            }
            &.highlight
            {
                font-weight: bolder;
                color: var(--color-add);
            }
            &.deep
            {
                font-style: italic;
                color: var(--color-structure-8);
                font-weight: lighter;
            }
        }
    }
}
