<div>
    <terra-text-input [inputIsReadonly]="true"
                      [inputName]="_categoryInputName"
                      [(ngModel)]="_categoryInputValue"
                      (click)="showTree()">
    </terra-text-input>
    <div *ngIf="_toggleTree" onblur="showTree()">
        <terra-node-tree [inputShowSearch]="true"
                         [inputConfig]="categoryTreeConfig">
        </terra-node-tree>
        <terra-base-toolbar>
            <terra-button inputTooltipText="{{'cancel' | translate:lang}}"
                          inputTooltipPlacement="top"
                          inputIcon="icon-cancel"
                          [inputIsSmall]="true"
                          (outputClicked)="showTree()">
            </terra-button>
            <terra-button inputTooltipText="{{'contentBuilder.select' | translate:lang}}"
                          inputTooltipPlacement="top"
                          inputIcon="icon-success"
                          [inputIsSmall]="true"
                          (outputClicked)="onSelectNode()">
            </terra-button>
        </terra-base-toolbar>
    </div>
</div>
