<div blur="showTree()">
    <terra-text-input [inputIsReadonly]="true"
                      [inputIsDisabled]="inputIsDisabled"
                      inputTooltipText="{{inputTooltipText}}"
                      [inputName]="inputName"
                      [(ngModel)]="categoryName"
                      (click)="showTree()">
    </terra-text-input>
    <div *ngIf="toggleTree">
        <terra-node-tree [inputShowSearch]="false"
                         [inputConfig]="nestedTreeConfig">
        </terra-node-tree>
        <terra-base-toolbar>
            <terra-button inputTooltipText="{{'terraCategoryPicker.select' | translate:lang}}"
                          inputTooltipPlacement="top"
                          inputIcon="icon-success"
                          [inputIsSmall]="true"
                          [inputIsDisabled]="isContainerCategorySelected"
                          [inputIsTertiary]="true"
                          (outputClicked)="onSelectNode()">
            </terra-button>
            <terra-button inputTooltipText="{{'cancel' | translate:lang}}"
                          inputTooltipPlacement="top"
                          inputIcon="icon-cancel"
                          [inputIsSmall]="true"
                          [inputIsSecondary]="true"
                          (outputClicked)="showTree()">
            </terra-button>
            <terra-button inputTooltipText="{{'terraCategoryPicker.reset' | translate:lang}}"
                          inputTooltipPlacement="top"
                          inputIcon="icon-reset"
                          [inputIsSmall]="true"
                          (outputClicked)="reset()">
            </terra-button>
        </terra-base-toolbar>
    </div>
</div>
