@import "~bootstrap/scss/mixins";

// List of variables
$btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
$btn-active-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);

button, html [type="button"], [type="reset"], [type="submit"]
{
    -webkit-appearance: none !important;
}

button:focus
{
    outline: none !important;
}

.btn-handler
{
    display: inline-block;
    position: relative;
    &.disabled
    {
        cursor: not-allowed;
        .btn
        {
            background-color: $grey-3;
            color: $grey-7;
            cursor: not-allowed;
            &:hover,
            &:active,
            &.active
            {
                background-color: $grey-3;
                color: $grey-7;
                cursor: not-allowed;
            }
            &.btn-link
            {
                background-color: transparent;
                color: $grey-4;
                font-weight: $font-weight-3;
                
                &:hover
                {
                    background-color: transparent;
                    color: $grey-4;
                    &:active,
                    &.active
                    {
                        background-color: transparent;
                        color: $grey-4;
                    }
                }
            }
        }
    }
    .flag
    {
        position: absolute;
        right: 0;
        top: 0;
        overflow: hidden;
        width: 15px;
        height: 15px;
        border-top-right-radius: 0.2rem;
        cursor: pointer;
        
        &.disabled
        {
            cursor: not-allowed;
        }
        
        span
        {
            font-weight: 600;
            font-size: 1.1rem;
            color: $white;
            text-align: center;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            width: 20px;
            display: block;
            position: absolute;
            top: -2px;
            right: -7px;
            cursor: pointer;
            background: $brand-yellow;
            border-top: 10px solid $brand-yellow;
            &.disabled
            {
                background: $brand-yellow-light;
                border-top: 10px solid $brand-yellow-light;
                cursor: not-allowed;
            }
        }
    }
}

.btn
{
    
    height: $terra-btn-md-height;
    line-height: $terra-btn-md-height;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    padding: var(--btn-padding, 0 8px);
    border-radius: $border-radius;
    font-size: $font-size-3;
    @include transition(all .2s ease-in-out);
    @include button-variant($white, $grey-9, transparent);
    
    &:hover
    {
        background-color: $grey-11;
        background-clip: padding-box;
        &:active,
        &.active
        {
            background-color: $grey-9;
            background-clip: padding-box;
        }
    }
    
    &.btn-primary
    {
        &:not(.highlighted)
        {
            background-color: $blue;
            &:hover
            {
                background-color: $blue-hover;
                &:active,
                &.active
                {
                    background-color: $blue;
                }
            }
        }
        &.highlighted
        {
            @keyframes highlight-primary
            {
                100%
                {
                    background-color: $blue
                }
            }
            animation: highlight-primary 1500ms ease-in-out 0ms infinite alternate;
        }
    }
    &.btn-secondary
    {
        &:not(.highlighted)
        {
            background-color: $alert-red;
            &:hover
            {
                background-color: darken($alert-red, 10%);
                &:active,
                &.active
                {
                    background-color: $alert-red;
                }
            }
        }
        &.highlighted
        {
            @keyframes highlight-secondary
            {
                100%
                {
                    background-color: $alert-red
                }
            }
            animation: highlight-secondary 1500ms ease-in-out 0ms infinite alternate;
        }
    }
    &.btn-tertiary
    {
        &:not(.highlighted)
        {
            background: $alert-green;
            color: white;
            &:hover
            {
                background-color: darken($alert-green, 10%);
                &:active,
                &.active
                {
                    background-color: $alert-green;
                }
            }
        }
        &.highlighted
        {
            @keyframes highlight-tertiary
            {
                100%
                {
                    background-color: $alert-green
                }
            }
            animation: highlight-tertiary 1500ms ease-in-out 0ms infinite alternate;
        }
    }
    
    span
    {
        font-size: 20px;
        position: relative;
        top: 4.0px;
        &.icon_dist_top
        {
            line-height: 0px;
        }
    }
    
    &.btn-lg
    {
        // line-height: ensure even-numbered height of button next to large input
        height: $terra-btn-lg-height;
        line-height: $terra-btn-lg-height;
        padding: var(--btn-lg-padding, 0 8px);
        font-size: $font-size-5;
        span
        {
            top: 4px;
            font-size: $font-size-6;
        }
    }
    
    &.btn-sm
    {
        // line-height: ensure proper height of button next to small input
        height: $terra-btn-sm-height;
        line-height: $terra-btn-sm-height;
        padding: var(--btn-sm-padding, 0 8px);
        font-size: $font-size-1;
        span
        {
            top: 3px;
            font-size: $font-size-5;
        }
    }
    
    &.activated
    {
        background-color: $blue !important;
        color: $white !important;
    }
    
    &.btn-link
    {
        background-color: transparent;
        color: $grey-9;
        font-weight: $font-weight-3;
        
        &:hover
        {
            background-color: transparent;
            color: $blue;
            &:active,
            &.active
            {
                background-color: transparent;
                color: $grey-9;
            }
        }
        &.btn-primary
        {
            background-color: transparent;
            color: $blue;
            &:hover
            {
                background-color: transparent;
                color: $blue-hover;
                &:active,
                &.active
                {
                    background-color: transparent;
                    color: $blue;
                }
            }
        }
        &.btn-secondary
        {
            background-color: transparent;
            color: $alert-red;
            &:hover
            {
                background-color: transparent;
                color: darken($alert-red, 10%);
                &:active,
                &.active
                {
                    background-color: transparent;
                    color: $alert-red;
                }
            }
        }
        &.btn-tertiary
        {
            background-color: transparent;
            color: $alert-green;
            &:hover
            {
                background-color: transparent;
                color: darken($alert-green, 10%);
                &:active,
                &.active
                {
                    background-color: transparent;
                    color: $alert-green;
                }
            }
        }
    }
}

button.btn:focus
{
    background-color: $grey-9;
    
    &.btn-link
    {
        background-color: transparent;
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn
{
    pointer-events: none;
}

:host-context(.btn-block)
{
    .btn,
    .btn-handler
    {
        display: block;
        float: none;
        max-width: 100%;
        width: 100%;
    }
}

////////////// Button Group (Horizontal) //////////////

:host-context(.btn-group)
{
    float: left;
    &:not(:first-child) .btn
    {
        border-left: 1px solid $grey-2;
    }
    
    &:first-child
    {
        margin-left: 0;
        &:not(:last-child) > .btn-handler > .btn,
        &:not(:last-child) > .btn-handler > .flag
        {
            @include border-right-radius(0);
        }
    }
    
    &:not(:first-child):not(:last-child) > .btn-handler > .btn,
    &:not(:first-child):not(:last-child) > .btn-handler > .flag
    {
        border-radius: 0;
    }
    
    &:last-child
    {
        margin-left: 0;
        &:not(:first-child) > .btn-handler > .btn,
        &:not(:first-child) > .btn-handler > .flag
        {
            @include border-left-radius(0);
        }
    }
}

////////////// Button Group Vertical & Menu //////////////

:host-context(.btn-group-vertical, .btn-group-menu), .btn-group-menu
{
    .btn,
    .btn-handler
    {
        display: block;
        float: none;
        max-width: 100%;
        width: 100%;
        text-align: left;
    }
    &:first-child:not(:last-child) .btn
    {
        border-radius: $border-radius $border-radius 0 0;
        margin: 0px 0px 1px 0px;
    }
    
    &:not(:first-child):not(:last-child) .btn
    {
        border-radius: 0;
        margin: 1px 0;
    }
    
    &:last-child:not(:first-child) .btn
    {
        border-radius: 0 0 $border-radius $border-radius;
        margin: 1px 0px 0px 0px;
    }
    
    &:last-child:not(:first-child) .flag
    {
        border-radius: 0 0 $border-radius $border-radius;
    }
    
    &:not(:first-child):not(:last-child) .flag
    {
        border-radius: 0;
    }
    
    &:first-child:not(:last-child) .flag
    {
        border-radius: $border-radius $border-radius 0 0;
    }
}

:host-context(.btn-group-menu), .btn-group-menu
{
    .btn
    {
        padding: 0px 18px 0px 9px !important;
        border-radius: $border-radius !important;
        margin: 1px 0px;
        
        .icon-right
        {
            margin-top: 8px;
            position: absolute !important;
            right: 0;
            top: initial !important;
        }
    }
    
    .btn-divider,
    .btn-divider:hover,
    .btn-divider:active
    {
        background-color: transparent !important;
        margin-bottom: 3px !important;
        margin-top: 3px !important;
        cursor: default;
        height: 1px;
    }
    &:first-child:not(:last-child),
    .btn-handler:first-child:not(:last-child)
    {
        .btn
        {
            margin-top: 4px !important;
        }
    }
}

