<ng-template #tooltipTemplate>
    <div [innerHtml]="inputTooltipText"></div>
</ng-template>
<div [isDisabled]="!inputTooltipText"
     class="btn-handler"
     [tooltip]="tooltipTemplate"
     [placement]="currentTooltipPlacement"
     [container]="'body'"
     (mouseenter)="setTooltipPlacement($event)"
     [ngClass]="{'pull-xs-right': inputIsAlignRight,
                 'disabled': inputIsDisabled}"
     (click)="click($event)">
    <button class="btn"
            [attr.data-icon]="inputIcon"
            [ngClass]="{'btn-primary' : inputIsPrimary,
                      'btn-secondary' : inputIsSecondary,
                      'btn-tertiary': inputIsTertiary,
                      'btn-sm' : inputIsSmall,
                      'btn-lg' : inputIsLarge,
                      'activated' : inputIsActive && !inputIsDivider,
                      'highlighted' : inputIsHighlighted,
                      'btn-divider' : inputIsDivider,
                      'btn-link' : inputIsLink ,
                      'btn-major': inputIsMajor}"
            [hidden]="inputIsHidden"
            [type]="inputType">
        <span *ngIf="inputIcon" class="icon_dist_top" [ngClass]="inputIcon"></span>
        {{inputCaption}}
        <ng-content select="[btn-inner]"></ng-content>
    </button>
    <ng-content select="[btn-outer]"></ng-content>
    <div *ngIf="inputIsFlagged && !inputIsHidden"
         class="flag"
         [ngClass]="{'disabled': inputIsDisabled}">
        <span [ngClass]="{'disabled': inputIsDisabled}"></span>
    </div>
</div>
