<div class="toggleView" *ngIf="inputIsViewToggleable">
    <terra-button inputCaption="Toggle View" (outputClicked)="toggleView()"></terra-button>
</div>
<div class="tile-box-container" [ngClass]="{'tile-view': !viewStyle, 'line-view': viewStyle}">
    <ng-template ngFor let-tile [ngForOf]="inputTileBoxList">
        <terra-tile-box [inputIsDragging]="tile.isDragging"
                        [inputIsSelected]="tile.isSelected"
                        [inputTitle]="tile.title"
                        [inputText]="tile.text"
                        [inputSubTitle]="tile.subTitle"
                        [inputImagePath]="tile.imagePath"
                        [inputIsDropTarget]="tile.isDropTarget"
                        [inputIsHover]="tile.isHover"
                        [inputColor]="tile.color"
                        [inputIsLineView]="viewStyle"
                        [draggable]="true"
                        (click)="onBoxClick($event, tile)"
                        (drop)="onDrop($event, tile)"
                        (dragover)="onDragOver($event, tile)"
                        (dragstart)="onDragStart($event, tile)"
                        (dragend)="onDragEnd($event, tile)"
                        (dragleave)="onDragLeave($event, tile)"
                        [inputButtonList]="tile.buttonList"></terra-tile-box>
    </ng-template>
</div>
