.portlet
{
    border-radius: var(--border-radius);
    margin: var(--space-container);
    
    .portlet-head
    {
        padding: var(--space-sm) var(--space-md);
        background: transparent;
        
        display: -webkit-flex; /* Safari */
        -webkit-justify-content: flex-start; /* Safari 6.1+ */
        display: flex;
        justify-content: space-between;
        
        span
        {
            color: var(--color-structure-12);
            font-size: var(--font-size-4);
            font-weight: var(--font-weight-2);
        }
        
        [class^="icon-"]
        {
            padding: var(--space-sm);
            transition: all var(--transition-xs);
            justify-content: flex-end;
            
            &.rotated
            {
                transform: rotate(180deg);
            }
        }
        
        .header-caption
        {
            justify-content: flex-start;
        }
        .header-buttons
        {
            justify-content: flex-end;
            margin: -2px;
        }
    }
    
    .portlet-body
    {
        background-color: var(--portlet-body-background-color, var(--color-structure-0));
        padding: var(--portlet-body-padding, var(--space-lg));
        transition: padding var(--transition-lg);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
    }
    
    &.collapsable
    {
        .portlet-head
        {
            cursor: pointer;
            background-color: var(--collapsable-portlet-head-background-color, var(--color-structure-0));
            border-radius: var(--border-radius);
            transition: background-color var(--transition-sm);
            box-shadow: var(--box-shadow);
            
            &.unfolded
            {
                background-color: transparent;
            }
        }
    }
    
    &.collapsable
    {
        .collapsed
        {
            overflow: hidden;
        }
    }
    
    &.highlight
    {
        &:hover
        {
            border: 1px solid var(--color-active-dark);
        }
    }
    
    //portlet in portlet
    .portlet
    {
        .portlet-head
        {
            padding: var(--space-sm) 0;
        }
        .portlet-body
        {
            padding: 0;
            border-radius: var(--border-radius);
            box-shadow: none;
        }
    }
}

