<div class="portlet" [ngClass]="{ 'collapsable': inputIsCollapsable,'highlight': inputHighlightPortlet }">
    
    <div *ngIf="inputPortletHeader?.length"
         class="portlet_head"
         [class.unfolded]="!inputCollapsed"
         (click)="toggleCollapse()">
        <span class="header-caption">{{inputPortletHeader}}</span>
        <div>
            <div class="header-buttons btn-group" (click)="$event.stopPropagation()">
                <terra-button *ngFor="let button of inputButtonList"
                              [inputIcon]="button.icon"
                              [inputCaption]="button.caption"
                              [inputTooltipText]="button.tooltipText"
                              (outputClicked)="button.clickFunction()"
                              [inputTooltipPlacement]="button.tooltipPlacement"
                              [inputIsPrimary]="button.isPrimary"
                              [inputIsSecondary]="button.isSecondary"
                              [inputIsTertiary]="button.isTertiary"
                              [inputIsActive]="button.isActive"
                              [inputIsDisabled]="button.isDisabled"
                              [inputIsHidden]="button.isHidden"
                              [inputIsDivider]="button.isDivider"
                              [inputIsHighlighted]="button.isHighlighted"
                              [inputIsSmall]="true">
                </terra-button>
            </div>
            <span class="icon-collapse_down" [class.rotated]="inputCollapsed" *ngIf="inputIsCollapsable"></span>
        </div>
    </div>
    
    <div class="portlet_body" [@collapsedState]="collapsedState">
        <ng-content></ng-content>
    </div>
</div>
