<div class="note"
     [ngClass]="{'selected': inputIsSelected}">
    <div class="note-inner">
        <div class="note-text pull-sm-left">
            <span class="note-header">{{inputHeaderText}}</span>
            <hr>
            <div [innerHTML]="inputNoteText"></div>
        </div>
        <div class="note-sidebar">
            <div class="btn-group-vertical" role="group">
                <ng-content select="[buttons]"></ng-content>
            </div>
            <span *ngIf="inputId" class="note-id">#{{ inputId }}</span>
        </div>
    </div>
</div>
