.note
{
    background-color: #F9F3E7;
    -moz-border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    border-radius: $border-radius;
    padding: 8px;
    min-width: 200px;
    margin: 4px 0px;
    height: auto;
    overflow-x: auto;
    &.selected
    {
        background-color: $blue;
        
        .note-inner
        {
            .note-text
            {
                color: $white;
            }
        }
        .note-footer
        {
            .note-id
            {
                color: $white;
            }
        }
    }
    .note-inner
    {
        display: flex;
        justify-content: space-between;
        height: calc(100% - 26px);
        
        .note-text
        {
            padding-right: 0.8rem;
            padding-bottom: 0.4rem;
            max-width: 77%;
            white-space: nowrap;
            color: $grey-11;
            hr
            {
                margin: 0;
            }
            div
            {
                white-space: pre-wrap;
            }
        }
    }
    .note-footer
    {
        display: flex;
        justify-content: flex-end;
        .note-id
        {
            margin: 7px 4px 0px 0px;
            color: $grey-8;
        }
    }
}
