.form-entry-label
{
    font-weight: var(--font-weight-2);
}

.form-entry-vertical
{
    .form-entry-container
    {
        padding-left: var(--space-lg);
    }
}

:host-context(.form-entry-horizontal)
{
    > .form
    {
        display: flex;

        > .form-entry
        {
            flex: 1;

            + .form-entry
            {
                margin-left: var(--space-sm)
            }
        }
    }
}
