<div class="form">
    <ng-template ngFor let-field [ngForOf]="formFields">
        <div class="form-entry" *ngIf="formFieldVisibility[field.key]" [formGroup]="formGroup">
            <terra-form-entry
                *ngIf="!field.value.isList"
                [formControlName]="field.key"
                [inputForm]="formGroup"
                [inputFormField]="field.value"
                [inputIsDisabled]="inputIsDisabled"
                [inputScope]="inputScope"
                [inputControlTypeMap]="inputControlTypeMap"
                [inputFormFieldKey]="field.key"
            ></terra-form-entry>
            
            <terra-form-entry-list
                *ngIf="field.value.isList"
                [formArrayName]="field.key"
                [inputFormGroup]="formGroup"
                [inputFormFieldKey]="field.key"
                [inputFormField]="field.value"
                [inputListRange]="field.value.isList"
                [inputIsDisabled]="inputIsDisabled"
                [inputScope]="inputScope"
                [inputControlTypeMap]="inputControlTypeMap"
                [inputValues]="inputValues[field.key]"
            ></terra-form-entry-list>
        </div>
    </ng-template>
</div>
