# This is displayed in the pr check area
name: Comparison to 5.X.X

# Controls when the action will run. Triggers the workflow on pull request
# events but only for the 5.X.X branch
on:
  pull_request:
    branches: [ 5.X.X ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  check-integrity:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Clean install of the node dependencies
    - name: Clean install
      run: npm ci

    # Runs the set of integrity checks concurrently
    - name: Run checks
      run: |
        npm run lint
        npm run build:lib
        npm run build:dev-app
        npm run build:schematics
        npm run test-headless-coverage
