<div class="container-fluid" blur="showTree()">
    <div class="row">
        <terra-text-input class="col-md-11"
                        [inputIsReadonly]="false"
                        [inputIsDisabled]="inputIsDisabled"
                        inputTooltipText="{{inputTooltipText}}"
                        [inputName]="inputName"
                        [(ngModel)]="nestedDataName"
                        (click)="showTree()">
        </terra-text-input>
        <terra-button   class="col-md-1"
                        inputTooltipText="{{'cancel' | translate:lang}}"
                        inputTooltipPlacement="top"
                        inputIcon="icon-cancel"
                        [inputIsSecondary]="true"
                        (outputClicked)="reset()">
        </terra-button>
    </div>
    <div *ngIf="toggleTree">
        <terra-node-tree [inputShowSearch]="false"
                         [inputConfig]="nestedTreeConfig">
        </terra-node-tree>
        <terra-base-toolbar>
            <terra-button inputTooltipText="{{'terraNestedDataPicker.select' | translate:lang}}"
                          inputTooltipPlacement="top"
                          inputIcon="icon-success"
                          [inputIsSmall]="true"
                          [inputIsDisabled]="isContainerDataSelected"
                          [inputIsTertiary]="true"
                          (outputClicked)="onSelectNode()">
            </terra-button>
            <terra-button inputTooltipText="{{'cancel' | translate:lang}}"
                          inputTooltipPlacement="top"
                          inputIcon="icon-cancel"
                          [inputIsSmall]="true"
                          [inputIsSecondary]="true"
                          (outputClicked)="showTree()">
            </terra-button>
            <terra-button inputTooltipText="{{'terraNestedDataPicker.reset' | translate:lang}}"
                          inputTooltipPlacement="top"
                          inputIcon="icon-reset"
                          [inputIsSmall]="true"
                          (outputClicked)="reset()">
            </terra-button>
        </terra-base-toolbar>
    </div>
</div>
