<div bsModal #overlay="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" [ngClass]="{'modal-lg': inputIsLarge, 'modal-sm': inputIsSmall}">
        <div class="modal-content">
            <div class="modal-header" *ngIf="inputIsCloseable && inputOverlayTitle">
                <plenty-button *ngIf="inputIsCloseable" [inputIsAlignRight]="true" icon="icon-close"
                               (clicked)="overlay.hide()"></plenty-button>
                <h4 class="modal-title">{{inputOverlayTitle}}</h4>
            </div>
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
            <div class="modal-footer" *ngIf="inputHasPrimaryButton || inputHasSecondaryButton || inputHasSaveButton">
                <plenty-button *ngIf="inputHasPrimaryButton" [inputIsAlignRight]="false" [inputIsPrimary]="true" caption="Add"
                               icon="icon-add" tooltipText="{{inputAddButtonTooltip}}" tooltipPlacement="bottom"
                               (clicked)="primaryClicked()"></plenty-button>
                <plenty-button *ngIf="hasSaveButton" [inputIsAlignRight]="false" [inputIsPrimary]="true" caption="Save" icon="icon-save"
                               tooltipText="{{inputSaveButtonTooltip}}" tooltipPlacement="bottom"
                               (clicked)="primaryClicked()"></plenty-button>
                <plenty-button *ngIf="inputHasSecondaryButton" [inputIsAlignRight]="false" [inputIsSecondary]="true" caption="Cancel"
                               icon="icon-cancel" tooltipText="{{inputCancelButtonTooltip}}" tooltipPlacement="bottom"
                               (clicked)="secondaryClicked()"></plenty-button>
            </div>
        </div>
    </div>
</div>

